<div class="product">
    <div class="centeral-content">
        <div></div>
        <div class="product-panel">
            <div class="u36DemiBold_v2 mb16">{{ product.title }}</div>
            <div class="u30DemiBold_v2 mb16">{{ product.price | money }}</div>
            <div class="sale mb16">
                <div class="u20DemiBold_v2">€2.699,00 NOW</div>
                <div class="u17DemiBold_v2">with Green travel sale</div>
            </div>
            <div class="sale_acc mb16">
                <div class="u14Light_v2">And get €169 Accessories for <span class="u20DemiBold_v2">Free</span></div>
                {% assign accessories = settings.sale_accessories_ids | split: ',' %}
                {% assign accessories_map = "7633738596568,7633738662104,7633738531032" | split: ',' %}
                <div class="accs">
                    {% for acc in accessories_map %}
                        {% for prod in collections["accessories"].products %}
                            {% if acc contains prod.id %}
                                <div class="acc">
                                    {{ prod.featured_image | image_url: width: 400 | image_tag }}
                                    {% if acc == "7633738662104" %}
                                        <span class="u11Medium_v2">{{ prod.title | truncatewords: 3, "" | replace: "-", "" }}</span>
                                    {% else %}
                                        <span class="u11Medium_v2">{{ prod.title }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="u11Light_v2">*Not available with leasing</div>
            </div>
            <div class="count-down mb16">
                <div class="u17Medium_v2">€600 off + 3 Free Accessories Ends in：</div>
            </div>
            <div class="options">
                {% for option in product.options %}
                    <div class="option" option={{option}}>
                        <div class="u17DemiBold_v2 mb16">{{ option }} - <span class="u17Light_v2"></span></div>
                        <div class="{{ option }} mb16"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    const variants = JSON.parse(JSON.stringify({{ product.variants | json }}))
    let current_variant_id = null
    let current_variant = null
    const styles = {}
    const sizes = {}

    function findVariant (style, size) {
        return variants.find(v => `${style} / ${size}` === v.title)
    }

    function findAvailableVariant () {
        return variants.find(v => v.available)
    }

    function changeAvive (style, size) {
        if (style) {
            $(`.product .product-panel .Style > div[attribute="${style}"]`).addClass('active')
            $(`.product .product-panel .Style .active`).removeClass('active')
        }

        if (size) {
            $(`.product .product-panel .Size > div[attribute="${size}"]`).addClass('active')
            $(`.product .product-panel .Size .active`).removeClass('active')
        }


        if (style && size) {
            current_variant = findVariant(style, size)
            current_variant_id = current_variant.id
        }
    }

    {% for variant in product.variants %}
        styles[{{ variant.option1 | json }}] = 1
        sizes[{{ variant.option2 | json }}] = 1
    {% endfor %}

    console.log('variants', variants)

    for (const style of Object.keys(styles)) {
        $('.product .product-panel .Style').append(`<div attribute="${style}" class="${style}"></div>`)
    }

    for (const size of Object.keys(sizes)) {
        $('.product .product-panel .Size').append(`<div attribute="${size}" class="${size} u17Light_v2">${size}</div>`)
    }


    $('.product-panel .options .option >div:not(.u17DemiBold_v2) > div').on('click',e => {
        const t = $(e.target)
        $(e.target).parent().find('.active').removeClass('active')
        $(e.target).addClass('active')
    })


    changeAvive(findAvailableVariant().option1, findAvailableVariant().option2)
    
</script>