{% comment %}
Renders cart notification

Accepts:
- color_scheme: {String} sets the color scheme of the notification (optional)

Usage:
{% render 'cart-notification' %}
{% endcomment %}

<cart-notification>
  <div class="cart-notification-wrapper page-width">
    <div id="cart-notification" style="visibility:hidden;"
      class="cart-notification focus-inset{% if color_scheme %} color-{{ color_scheme }} gradient{% endif %}"
      aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      <div class="finger-cart"></div>
      <div class="cart-notification__header">
        <!--diy notification-->
        <div class="cart-notification__header-container">
<!--           <div class="notification-tips" style="display:none"><img
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cart-notification-tipsicon.png?" /><span>You
              saved</span>
            <span>0.00</span><span>in total!</span>
          </div> -->
          <div class="notification-tips" style="display:none"><img
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cart-notification-tipsicon.png?" />You are
            eligible for free shipping!
          </div>
<!--           <div class="notification-tips" style="display:none"><img
              src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cart-notification-tipsicon.png?" />
            Free Accessories applied!
          </div> -->
          <h2 class="cart-notification__heading caption-large text-body">{%- render 'icon-checkmark' -%} {{
            'general.cart.item_added' | t }}</h2>
        </div>
        <!---->
        <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a href="{{ routes.cart_url }}" id="cart-notification-button"
          class="button button--secondary button--full-width"></a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
          <button class="button button--primary button--full-width" name="checkout">{{ 'sections.cart.checkout' | t
            }}</button>
        </form>
        <div style="grid-template-columns: 0.6fr 1fr;" class="orderTestRideBtn">
          <img class="twoooo" src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054">
          <span><span class="u17DemiBold_v2">0 APR</span><span>24 months, €112/month</span></span>
        </div>
        <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button>
      </div>
    </div>
  </div>
</cart-notification>
{% style %}
.cart-notification {
display: none;
}
{% endstyle %}

<script>
  $('.cart-notification__links .orderTestRideBtn').on('click', e => {
    fetchBuried('websiteclick', `carbon-order-page-popup`, { button: 'klarna_check_out', action_type: sessionStorage.carbon_one_a_b_test_flag }, true)

    location.href = `/checkout?show_klarna_dialog=show_klarna_dialog`
  })
</script>