{{ 'sumoselect.min.css' | asset_url | stylesheet_tag }}

<div class="forms2" id="forms">
    <div class="centeral-content">
        <div>
            <div class="texts">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jr-color_2x_1c8a412f-c3e7-471b-bbf6-66fdf962538f.png?v=1684121689"
                    alt="">
                <div class="u36DemiBold_v2">Urtopia leasing request form</div>
                <div class="u20DemiBold_v2">Step 1:</div>
                <div class="u17DemiBold_v2">Fill in your contact info</div>
                <div class="u17Light_v2">We require your contact information to communicate important updates and
                    facilitate the leasing process. Rest assured, your details will be kept confidential and used solely
                    for lease-related communications.</div>
            </div>
            <div class="steps">
                <div class="progress">
                    <div class="item u17DemiBold_v2"><br>Contact <br class="pcHide">Info</div>
                        <div class="flex-1 employer"></div>
                        <div class="item u17DemiBold_v2 employer"><br>Employer <br class="pcHide">Info</div>
                    <div class="flex-1"></div>
                    <div class="item u17DemiBold_v2"><br>Shipping <br class="pcHide">Info</div>
                    <div class="flex-1"></div>
                    <div class="item u17DemiBold_v2"><br>Bike <br class="pcHide">Selection</div>
                    <div class="flex-1"></div>
                    <div class="item"><br><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21035_2x_7835d09b-ec3a-4068-abb7-3ed0bf390ad0.png?v=1684123007" alt=""></div>
                </div>
                <div class="items step-1">
                    <form action="" method="post">
                        <div class="item">
                            <div class="mini-item">
                                <div>
                                    <div class="u24Medium">First name<i>*</i></div>
                                    <input type="text" name="first_name" required>
                                </div>
                                <div>
                                    <div class="u24Medium">Last name<i>*</i></div>
                                    <input type="text" name="last_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Email<i>*</i></div>
                            <input type="email" name="email" required>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Phone number<i>*</i></div>
                            <input type="tel" name="phone" required>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Employer<i>*</i></div>
                            <input type="text" name="employer" required>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Your employer already offers JobRad?<i>*</i></div>
                            <div class="multiple-checkbox">
                                <label for="yes">
                                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                        alt="">
                                    <span class="u17Medium_v2">Yes</span>
                                    <input type="radio" id="yes" name="offers" value="yes" required />
                                </label>
                                <label for="no">
                                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                        alt="">
                                    <span class="u17Medium_v2">Not sure</span>
                                    <input type="radio" id="no" name="offers" value="no" required />
                                </label>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="my-button my-button-black" type="submit">Next</button>
                        </div>
                    </form>
                </div>
                <div class="items step-2">
                    <form action="" method="post">
                        <div class="item">
                            <div class="u24Medium">Employer address<i>*</i></div>
                            <input type="hidden" name="employer_address" required>
                        </div> 
                        <div class="item">
                            <div class="u24Medium">Contact person name<i>*</i></div>
                            <input type="hidden" name="contact_person_name" required>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Contact email<i>*</i></div>
                            <input type="hidden" name="contact_email" required>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Contact person phone number<i>*</i></div>
                            <input type="hidden" name="contact_person_phone_number" required>
                        </div>
                        <div class="buttons">
                            <div class="my-button my-button-white pervious">Previous</div>
                            <button class="my-button my-button-black" type="submit">Next</button>
                        </div>
                    </form>
                </div>
                <div class="items step-3">
                    <form action="" method="post">
                        <div class="item">
                            <div class="u24Medium">Delivery address<i>*</i></div>
                            <input type="text" name="address" required>
                        </div>
                        <div class="item">
                            <div class="mini-item">
                                <div>
                                    <div class="u24Medium">Postal code<i>*</i></div>
                                    <input type="text" name="postal_code" required>
                                </div>
                                <div>
                                    <div class="u24Medium">City<i>*</i></div>
                                    <input type="text" name="city" required>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Country<i>*</i></div>
                            <input type="text" name="country" value="Deutschland" disabled required>
                        </div>
                        <div class="buttons">
                            <div class="my-button my-button-white pervious">Previous</div>
                            <button class="my-button my-button-black" type="submit">Next</button>
                        </div>
                    </form>
                </div>
                <div class="items step-4">
                    <form action="" method="post">
                        <div class="item" name="bike_image" style="display:none;">
                            <div class="u24Medium">Bike you choose:</div>
                            <input type="image" name="bike_image" src="" alt="">
                        </div>
                        <div class="item" style="margin: 0;">
                            <div class="u24Medium">Bike Model<i>*</i></div>
                            <input type="text" name="bike_model" value="Carbon 1" disabled required>
                        </div>
                        <div class="item">
                            <div class="mini-item">
                                <div>
                                    <div class="u24Medium">Bike Size<i>*</i></div>
                                    <select name="bike_size" required>
                                        <option value="">---</option>
                                        <!--<option value="M">M - Fit for 170-185 cm</option>
                          <option value="L">L - Fit for 180-195 cm</option>
                          -->
                                    </select>
                                </div>
                                <div>
                                    <div class="u24Medium">Bike Style<i>*</i></div>
                                    <select name="bike_style" required>
                                        <option value="">---</option>
                                        <!--<option value="Sirius">Sirius</option>
                          <option value="Lyra">Lyra</option>
                          <option value="Midnight in Paris">Midnight in Paris</option>
                          <option value="Vanilla">Vanilla</option>
                          -->
                                    </select>
                                </div>
                            </div>
                            <span class="error"></span>
                        </div>
                        <div class="item">
                            <div class="u24Medium">Accessories you would like
                                <!--<br><span
                                    style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s
                                    Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will
                                    not show in your jobrad offer (Ends on 18th of May)</span>-->
                            </div>
                            <select name="accessories" multiple>
                                {% for collection in collections %}
                                {% if collection.title == 'Carbon 1 leasing acc' %}
                                {% for product in collection.products %}
                                <option title="{{product.title}}" value="{{product.id}}">{{ product.title }}</option>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </select>
                            <!-- <input type="text" name="accessories" placeholder="" > -->
                        </div>
                        <div class="item">
                            <div class="u24Medium">Note</div>
                            <input type="text" name="note">
                        </div>
                        <div class="item">
                            <div class="checkbox">
                                <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                                <label class="u17Light" for="subscribe" style="text-align: left;">I agree to allow
                                    Urtopia to store and process my
                                    personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="my-button my-button-white pervious">Previous</div>
                            <button class="my-button my-button-black" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="items step-5">
                    <div class="u24DemiBold_v2">Submition Detail</div>
                    <div class="infos">
                        <div class="block">
                            <div class="u20DemiBold_v2">Contact info</div>
                            <div class="info" name="first_name">
                                <label class="u17Medium_v2">First name:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="last_name">
                                <label class="u17Medium_v2">Last name:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="email">
                                <label class="u17Medium_v2">Email:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="phone">
                                <label class="u17Medium_v2">Phone number:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="employer">
                                <label class="u17Medium_v2">Employer:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                        </div>

                        <div class="block">
                            <div class="u20DemiBold_v2">Employer info</div>
                            <div class="info" name="employer">
                                <label class="u17Medium_v2">Employer:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="contact_person_name">
                                <label class="u17DemiBold_v2">Contact person:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="employer_address">
                                <label class="u17DemiBold_v2">Employer address:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="contact_email">
                                <label class="u17DemiBold_v2">Employer Email:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="contact_person_phone_number">
                                <label class="u17DemiBold_v2">Phone number:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                        </div> 

                        <div class="block">
                            <div class="u20DemiBold_v2">Shipping info</div>
                            <div class="info" name="address">
                                <label class="u17DemiBold_v2">Delivery address:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="postal_code">
                                <label class="u17DemiBold_v2">Postal code:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="city">
                                <label class="u17DemiBold_v2">City:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                            <div class="info" name="country">
                                <label class="u17DemiBold_v2">Country:</label>
                                <span class="u17Light_v2">stephen</span>
                            </div>
                        </div>


                        <div class="block">
                            <div class="u20DemiBold_v2">Shipping info</div>
                            <div class="info" name="bike_image">
                                <label class="u17DemiBold_v2">Bike Detail:</label>
                                <span class="u17Light_v2">
                                    <img class="bike_image" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18562_2x_d5c1f716-cf97-484c-89bd-b9165c330c11.jpg?v=1684139146"
                                        alt="">
                                    <span class="bike_size_style">Carbon 1, sirus, Large(fit for 180-195 cm)</span>
                                </span>
                            </div>
                            <div class="info" name="accessories">
                                <label class="u17DemiBold_v2">Accessories:</label>
                                <span class="u17Light_v2"></span>
                            </div>
                            <div class="info" name="note">
                                <label class="u17DemiBold_v2">Note:</label>
                                <span class="u17Light_v2"></span>
                            </div>
                        </div>

                        <div class="u14Light_v2">If the information above is incorrect, please submit <br
                                class="mobileHide">again or email
                            us at leasing@newurtopia.de</div>
                    </div>
                    <div class="buttons">
                        <div class="my-button my-button-white again">Submit again</div>
                        <a class="my-button my-button-black" href="/pages/contactus">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_008465de-4dc9-42f4-99b9-52816dbc2eag_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c011bd46-4e3b-4b0f-8b9f-074a0ba53e6g_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c1f4e864-1ce0-4700-a6da-18071624e1dg_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/MaskGroup18137_1.webp?v=1678963826" as="image">

{{ 'sumoselect.js' | asset_url | script_tag }}

<script>
    // 页面信息
const page_infos = {% case template | json %}
    {% when 'page.jobrad-leasing-new2' %}
        {
            page_name: 'jobrad'
        }
    {% else %}
        {}
{% endcase %}


// size 映射
const size_map = {
    M: 'Fit for 170-185 cm',
    L: 'Fit for 180-195 cm'
}
// 表单忽略项
const ignore = ['submit', 'checkbox', 'image', 'hidden']
// carbon 产品信息
const carbon = JSON.parse(JSON.stringify({{ all_products['urtopia-carbon-e-bike'] | json }}))

// 尺寸信息
const size = Array.from(new Set(carbon.variants.map(i => i.option2)))
const style = Array.from(new Set(carbon.variants.map(i => i.option1)))

// 是否已提交
let is_submited = false

// 表单步骤 tag
const leave_stage_map = {
    1: 'Contact Info',
    2: 'Employer Info',
    3: 'Shipping Info',
    4: 'Bike Selection',
    5: 'submit'
}

// 当前step
let currentStep = 1
// 当前 offers
let offers = 'no'
// 是否重新提交
let submitAgain = false
// 是否是手机
const isMobile = document.body.clientWidth < 768

console.log('page_infos', page_infos)
console.log('carbon', carbon)

function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-10876491006/sCHgCIiX55oYEP6pqMIo',
        'event_callback': callback
    });
    return false;
}


function getFormValues (elem = '') {
    const temp = {}

    if (!elem) {
        return temp
    }

    $(elem).each((index, target) => {
        if (ignore.includes(target.type)) {
            return
        }


        
        // 配件特殊处理
        if (target.name === 'accessories') {
            const accessories = []
            const accessories_id = []
            
            // selected
            $(target).find('option:selected').each((i, target) => {
                accessories.push(target.title)
                accessories_id.push(target.value)
            })

                
            temp.accessories = accessories.join()
            temp.accessories_id = accessories_id.join()

            return
        }


        temp[target.name] = target.value
    })

    temp.variant_id = carbon.variants.find(c => c.title === `${temp.bike_style} / ${temp.bike_size}`)
    temp.variant_id = temp.variant_id ? temp.variant_id.id : ''
    temp.offers = $('.forms2 label[class="active"]').attr('for')

    return temp
}


// 表单参数和查询参数，提交之前做合并
function mergeValues () {
    const forms = getFormValues('.forms2 form :input')
    const search = getSearchValues()
    // 表单数据覆盖url 参数，合并
    const merge = Object.assign(search, forms)

    // 重写bike_size
    merge.bike_size = merge.bike_size + ' - ' + size_map[merge.bike_size]
    merge.page_type = 'ad-page2'
    merge.is_submit_again = String(submitAgain)

    return merge
}


function reset() {
    currentStep = 4
    submitAgain = true
    // 重置全部表单
    //$('form').each((i, t) => t.reset())
    //$('.forms2 .steps input[name="country"]').val('Deutschland')
    //$('.forms2 .steps input[name="bike_model"]').val('Carbon 1')
    //$(`.forms2 .multiple-checkbox label`).css("border-color", 'rgba(0,0,0,.3)')
    //$(`.forms2 .multiple-checkbox label img`).css('display', 'none')
    //SumoSelect.sumo.unSelectAll()
    //$('.SumoSelect>.optWrapper>.options li').removeClass('selected')
    // 重置
    updateProgress(1)

    $('html').animate({
        scrollTop: isMobile ? $('.forms2 .texts .u20DemiBold_v2').offset().top - 85 : $('.forms2').offset().top - 150
    }, 300)
}


function submit (forms = {}) {
    
    // 状态变为已提交
    is_submited = true

    // 如果 offers 选择no
    if (forms.offers === 'no') {
        return fetchBuried(page_infos.page_name, 'submit-nooffer', forms)
    }



    fetchBuried(page_infos.page_name, 'submit', forms)
    // fbq
    fbq('track', 'CompleteRegistration', {
        value: 3596,
        currency: 'usd',
    });

    // gtag
    gtag_report_conversion()
}


const changeBikeImage = e => {
    const size = $('select[name="bike_size"]').val()
    const style = $('select[name="bike_style"]').val()
    
    $('.forms2 form .item .error').text('')

    // 通过遍历 判断option 是否可用
    $(`select[name="bike_style"] option`).each((i, item) => {
        const v = item.value

        if (i === 0) {
            return
        }

        const vari = carbon.variants.find(c => c.title === `${v} / ${size}`)
        item.disabled = !vari ? false : !!!vari.available
    })

    if (!size || !style) {
        return clearBikeImage()
    }

    const find = carbon.variants.find(c => c.title === `${style} / ${size}`)

    // 如果当前variant 库存不足
    if (!find.available) {
        $('select[name="bike_style"]').val('')
        $('.forms2 form .item .error').text(`Your selection is currently reached our stock limit - size: ${size}, style: ${style}`)
        
        return clearBikeImage()
    }

    $('.forms2 form .item input[name="bike_image"]').attr('src', find.featured_image.src)
    $('.forms2 form .item[name="bike_image"]').show()
}


function updateProgress(step = 1) {
    $('.forms2 .steps .progress .item').removeClass('active')
    $('.forms2 .steps .progress .flex-1').removeClass('active')
    $('.forms2 .steps .items').hide()
    $(`.forms2 .steps .step-${step}`).show()
    
    // 如果选择了yes 隐藏掉，否则显示
    offers === 'yes' ? $('.forms2 .steps .progress .employer').hide() : $('.forms2 .steps .progress .employer').show()
    $(`.forms2 .steps .step-2 form :input`).attr('type', offers === 'yes' ? 'hidden' : 'text')
  
    // 批量active
    for (let index = 0; index < step; index++) {
        $($('.forms2 .steps .progress .item')[index]).addClass('active')
        $($('.forms2 .steps .progress .item')[index]).prev().addClass('active')
    }
  
    if (step === 1) {
        // 左侧信息变更
        $('.forms2 .texts .u36DemiBold_v2').html('Urtopia leasing <br>request form')
        $('.forms2 .texts .u20DemiBold_v2').text('Step 1:')
        $('.forms2 .texts .u17DemiBold_v2').text('Fill in your contact info and employer states')
        $('.forms2 .texts .u17Light_v2').html('When you complete this form, we will provide a quote for you and you authorize us to use the information you submit and contact you via email, text message or phone to move the business process forward.')
    }

    if (step === 2) {
        // 左侧信息变更
        $('.forms2 .texts .u36DemiBold_v2').html('Urtopia leasing <br>request form')
        $('.forms2 .texts .u20DemiBold_v2').text('Step 2:')
        $('.forms2 .texts .u17DemiBold_v2').text('Fill in Additional information for employers')
        $('.forms2 .texts .u17Light_v2').text('In order for you to use this leasing service, your employer must contact the leasing company. You can find the procedure here. The leasing company also provides some assistance to employers who are making contact for the first time. We would also like to help your employer establish a partnership with the leasing company and will need the following information:')
    }
  
    if (step === 3) {
        // 左侧信息变更
        $('.forms2 .texts .u36DemiBold_v2').html('Urtopia leasing <br>request form')
        $('.forms2 .texts .u20DemiBold_v2').text(`Step ${offers === 'yes' ? '2' : '3' }:`)
        $('.forms2 .texts .u17DemiBold_v2').text('Fill in your shipping info')
        $('.forms2 .texts .u17Light_v2').text('We need your shipping address to deliver the leased e-bike to your preferred location. Please provide the complete address. This ensures accurate and timely delivery of your chosen product.')
    }
  
    if (step === 4) {
        // 左侧信息变更
        $('.forms2 .texts .u36DemiBold_v2').html('Urtopia leasing <br>request form')
        $('.forms2 .texts .u20DemiBold_v2').text(`Step ${offers === 'yes' ? '3' : '4' }:`)
        $('.forms2 .texts .u17DemiBold_v2').text('Select your bike for leasing')
        $('.forms2 .texts .u17Light_v2').html('specify the e-bike model and style you desire for your lease. Also the accessories you want to add. <br><br>This information helps us fulfill your specific preferences and ensure we provide you with the e-bike that best suits your needs. <br><br>Don’t forget the leave us a note if you have any specific requirement.')
    }
  
    if (step === 5) {
        const h = offers === 'yes' ? 'We appreciate your cooperation in providing this information. Please check your information on the right. <br><br>If you have any questions or require further assistance, please don’t hesitate to reach out to our dedicated leasing support team at leasing@newurtopia.com. <br><br>Next out expert will contact and guide you through the process and make your leasing experience with Urtopia as seamless as possible.' : 'Next out expert will contact and guide you through the process and make your leasing experience with Urtopia as seamless as possible.<br><br> Because your employer is not working with Jobrad, please contact your employer to inform your requirement with leasing, and ask your employer to make a connection with Jobrad to make the process faster. Click here for more information'
        
        $('.forms2 .texts .u36DemiBold_v2').text('Thank you!')
        $('.forms2 .texts .u20DemiBold_v2').text('')
        $('.forms2 .texts .u17DemiBold_v2').text('You have successfully submit the form.')
        $('.forms2 .texts .u17Light_v2').html(h)
    }
  
    // 当前步骤存起来
    currentStep = Math.max(step, currentStep)
  }


const clearBikeImage = () => {
    $('.forms2 form .item input[name="bike_image"]').attr('src', '')
    $('.forms2 form .item[name="bike_image"]').hide()
}


  
// 动态渲染Size
$('select[name="bike_size"]').html('<option value="">---</option>' + size.map(v => {
    return `<option value="${v}">${v} - ${size_map[v]}</option>`
}).join(''))

// 动态渲染Style
$('select[name="bike_style"]').html('<option value="">---</option>' + style.map(v => {
    return `<option value="${v}">${v}</option>`
}).join(''))



setTimeout(() => {
    $('.forms2 .multiple-checkbox :input').on('change', e => {
        offers = e.currentTarget.id

        if (offers === 'yes') {
            $(`form .multiple-checkbox label[for="yes"]`).css("border-color", "black")
            $(`form .multiple-checkbox label[for="yes"] img`).css('display', 'unset')
            $(`form .multiple-checkbox label[for="yes"]`).addClass('active')
    
            $(`form .multiple-checkbox label[for="no"]`).css("border-color", "rgba(0,0,0,.3)")
            $(`form .multiple-checkbox label[for="no"] img`).css('display', 'none')
            $(`form .multiple-checkbox label[for="no"]`).removeClass('active')
        } else {
            $(`form .multiple-checkbox label[for="no"]`).css("border-color", "black")
            $(`form .multiple-checkbox label[for="no"] img`).css('display', 'unset')
            $(`form .multiple-checkbox label[for="no"]`).addClass('active')
    
            $(`form .multiple-checkbox label[for="yes"]`).css("border-color", "rgba(0,0,0,.3)")
            $(`form .multiple-checkbox label[for="yes"] img`).css('display', 'none')
            $(`form .multiple-checkbox label[for="yes"]`).removeClass('active')
        }
    
    })


      // 阻止默认行为
      $('.forms2 form').on('submit', e => {
        e.preventDefault();
  
        const parent = e.target.parentNode
        const step = Number(parent.classList.value.split('-').pop())

        // step: 1
        if (step === 1) {
            // 如果 yes 直接跳到3, 否则 2
            return updateProgress(offers === 'yes' ? 3 : 2)
        }

        // other step
        updateProgress(step + 1)
  
  
        $('html').animate({
          scrollTop: isMobile ? $('.forms2 .texts .u20DemiBold_v2').offset().top - 85 : $('.forms2').offset().top - 150
      }, 300)
  
        return false;
    })


    // 重新提交
    $(`.step-5 .buttons .again`).on('click', reset)


    $(`.items .buttons .pervious`).each((i, target) => {
        $(target).on('click', () => {
            $('html').animate({
                scrollTop: isMobile ? $('.forms2 .texts .u20DemiBold_v2').offset().top - 85 : $('.forms2').offset().top - 150
            }, 300)

            // 如果step: 3 往后退， 如果offers yes 直接跳转到 step:1 否则 step: 2
            if (i === 1) {
                return offers === 'yes' ? updateProgress(1) : updateProgress(2)
            }
    
            updateProgress(i + 1)
        })
    })


 $('.forms2 select[name="bike_style"]').on('change', e => {
    const size = $('.forms2 select[name="bike_size"]').val()
    const style = e.target.value

    if (!size || !style) {
        $('.forms2 .items .bike_image').attr('src', '')
        $('.forms2 .items .bike_you_choose').hide()
        return
    }

    const find = carbon.variants.find(c => c.title === `${style} / ${size}`)

    if (!find) {
        return
    }


    $('.forms2 .items .bike_image').attr('src', find.featured_image.src)
    $('.forms2 .items .bike_you_choose').show()
 })


  {% comment %} $('.forms2 .steps .progress .item').each((i, item) => {
        const index = i + 1
        $(item).on('click', e => {
            console.log('currentStep', currentStep)

            if (index > currentStep || currentStep === 4) {
                return
            }

            updateProgress(index)
        })
    }) {% endcomment %}


    // size change
    $('select[name="bike_size"]').on('change', changeBikeImage)

    // style change
    $('select[name="bike_style"]').on('change', changeBikeImage)

    $('select[name="accessories"]').SumoSelect({
        placeholder: '',
        csvDispCount: 0,
        floatWidth: 768,
    })

      // 默认执行step:1
    updateProgress(5)
    
}, 100)




// 页面访问key
const visited_key = `${page_infos.page_name}_page_is_visited`
// 页面访问
if (!!!sessionStorage[visited_key]) {
    fetchBuried(page_infos.page_name, 'pageview')
}

// 记录来过这个页面
sessionStorage[visited_key] = visited_key



// 页面退出之前，往服务器提交数据
document.addEventListener('visibilitychange', () => {
    // 如果已提交过，不用再次提交
    if (is_submited) {
        return
    }

    if (document.visibilityState === 'hidden') {
        // fetchBuried(page_infos.page_name, 'submitinfo', mergeValues(), true)
    }
})
</script>