{{ 'sumoselect.min.css' | asset_url | stylesheet_tag }}

<div class="forms" id="forms">
    <div class="centeral-content">
        <div class="thankyou" style="display:none;">
            <div class="u48DemiBold_v2">Thank you!</div>
            <div class="u24Medium_v2"></div>
            <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
            <div class="sooner">
                <div class="u48DemiBold_v2">Exclusive discount for direct purchases</div>
                <div class="u24Medium_v2">we are now offering a one time <span class="emphasize">€600</span> off and <span class="emphasize">3 free</span> accessories.</div>
                <div class="choice">
                    <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c011bd46-4e3b-4b0f-8b9f-074a0ba53e6g_1.webp?v=1678963826"/>
                    <div>
                        <div class="u30DemiBold_v2">Bike of Your Choice:</div>
                        <div class="u24DemiBold_v2">Carbon 1<i style="visibility: hidden;" class="fa fa-spinner fa-spin"></i></div>
                        <div class="u17DemiBold_v2"><span>Style:</span><span class="u17Light_v2">Sirius</span></div>
                        <div class="u17DemiBold_v2"><span>Size:</span><span class="u17Light_v2">Sirius</span></div>
                        <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Group_21116_2x_8d10631e-2acb-4f2b-ba9f-1fd52fd3aa40.png?v=1685351322"/>
                        <div class="u14DemiBold_v2">
                            <div>3 Free Accessories (worth €179):</div>
                            <div>Kickstand, Micro Fender and one-Year eSIM Services</div>
                            <div class="u11Light_v2">(Apply in your checkout automatically)</div>
                        </div>
                        <div class="my-button my-button-black bynow">Buy now</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nothankyou">
            <div class="u48DemiBold_v2">Request a quote for Urtopia E-bike leasing now</div>
            <div class="u17Light_v2">When you complete this form, we will provide a quote for you and you authorize us to use the information you submit and contact you via email, text message or phone to move the business process forward.<br><br>Get <span class="emphasize u20DemiBold_v2">€600</span> off on Carbon 1<br>now on leasing<br></div>
            
            
            <form action="" method="post">
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">First name<i>*</i></div>
                            <input type="text" name="first_name" required>
                        </div>
                        <div>
                            <div class="u24Medium">Last name<i>*</i></div>
                            <input type="text" name="last_name" required>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="u24Medium">Email<i>*</i></div>
                    <input type="email" name="email" required>
                </div>
                <div class="item">
                    <div class="u24Medium">Phone number<i>*</i></div>
                    <input type="tel" name="phone" required>
                </div>
                <!--<div class="item">
                    <div class="u24Medium">Job Position<i>*</i></div>
                    <input type="text" name="job_position" required>
                </div>-->
                <!--<div class="item">
                    <div class="u24Medium">Company<i>*</i></div>
                    <input type="text" name="company" required>
                </div>-->
                <div class="item">
                    <div class="u24Medium">Employer company<i>*</i></div>
                    <input type="text" name="employer" required>
                </div>
                 
                <div class="item change_offers" style="display:none;">
                    <div class="item">
                        <div class="u24Medium">Employer address<i>*</i></div>
                        <input type="hidden" name="employer_address" required>
                    </div> 
                    <div class="item">
                        <div class="u24Medium">Contact person name<i>*</i></div>
                        <input type="hidden" name="contact_person_name" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Contact email<i>*</i></div>
                        <input type="hidden" name="contact_email" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Contact person phone number<i>*</i></div>
                        <input type="hidden" name="contact_person_phone_number" required>
                    </div>
                </div>
    
                <div class="item">
                    <div class="u24Medium">Delivery address<i>*</i></div>
                    <input type="text" name="address" required>
                </div>
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">Postal code<i>*</i></div>
                            <input type="text" name="postal_code" required>
                        </div>
                        <div>
                            <div class="u24Medium">City<i>*</i></div>
                            <input type="text" name="city" required>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="u24Medium">Country<i>*</i></div>
                    <input type="text" name="country" value="Deutschland" disabled required>
                </div>
                <div class="item" name="bike_image" style="display:none;">
                    <div class="u24Medium">Bike you choose:</div>
                    <input type="image" name="bike_image" src="">
                </div>
                <div class="item">
                    <div class="u24Medium">Bike Model<i>*</i></div>
                    <select name="bike_model" value="Carbon 1" required>
                        <option value="Carbon Belt">Carbon 1</option>
                        <option value="Shimano Gear">Carbon 1s</option>
                    </select>
                    <span style="text-align: left;line-height: 2em;" class="tips u14Light_v2">Pre-order items ships from <span class="emphasize" style="font-weight: 600;">July 31, 2023</span></span>
                </div>
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">Bike Size<i>*</i></div>
                            <select name="bike_size" required>
                                <option value="">---</option>
                                <!--<option value="M">M - Fit for 170-185 cm</option>
                                <option value="L">L - Fit for 180-195 cm</option>
                                -->
                            </select>
                        </div>
                        <div>
                            <div class="u24Medium">Bike Style<i>*</i></div>
                            <select name="bike_style" required>
                                <option value="">---</option>
                                <!--<option value="Sirius">Sirius</option>
                                <option value="Lyra">Lyra</option>
                                <option value="Midnight in Paris">Midnight in Paris</option>
                                <option value="Vanilla">Vanilla</option>
                                -->
                            </select>
                        </div>
                    </div>
                    <span class="error"></span>
                </div>
                <div class="item">
                    <div class="u24Medium">Accessories you would like
                        <!--<br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will not show in your jobrad offer (Ends on 18th of May)</span>-->
                    </div>
                    <select name="accessories" multiple>
                      {% for collection in collections %}
                          {% if collection.title == 'Carbon 1 leasing acc' %}
                              {% for product in collection.products %}
                                  <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
                              {% endfor %}
                          {% endif %}
                        {% endfor %}
                    </select>
                    <!-- <input type="text" name="accessories" placeholder="" > -->
                </div>
                <div class="item">
                  <div class="u24Medium">Note</div>
                  <input type="text" name="note">
                </div>
                {% if template == "page.leasing" %}
                    <div class="item">
                        <div class="u24Medium">Leasing partner your employer provided<i>*</i></div>
                        <select name="partner" required></select>
                      </div>
                {% endif %}
                <div class="item">
                    <div class="u24Medium">Employer ID:<br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">It is a ID provide by your employer or HR department.</span></div>
                    <input type="text" name="employer_id">
                </div> 
                <!--<div class="item">
                    <div class="u24Medium">Your employer already offers JobRad?<i>*</i></div>
                    <div class="multiple-checkbox">
                        <label for="yes">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">Yes</span>
                            <input type="radio" id="yes" name="offers" value="yes" required />
                        </label>
                        <label for="no">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">No</span>
                            <input type="radio" id="no" name="offers" value="no" required />
                        </label>
                        <label for="not_sure">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">Not sure</span>
                            <input type="radio" id="not_sure" name="offers" value="not_sure" required />
                        </label>
                    </div>
                </div>-->
                <div class="item">
                    <div class="checkbox">
                        <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                        <label class="u17Light" for="subscribe" style="text-align: left;">I agree to allow Urtopia to store and process my
                            personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                    </div>
                </div>
                
                <div class="item">
                    <div style="display: flex;">
                        <button class="my-button my-button-black" type="submit">Submit</button>
                        <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                    </div>
                </div>
                <!-- <div class="item u17Medium">Thank you for submitting the form. <br>Our expert will contact you soon.</div> -->
            </form>
        </div>
    </div>
</div>

<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_008465de-4dc9-42f4-99b9-52816dbc2eag_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c011bd46-4e3b-4b0f-8b9f-074a0ba53e6g_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c1f4e864-1ce0-4700-a6da-18071624e1dg_1.webp?v=1678963826" as="image">
<link rel="prefetch" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/MaskGroup18137_1.webp?v=1678963826" as="image">
<link rel="preload" href="https://use.fontawesome.com/releases/v6.2.0/webfonts/fa-solid-900.woff2" as="font">


{{ 'sumoselect.js' | asset_url | script_tag }}
<script>

// 页面信息
const page_infos = {% case template | json %}
    {% when 'page.jobrad-leasing-new' %}
        {
            page_name: 'jobrad',
            form_offers_label: 'Your employer already offers JobRad?<i>*</i>',
            form_thankyou_content: 'Thank you for your request. You will receive a quote from info@jobrad.org via email within one business day. Please check your inbox. <br><br>If you have any questions, please do not hesitate to contact us: Email: <a class="my-link" href="mailto:leasing@newurtopia.de">leasing@newurtopia.de</a>',
            form_thankyou_content2: `Thank you for your request. You will receive a quote from info@jobrad.org via email within one business day. Please check your inbox. <br><br>Since your company has not yet partnered with JobRad, we would like to offer you an exclusive discount for direct purchases as an expression of our gratitude and support.`
        }
    {% when 'page.mein-dienstrad' %}
        {
            page_name: 'mein-dienstrad',
            form_offers_label: 'Your employer already offers mein-dienstrad?<i>*</i>',
            form_thankyou_content: 'You have successfully submit the form. Our expert will contact you soon. Feel free to contact us if you have any questions.',
            form_thankyou_content2: `Thank you for your request. You will receive a quote from info@mein-dienstrad.org via email within one business day. Please check your inbox. <br><br>Since your company has not yet partnered with mein-dienstrad, we would like to offer you an exclusive discount for direct purchases as an expression of our gratitude and support.`
        }
    {% else %}
        {
            page_name: 'leasing',
            form_offers_label: 'Your employer already offers<br class="pcHide mobileHide"> <span>leasing</span>?<i>*</i>',
            form_thankyou_content: 'You have successfully submit the form. Our expert will contact you soon. <br><br>If you have any questions, please do not hesitate to contact us: Email: <a class="my-link" href="mailto:leasing@newurtopia.de">leasing@newurtopia.de',
            form_thankyou_content2: `Thank you for your request. Our expert will contact you soon. Please check your inbox. <br><br>Since your company has not yet partnered with <span></span>, we would like to offer you an exclusive discount for direct purchases as an expression of our gratitude and support.`
        }
{% endcase %}


// size 映射
const size_map = {
    M: 'Fit for 170-185 cm',
    L: 'Fit for 180-195 cm'
}
// 表单忽略项
const ignore = ['submit', 'checkbox', 'image', 'hidden']
// carbon 产品信息
const carbon = JSON.parse(JSON.stringify({{ all_products['leasing-urtopia-carbon-1s'] | json }}))

// 尺寸信息
const model = Array.from(new Set(carbon.variants.map(i => i.option1)))
const size = Array.from(new Set(carbon.variants.map(i => i.option2)))
const style = Array.from(new Set(carbon.variants.map(i => i.option3)))

// 是否已提交
let is_submited = false
// 是否已点击buynow, 为了防止重新提交
let buynow_clicked = false

console.log('page_infos', page_infos)
console.log('carbon', carbon)

function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-10876491006/sCHgCIiX55oYEP6pqMIo',
        'event_callback': callback
    });
    return false;
}


function getFormValues (elem = '') {
    const temp = {}

    if (!elem) {
        return temp
    }

    $(elem).each((index, target) => {
        if (ignore.includes(target.type)) {
            return
        }


        
        // 配件特殊处理
        if (target.name === 'accessories') {
            const accessories = []
            const accessories_id = []
            
            // selected
            $(target).find('option:selected').each((i, target) => {
                accessories.push(target.title)
                accessories_id.push(target.value)
            })

                
            temp.accessories = accessories.join()
            temp.accessories_id = accessories_id.join()

            return
        }


        temp[target.name] = target.value
    })

    temp.variant_id = carbon.variants.find(c => c.title === `${temp.bike_model} / ${temp.bike_size} / ${temp.bike_style}`)
    temp.variant_id = temp.variant_id ? temp.variant_id.id : ''
    temp.offers = $('.forms label[class="active"]').attr('for')



    return temp
}

// 表单参数和查询参数，提交之前做合并
function mergeValues () {
    const forms = getFormValues('.forms form :input')
    const search = getSearchValues()
    // 表单数据覆盖url 参数，合并
    const merge = Object.assign(search, forms)

    // 重写bike 参数
    merge.bike_model = merge.bike_model === "Shimano Gear" ? "Carbon 1s" : "Carbon 1"
    merge.bike_size = merge.bike_size + ' - ' + (size_map[merge.bike_size] || '')
    merge.page_type = page_infos.page_name

    {% unless template == "page.leasing" %}
        merge.partner = page_infos.page_name === 'jobrad' ? 'Jobrad' : 'Mein-dienstrad.de'
    {% endunless %}

    return merge
}


function submit (forms = {}) {
    
    // 状态变为已提交
    is_submited = true

    // 如果 offers 选择no
    // if (forms.offers === 'no') {
    //    return fetchBuried(page_infos.page_name, 'submit-nooffer', forms)
    //}



    fetchBuried('leasing', 'submit', forms)
    // fbq
    fbq('track', 'CompleteRegistration', {
        value: 3596,
        currency: 'usd',
    });

    // gtag
    gtag_report_conversion()
}

const clearBikeImage = () => {
    $('.forms form .item input[name="bike_image"]').attr('src', '')
    $('.forms form .item[name="bike_image"]').hide()
}


const changeBikeImage = e => {
    const model = $('select[name="bike_model"]').val()
    const size = $('select[name="bike_size"]').val()
    const style = $('select[name="bike_style"]').val()

    console.log(model, size, style)
    
    $('.forms form .item .error').text('')

    // 通过遍历 判断option 是否可用
    $(`select[name="bike_style"] option`).each((i, item) => {
        const v = item.value

        if (i === 0) {
            return
        }

        const vari = carbon.variants.find(c => c.title === `${model} / ${size} / ${v}`)

        if (vari && vari.option1 === "Shimano Gear" && vari.option3 === "vanilla") {
            return item.disabled = true
        }

        item.disabled = !vari ? false : !!!vari.available
    })

    if (model === "Shimano Gear") {
        $('.forms form .item .tips').show()
    } else {
        $('.forms form .item .tips').hide()
    }

    if (!size || !style) {
        return clearBikeImage()
    }

    const find = carbon.variants.find(c => c.title === `${model} / ${size} / ${style}`)

    console.log('find', find)

    // 如果当前variant 库存不足
    if (!find.available) {
        $('select[name="bike_style"]').val('')
        $('.forms form .item .error').text(`Your selection is currently reached our stock limit - size: ${size}, style: ${style}`)
        
        return clearBikeImage()
    }

    $('.forms form .item input[name="bike_image"]').attr('src', find.featured_image.src)
    $('.forms form .item[name="bike_image"]').show()
}


const buynow = (e, values) => {
    const t = $(e.target)

    if (t.hasClass('loading')) {
        return
    }

    t.addClass('loading')
    t.html('<i class="fa fa-spinner fa-spin"></i>Processing...')

    fetch(window.Shopify.routes.root + 'cart/clear.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(r => {
           const body = { items: [{ id: values.variant_id, quantity: 1 }] }
           body.items = body.items.concat(global_config.event_accessories_variant_ids.map(id => ({ id, quantity: 1 })))

           fetch(window.Shopify.routes.root + 'cart/add.js', {
             method: 'POST',
             headers: {
               'Content-Type': 'application/json'
             },
             body: JSON.stringify(body)
           })
           .then(response => {
            fetchBuried('websiteclick', `${page_infos.page_name}-leasing`, { button: 'aftersubmit_buynow' }, true)
            location.href = `/discount/onetimespecial?redirect=%2Fcheckout`
           })
           .catch((error) => {
            t.removeClass('loading')
            t.html('Buy now')

            console.error('Error:', error);
           })
    });
}

// 动态渲染Size
$('select[name="bike_size"]').html('<option value="">---</option>' + size.map(v => {
    return `<option value="${v}">${v} - ${size_map[v]}</option>`
}))

// 动态渲染Style
$('select[name="bike_style"]').html('<option value="">---</option>' + style.map(v => {
    return `<option value="${v}">${v}</option>`
}))



// 延迟执行一些DOM
setTimeout(() => {
    $('.forms form .item .tips').hide()
    // 更改 offers label
    $('input[name="offers"]').closest('.item').find('.u24Medium').html(page_infos.form_offers_label)

    // yes or no change
    $('form .multiple-checkbox :input').on('change', e => {
        // 全部重置为默认状态
        $(`form .multiple-checkbox label`).removeClass('active')
        $(`form .multiple-checkbox label img`).hide()

        $(`form .multiple-checkbox label[for="${e.currentTarget.id}"]`).addClass('active')
        $(`form .multiple-checkbox label[for="${e.currentTarget.id}"] img`).show()

        // $(`form .change_offers :input`).attr('type', 'hidden')
        // $(`form .change_offers`).hide()
    })

    // model change
    $('select[name="bike_model"]').on('change', changeBikeImage)
    // size change
    $('select[name="bike_size"]').on('change', changeBikeImage)
    // style change
    $('select[name="bike_style"]').on('change', changeBikeImage)


    $('.forms form').on("submit", function (event) {
        const values = mergeValues()

        submit(values)


        // 隐藏form
        $('.forms .centeral-content').css('max-width', '1280px')
        $('.forms .nothankyou').hide()
        $('.forms .thankyou').show()
        
        
        // 如果选择了 不是no 的选项
        if (values.offers === 'yes' || values.bike_model === "Carbon 1s") {
            $('.forms .thankyou .sooner').hide()
            $('.forms .thankyou > .u24Medium_v2').html(page_infos.form_thankyou_content)
        } else {
            $('.forms .thankyou > .u24Medium_v2').html(page_infos.page_name === 'jobrad' ? page_infos.form_thankyou_content2 : page_infos.form_thankyou_content)
            $('.forms .thankyou .sooner').show()
            $('.forms .thankyou .sooner .u24DemiBold_v2').text(values.bike_model)
            $('.forms .thankyou .sooner .u17Light_v2')[0].innerText = values.bike_style
            $('.forms .thankyou .sooner .u17Light_v2')[1].innerText = values.bike_size
            $('.forms .thankyou .sooner .u24DemiBold_v2').text(values.bike_model)
            $('.forms .thankyou .sooner .choice > img').attr('src', $('input[type="image"]').attr('src'))
        }
        

        setTimeout(() => {
            $('html').animate({
                scrollTop: $('.forms').offset().top - (values.offers === 'yes' ? ((document.documentElement.clientHeight / 2) + ($('.forms').height() / 2)) / 2 : 40)
            }, 300)

            // offers 不等于yes ,才去监听buy now
            values.offers !== 'yes' && $('.bynow').on('click', e => buynow(e, values))

            {% comment %} page_infos.page_name === 'jobrad' && $('.forms .centeral-content .forms-link').on('click', e => {
                const item = document.querySelector(`.faqs .faq-item[index="7"]`)
                const title = item.querySelector('.faq-title')
                const content = item.querySelector('.faq-content')
        
                // 如果是隐藏状态才展开
                if (window.getComputedStyle(content).display === 'none') {
                    title.click()
                }
                
                setTimeout(() => {
                    $('html').animate({
                        scrollTop: $(item).offset().top - 85
                    }, 300)
                })
        
        
                e.preventDefault();
                return false;
            }) {% endcomment %}
        }, 50)

        event.preventDefault();
        return false;
    })


    
    // SELECT 插件
    const selectPlugin = $('select[name="accessories"]').SumoSelect({
        placeholder: '',
        csvDispCount: 0,
        floatWidth: 768,
    })


    // url 参数
    const urlSearch = getSearchValues()

    // 如果存在车型参数
    if (urlSearch.bike_style) {
        $(`select[name="bike_model"]`).val(urlSearch.bike_model)
        // 填充size
        $(`select[name="bike_size"]`).val(urlSearch.bike_size)
        // 填充style
        $(`select[name="bike_style"]`).val(urlSearch.bike_style)

        // change bike image
        setTimeout(changeBikeImage)
    }

    // 如果有 accessories 存在
    if (urlSearch.accessories) {
        for (const acc of urlSearch.accessories.split(',')) {
            selectPlugin.sumo.selectItem(acc)
        }
    }
    
}, 100)


// 页面访问key
const visited_key = `${page_infos.page_name}_page_is_visited`
// 页面访问
if (!!!sessionStorage[visited_key]) {
    fetchBuried(page_infos.page_name, 'pageview')
}

// 记录来过这个页面
sessionStorage[visited_key] = visited_key


// 页面退出之前，往服务器提交数据
document.addEventListener('visibilitychange', () => {
    // 如果已提交过，不用再次提交
    if (is_submited) {
        return
    }

    if (document.visibilityState === 'hidden') {
        fetchBuried(page_infos.page_name, 'submitinfo', mergeValues(), true)
    }
})


</script>