{{ 'sumoselect.min.css' | asset_url | stylesheet_tag }}

<div class="forms" id="forms">
    <div class="centeral-content">
        <div class="u48DemiBold_v2">Request a quote for Urtopia E-bike leasing now</div>
        <div class="u24Medium_v2">We only need a few details to be able to create a JobRad leasing offer package.
        </div>
        <!--<div class="u24Medium">Complete the form and we’ll submit the request with your leasing partner.</div>-->
        <form action="" method="post">
            <div class="item">
                <div class="u24Medium">Your employer already offers JobRad?<i>*</i></div>
                <div class="multiple-checkbox">
                    <label for="yes">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                            alt="">
                        <span class="u17Medium_v2">Yes</span>
                        <input type="radio" id="yes" name="offers" value="yes" required />
                    </label>
                    <label for="no">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                            alt="">
                        <span class="u17Medium_v2">Not sure</span>
                        <input type="radio" id="no" name="offers" value="no" required />
                    </label>
                </div>
            </div>
            <div class="item">
                <div class="mini-item">
                    <div>
                        <div class="u24Medium">First name<i>*</i></div>
                        <input type="text" name="first_name" required>
                    </div>
                    <div>
                        <div class="u24Medium">Last name<i>*</i></div>
                        <input type="text" name="last_name" required>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="u24Medium">Email<i>*</i></div>
                <input type="email" name="email" required>
            </div>
            <div class="item">
                <div class="u24Medium">Phone number<i>*</i></div>
                <input type="tel" name="phone" required>
            </div>
            <!--<div class="item">
                <div class="u24Medium">Job Position<i>*</i></div>
                <input type="text" name="job_position" required>
            </div>-->
            <!--<div class="item">
                <div class="u24Medium">Company<i>*</i></div>
                <input type="text" name="company" required>
            </div>-->
            <div class="item">
                <div class="u24Medium">Employer<i>*</i></div>
                <input type="text" name="employer" required>
            </div>
            <div class="item">
                <div class="u24Medium">Delivery address<i>*</i></div>
                <input type="text" name="address" required>
            </div>
            <div class="item">
                <div class="mini-item">
                    <div>
                        <div class="u24Medium">Postal code<i>*</i></div>
                        <input type="text" name="postal_code" required>
                    </div>
                    <div>
                        <div class="u24Medium">City<i>*</i></div>
                        <input type="text" name="city" required>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="u24Medium">Country<i>*</i></div>
                <input type="text" name="country" value="Deutschland" disabled required>
            </div>
            <div class="item">
                <div class="u24Medium">Bike Model<i>*</i></div>
                <input type="text" name="bike_model" value="Carbon 1" disabled required>
            </div>
            <div class="item">
                <div class="mini-item">
                    <div>
                        <div class="u24Medium">Bike Size<i>*</i></div>
                        <select name="bike_size" required>
                            <option value="">---</option>
                            <!--<option value="M">M - Fit for 170-185 cm</option>
                            <option value="L">L - Fit for 180-195 cm</option>
                            -->
                        </select>
                    </div>
                    <div>
                        <div class="u24Medium">Bike Style<i>*</i></div>
                        <select name="bike_style" required>
                            <option value="">---</option>
                            <!--<option value="Sirius">Sirius</option>
                            <option value="Lyra">Lyra</option>
                            <option value="Midnight in Paris">Midnight in Paris</option>
                            <option value="Vanilla">Vanilla</option>
                            -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="u24Medium">Accessories you would like
                    <!--<br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will not show in your jobrad offer (Ends on 18th of May)</span>-->
                </div>
                <select name="accessories" multiple>
                  {% for collection in collections %}
                      {% if collection.title == 'Carbon 1 leasing acc' %}
                          {% for product in collection.products %}
                              <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
                          {% endfor %}
                      {% endif %}
                    {% endfor %}
                </select>
                <!-- <input type="text" name="accessories" placeholder="" > -->
            </div>
            <div class="item">
              <div class="u24Medium">Note</div>
              <input type="text" name="note">
            </div>
            <div class="item">
                <div class="checkbox">
                    <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                    <label class="u17Light" for="subscribe" style="text-align: left;">I agree to allow Urtopia to store and process my
                        personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                </div>
            </div>
            <div class="item">
                <div style="display: flex;">
                    <button class="my-button my-button-black" type="submit">Submit</button>
                    <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                </div>
            </div>
            <!-- <div class="item u17Medium">Thank you for submitting the form. <br>Our expert will contact you soon.</div> -->
        </form>
    </div>
</div>


{{ 'sumoselect.js' | asset_url | script_tag }}
<script>
// size 映射
const size_map = {
    M: 'Fit for 170-185 cm',
    L: 'Fit for 180-195 cm'
}
// 表单忽略项
const ignore = ['submit', 'checkbox']
// carbon 产品信息
const carbon = JSON.parse(JSON.stringify({{ all_products['urtopia-carbon-e-bike'] | json }}))

// 尺寸信息
const size = carbon.options.find(o => o.name === 'Size')
const style = carbon.options.find(o => o.name === 'Style')


function getFormValues () {
    const temp = {}

    $('.forms form :input').each((index, target) => {
        if (ignore.includes(target.type)) {
            return
        }


        
        // 配件特殊处理
        if (target.name === 'accessories') {
            const accessories = []
            const accessories_id = []
            
            // selected
            $(target).find('option:selected').each((i, target) => {
                accessories.push(target.title)
                accessories_id.push(target.value)
            })

                
            temp.accessories = accessories.join()
            temp.accessories_id = accessories_id.join()

            return
        }


        temp[target.name] = target.value
    })

    temp.variant_id = carbon.variants.find(c => c.title === `${temp.bike_style} / ${temp.bike_size}`).id
    temp.offers = $('.forms label[class="active"]').attr('for')



    return temp
}

// 动态渲染Size
$('select[name="bike_size"]').html('<option value="">---</option>' + size.values.map(v => {
    return `<option value="${v}">${v} - ${size_map[v]}</option>`
}))

console.log('carbon', carbon)
setTimeout(() => {
    // yes or no change
    $('form .multiple-checkbox :input').on('change', e => {
        if (e.currentTarget.id === 'yes') {
            $(`form .multiple-checkbox label[for="yes"]`).css("border-color", "black")
            $(`form .multiple-checkbox label[for="yes"] img`).css('display', 'unset')
            $(`form .multiple-checkbox label[for="yes"]`).addClass('active')
    
            $(`form .multiple-checkbox label[for="no"]`).css("border-color", "#00000034")
            $(`form .multiple-checkbox label[for="no"] img`).css('display', 'none')
            $(`form .multiple-checkbox label[for="no"]`).removeClass('active')
        } else {
            $(`form .multiple-checkbox label[for="no"]`).css("border-color", "black")
            $(`form .multiple-checkbox label[for="no"] img`).css('display', 'unset')
            $(`form .multiple-checkbox label[for="no"]`).addClass('active')
    
            $(`form .multiple-checkbox label[for="yes"]`).css("border-color", "#00000034")
            $(`form .multiple-checkbox label[for="yes"] img`).css('display', 'none')
            $(`form .multiple-checkbox label[for="yes"]`).removeClass('active')
        }
    
    })


    // 动态渲染 style
    $('select[name="bike_size"]').on('change', e => {
        const value = e.target.value

        if (value) {
            $('select[name="bike_style"]').html('<option value="">---</option>' + style.values.map(v => {

                let disabled = false
                const find = carbon.variants.find(c => c.title === `${v} / ${value}`)

                // 如果不可用，按钮禁用掉
                if (find) {
                    disabled = !find.available
                }

                return `<option value="${v}" ${disabled ? 'disabled' : ''}>${v}</option>`
            }))
        } else {
            $('select[name="bike_style"]').html('<option value="">---</option>')
        }
        
    })


    $('.forms form').on("submit", function (event) {




        event.preventDefault();
        return false;
    })
    
}, 100)








// SELECT 插件
$('select[name="accessories"]').SumoSelect({
    placeholder: '',
    csvDispCount: 0,
    floatWidth: 768,
})

</script>