{{ 'sumoselect.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery-ui.css' | asset_url | stylesheet_tag }}

<div class="forms" id="forms">
    <div class="centeral-content">
        <div class="thankyou" style="display:none;">
            <div class="u48DemiBold_v2">Thank you!</div>
            <div class="u24Medium_v2"></div>
            <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
            <div class="sooner">
                <div class="u48DemiBold_v2">Exclusive discount for direct purchases</div>
                <div class="u24Medium_v2">we are now offering a one time <span class="emphasize">{{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }}</span> off and <span class="emphasize">{{ settings.carbon_ebike_free_accessories_count }} Free</span> accessories.</div>
                <div class="choice">
                    <!--<img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/products/img_v2_c011bd46-4e3b-4b0f-8b9f-074a0ba53e6g_1.webp?v=1678963826"/>-->
                    <div>
                        <div class="u30DemiBold_v2">Bike of Your Choice:</div>
                        <div class="u24DemiBold_v2">Carbon 1<i style="visibility: hidden;" class="fa fa-spinner fa-spin"></i></div>
                        <div class="u17DemiBold_v2"><span>Style:</span><span class="u17Light_v2">Sirius</span></div>
                        <div class="u17DemiBold_v2"><span>Size:</span><span class="u17Light_v2">Sirius</span></div>
                        <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Group_21116_2x_8d10631e-2acb-4f2b-ba9f-1fd52fd3aa40.png?v=1685351322"/>
                        <div class="u14DemiBold_v2">
                            <div>{{ settings.carbon_ebike_free_accessories_count }} Free Accessories (worth {{ settings.carbon_ebike_free_accessories_price | money_without_trailing_zeros }})</div>
                            <div class="u11Light_v2">(Apply in your checkout automatically)</div>
                        </div>
                        <div class="my-button my-button-black bynow">Buy now</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nothankyou">
            <div class="u48DemiBold_v2">Request a quote for Urtopia E-bike leasing now</div>
            <div class="u17Light_v2">When you complete this form, we will provide a quote for you and you authorize us to use the information you submit and contact you via email, text message or phone to move the business process forward.<br><br>
            Get <span class="emphasize u20DemiBold_v2">{{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }}</span> off on Carbon 1, <span class="emphasize u20DemiBold_v2">{{ settings.carbon1s_ebike_discount_price | money_without_trailing_zeros }}</span> off on carbon 1s {% unless settings.chord_ebike_discount_price == "0" %}and <span class="emphasize u20DemiBold_v2">{{ settings.chord_ebike_discount_price | money_without_trailing_zeros }}</span> off on Chord/Chord X{% endunless %}, now on leasing</div>
            
            
            <form action="" method="post">
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">First name<i>*</i></div>
                            <input type="text" name="first_name" required>
                        </div>
                        <div>
                            <div class="u24Medium">Last name<i>*</i></div>
                            <input type="text" name="last_name" required>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="u24Medium">Email<i>*</i></div>
                    <input type="email" name="email" required>
                </div>
                <div class="item">
                    <div class="u24Medium">Phone number<i>*</i></div>
                    <input type="tel" name="phone" required>
                </div>
                <!--<div class="item">
                    <div class="u24Medium">Job Position<i>*</i></div>
                    <input type="text" name="job_position" required>
                </div>-->
                <!--<div class="item">
                    <div class="u24Medium">Company<i>*</i></div>
                    <input type="text" name="company" required>
                </div>-->
                <div class="item">
                    <div class="u24Medium">Employer company<i>*</i></div>
                    <input type="text" name="employer" required>
                </div>
                 
                <div class="item change_offers" style="display:none;">
                    <div class="item">
                        <div class="u24Medium">Employer address<i>*</i></div>
                        <input type="hidden" name="employer_address" required>
                    </div> 
                    <div class="item">
                        <div class="u24Medium">Contact person name<i>*</i></div>
                        <input type="hidden" name="contact_person_name" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Contact email<i>*</i></div>
                        <input type="hidden" name="contact_email" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Contact person phone number<i>*</i></div>
                        <input type="hidden" name="contact_person_phone_number" required>
                    </div>
                </div>
    
                <div class="item">
                    <div class="u24Medium">Delivery address<i>*</i></div>
                    <input type="text" name="address" autocomplete="address-line1" required>
                    <span class="clear">×</span>
                </div>
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">Postal code<i>*</i></div>
                            <input type="text" name="postal_code" autocomplete="postal-code" required>
                        </div>
                        <div>
                            <div class="u24Medium">City<i>*</i></div>
                            <input type="text" name="city" autocomplete="address-level2" required>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="u24Medium">Country<i>*</i></div>
                    <input type="text" name="country" value="Deutschland" disabled required>
                </div>
                <div class="item">
                        <div class="u24Medium">Leasing partner your employer provided<i>*</i></div>
                        <select name="partner" required>
                            <option value="">---</option>
                        </select>
                        <span class="error"></span>
                    </div>
                <div class="item" name="bike_image" style="display:none;">
                    <div class="u24Medium">Bike you choose:</div>
                    <input type="image" name="bike_image" src="">
                </div>
                <div class="item">
                    <div class="u24Medium">Bike Model<i>*</i></div>
                    <select name="bike_model" required>
                        <option value="">---</option>
                        <!--<option value="carbonwhiteglow">White Glow</option>-->
                        <option value="carbon1">Carbon 1</option>
                        <option value="carbon1s">Carbon 1s</option>
                        <option value="chord">Chord</option>
                        <option value="chordx">Chord X</option>
                    </select>
                    <span class="tips u14Light_v2"></span>
                </div>
                <div class="item">
                    <div class="mini-item">
                        <div>
                            <div class="u24Medium">Bike Size<i>*</i></div>
                            <select name="bike_size" required>
                                <option value="">---</option>
                                <!--<option value="M">M - Fit for 170-185 cm</option>
                                <option value="L">L - Fit for 180-195 cm</option>
                                -->
                            </select>
                        </div>
                        <div>
                            <div class="u24Medium">Bike Style<i>*</i></div>
                            <select name="bike_style" required>
                                <option value="">---</option>
                                <!--<option value="Sirius">Sirius</option>
                                <option value="Lyra">Lyra</option>
                                <option value="Midnight in Paris">Midnight in Paris</option>
                                <option value="Vanilla">Vanilla</option>
                                -->
                            </select>
                        </div>
                    </div>
                    <span class="error"></span>
                </div>
                <div class="item">
                    <div class="u24Medium">Accessories you would like
                        <!--<br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will not show in your jobrad offer (Ends on 18th of May)</span>-->
                    </div>
                    <select name="accessories" multiple></select>
                    <span class="error"></span>
                    <!-- <input type="text" name="accessories" placeholder="" > -->
                </div>
                <div class="item">
                    <div class="u24Medium"><span>Partner code:</span><br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">It is a ID provide by your employer or HR department.</span></div>
                    <input type="text" name="employer_id">
                </div>
                <div class="item">
                    <div class="u24Medium"><span>Employer number:</span><br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">It is a number issued by your employer or the Human Resources Department.</span></div>
                    <input type="text" name="employer_number">
                </div>
                <!--<div class="item">
                    <div class="u24Medium">Your employer already offers JobRad?<i>*</i></div>
                    <div class="multiple-checkbox">
                        <label for="yes">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">Yes</span>
                            <input type="radio" id="yes" name="offers" value="yes" required />
                        </label>
                        <label for="no">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">No</span>
                            <input type="radio" id="no" name="offers" value="no" required />
                        </label>
                        <label for="not_sure">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                                alt=""/>
                            <span class="u17Medium_v2">Not sure</span>
                            <input type="radio" id="not_sure" name="offers" value="not_sure" required />
                        </label>
                    </div>
                </div>-->
                <div class="item">
                    <div class="u24Medium">Note</div>
                    <input type="text" name="note">
                  </div>
                <div class="item">
                    <div class="checkbox">
                        <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                        <label class="u17Light" for="subscribe" style="text-align: left;">I agree to allow Urtopia to store and process my
                            personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                    </div>
                </div>
                <div class="item">
                    <div style="display: flex;">
                        <button class="my-button my-button-black" type="submit">Submit</button>
                        <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                    </div>
                </div>
                <!-- <div class="item u17Medium">Thank you for submitting the form. <br>Our expert will contact you soon.</div> -->
            </form>
        </div>
    </div>
</div>
{{ 'sumoselect.js' | asset_url | script_tag }}
{{ 'jquery-ui.min.js' | asset_url | script_tag }}
<script>

// 页面信息
const page_infos = {
    page_name: 'leasing',
    form_offers_label: 'Your employer already offers<br class="pcHide mobileHide"> <span>leasing</span>?<i>*</i>',
    form_thankyou_content: 'You have successfully submit the form. Our expert will contact you soon. <br><br>If you have any questions, please do not hesitate to contact us: Email: <a class="my-link" href="mailto:leasing@newurtopia.de">leasing@newurtopia.de',
    form_thankyou_content2: `Thank you for your request. Our expert will contact you soon. Please check your inbox. <br><br>Since your company has not yet partnered with <span></span>, we would like to offer you an exclusive discount for direct purchases as an expression of our gratitude and support.`
}


// size 映射
const size_map = {
    'M': 'Fit for 165-180 cm',
    'L': 'Fit for 175-195 cm',
    'High-Step': 'Fit for 170-195 cm',
    'Step-Through': 'Fit for 160-185 cm'
}

// model map 
const bike_model_map = {
    'carbon1': 'Carbon 1',
    'carbon1s': 'Carbon 1s',
    'chord': 'Chord',
    'chordx': 'Chord X',
    'carbonwhiteglow': 'White Glow'
}


// 表单忽略项
const ignore = ['submit', 'checkbox', 'image', 'hidden']
// carbon 产品信息
const carbon = JSON.parse(JSON.stringify({{ all_products['leasing-urtopia-carbon-1s'] | json }}))
const chord = JSON.parse(JSON.stringify({{ all_products['leasing-urtopia-chord'] | json }}))

// 尺寸信息
const carbon_model = Array.from(new Set(carbon.variants.map(i => i.option1)))
const carbon_size = Array.from(new Set(carbon.variants.map(i => i.option2)))
const carbon_style = Array.from(new Set(carbon.variants.map(i => i.option3)))

const chord_frame = Array.from(new Set(chord.variants.map(i => i.option1)))
const chord_style = Array.from(new Set(chord.variants.map(i => i.option2)))

// 是否已提交
let is_submited = false
// 是否已点击buynow, 为了防止重新提交
let buynow_clicked = false

console.log('carbon', carbon)
console.log('chord', chord)

function partnerForAccessoriesDisable (v, isSelect = false) {
        const selectAccessories = $('select[name="accessories"]').val() || []
        window.selectPlugin.sumo.unSelectAll()

        isSelect && $('select[name="accessories"] option').length && $('.forms form select[name="partner"]').closest('.item').find('.error').text(`Please select your accessioes again due to the change of leasing partner`)

        $('select[name="accessories"] option').each((i, t) => {
            const id = $(t).val()
            const text = $(t).text()
            
            if ((v === "Jobrad" || v === "Deutsche Dienstrad" || v === 'none') && global_config.leasing.jobrad_disabled_accessories.includes(id)) {
                const hasDisable = selectAccessories.some(s => global_config.leasing.jobrad_disabled_accessories.includes(s))

                if (hasDisable) {
                    $('.forms form select[name="accessories"]').closest('.item').find('.error').text(`Due to the change of leasing partner, please select your accessioes again and some of it might be unavailble.`)
                }

                $(`.optWrapper ul li[title="${text}"]`).hide()
                return window.selectPlugin.sumo.disableItem(i)
            }

            $(`.optWrapper ul li[title="${text}"]`).show()
            window.selectPlugin.sumo.enableItem(i)
        })
    }

function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-10876491006/sCHgCIiX55oYEP6pqMIo',
        'event_callback': callback
    });
    return false;
}


function getFormValues (elem = '') {
    const temp = {}

    if (!elem) {
        return temp
    }

    $(elem).each((index, target) => {
        if (ignore.includes(target.type)) {
            return
        }


        
        // 配件特殊处理
        if (target.name === 'accessories') {
            const accessories = []
            const accessories_id = []
            
            // selected
            $(target).find('option:selected').each((i, target) => {
                accessories.push(target.title)
                accessories_id.push(target.value)
            })

                
            temp.accessories = accessories.join()
            temp.accessories_id = accessories_id.join()

            return
        }


        temp[target.name] = target.value
    })

    if (temp.bike_model.includes('carbon')) {
        const bike_model = temp.bike_model === 'carbon1' ? "Carbon Belt" : "Shimano Gear"
        temp.variant_id = carbon.variants.find(c => c.title === `${bike_model} / One Size / ${temp.bike_style}`)
        temp.variant_id = temp.variant_id ? temp.variant_id.id : ''

        if (temp.bike_model.includes("carbonwhiteglow")) {
            temp.variant_id = '44129634484440'
        }
    } else {
        temp.variant_id = chord.variants.find(c => c.title === `${temp.bike_size} / ${temp.bike_style}`)
        temp.variant_id = temp.variant_id ? temp.variant_id.id : ''
    }

    
    temp.offers = $('.forms label[class="active"]').attr('for')
    console.log('temp', temp)
    return temp
}

// 表单参数和查询参数，提交之前做合并
function mergeValues () {
    const forms = getFormValues('.forms form :input')
    const search = getSearchValues()
    // 表单数据覆盖url 参数，合并
    const merge = Object.assign(search, forms)

    // 重写bike 参数
    merge.bike_model = bike_model_map[merge.bike_model]
    merge.bike_size = merge.bike_size + ' - ' + (size_map[merge.bike_size] || '')
    merge.page_type = page_infos.page_name
    merge.offers = forms.partner === 'none' ? 'no' : 'yes'

    return merge
}


function submit (forms = {}) {
    
    // 状态变为已提交
    is_submited = true

    // 如果 offers 选择no
    // if (forms.offers === 'no') {
    //    return fetchBuried(page_infos.page_name, 'submit-nooffer', forms)
    //}


    forms.url = location.href
    fetchBuried('leasing', 'submit', forms)

    if (forms.offers === 'no') {
        return
    }

    // fbq
    fbq('track', 'CompleteRegistration', {
        value: 3596,
        currency: 'usd',
    });

    // gtag
    gtag_report_conversion()
}

const clearBikeImage = () => {
    $('.forms form .item input[name="bike_image"]').attr('src', '')
    $('.forms form .item[name="bike_image"]').hide()
}


const carbonBikeChange = (model, size, style) => {
    $('.forms form .item .tips').html(`incl. ${model === 'carbon1' ? switch_bike.carbon1.discount_price: switch_bike.carbon1s.discount_price } <label>discount with free bike stand, ${global_config.leasing.ebike_delivery_time[model]}</label>`)
    model = model === 'carbon1' ? "Carbon Belt" : "Shimano Gear"

    // 通过遍历 判断option 是否可用
    setTimeout(() => {
        $(`select[name="bike_style"] option`).each((i, item) => {
        const v = item.value

        if (i === 0) {
            return true
        }

        const vari = carbon.variants.find(c => c.title === `${model} / ${size} / ${v}`)

        if (vari && vari.option1 === "Shimano Gear" && vari.option3 === "vanilla") {
            return item.disabled = true
        }

        item.disabled = !vari ? false : !!!vari.available
    })
    }, 30)


    if (!size || !style || !carbon_size.includes(size) || !carbon_style.includes(style)) {
        return clearBikeImage()
    }


    const find = carbon.variants.find(c => c.title === `${model} / ${size} / ${style}`)

    console.log('find', find)

    // 如果当前variant 库存不足
    if (!find || !find.available) {
        $('select[name="bike_style"]').val('')
        $('.forms form select[name="bike_size"]').closest('.item').find('.error').html(`<span>Your selection is currently reached our stock limit</span> - {{ 'order_page.size' | t  }}: ${size}, {{ 'order_page.style' | t  }}: ${style}`)
        
        return clearBikeImage()
    }

    $('.forms form .item input[name="bike_image"]').attr('src', `${find.featured_image.src}&width=400`)
    $('.forms form .item[name="bike_image"]').show()
}


let current_chord_model = ''
const chordBikeChange = (model, size, style) => {
    console.log('current_chord_model !== model', current_chord_model, model)
    if (current_chord_model !== model) {
        // 渲染acc
         $('select[name="accessories"]').html(model === 'chord' ? `{% for product in collections["chord-leasing-accessories"].products %}
        <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
        {% endfor %}`: `{% for product in collections["chord-x-leasing-acc"].products %}
            <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
        {% endfor %}`)

        window.selectPlugin.sumo.reload()

        $('select[name="partner"]').val() && setTimeout(() => {
            partnerForAccessoriesDisable($('select[name="partner"]').val())
        }, 300)
    }


    current_chord_model = model
    size = model === 'chord' ? 'High-Step' : 'Step-Through'
    setTimeout(() => $('select[name="bike_size"]').val(size))

    $('.forms form .item .tips').html(`incl. {% unless settings.chord_ebike_discount_price == "0" %}${model === 'chord' ? switch_bike.chord.discount_price + " discount with": switch_bike.chordx.discount_price + " discount with" }{% endunless %} <label>free bike stand and mudguard, ${global_config.leasing.ebike_delivery_time[model]}</label>`)
    

    // 通过遍历 判断option 是否可用
    setTimeout(() => {
        $(`select[name="bike_style"] option`).each((i, item) => {
          const v = item.value
  
          if (i === 0) {
              return true
          }
  
          const vari = chord.variants.find(c => c.title === `${size} / ${v}`)
          console.log( `${size} / ${v}`, vari);
          
          item.disabled = !vari ? false : !!!vari.available

          if (item.disabled) {
            $(item).hide()
          } else {
            $(item).show()
          }
      })
    }, 30)


    if (!size || !style || !chord_frame.includes(size) || !chord_style.includes(style)) {
        return clearBikeImage()
    }

    const find = chord.variants.find(c => c.title === `${size} / ${style}`)

    console.log('find', find)

    // 如果当前variant 库存不足
    if (!find || !find.available) {
        $('select[name="bike_style"]').val('')
        $('.forms form select[name="bike_size"]').closest('.item').find('.error').html(`<span>Your selection is currently reached our stock limit</span> - {{ 'order_page.size' | t  }}: ${size}, {{ 'order_page.style' | t  }}: ${style}`)
        
        return clearBikeImage()
    }

    $('.forms form .item input[name="bike_image"]').attr('src', `${find.featured_image.src}&width=400`)
    $('.forms form .item[name="bike_image"]').show()
}

let current_model = ''
const changeBikeImage = e => {
    $('.forms form .item .error').text('')
    $('select[name="bike_size"]')[0].disabled = false
    $('select[name="bike_style"]')[0].disabled = false

    const model = $('select[name="bike_model"]').val()

    if (!model) {
        $('select[name="bike_size"]').html('<option value="">---</option>')
        $('select[name="bike_style"]').html('<option value="">---</option>')
        $('select[name="accessories"]').html('')
        $('.forms form .item .tips').hide()
        window.selectPlugin.sumo.reload()
        current_model = ''
        current_chord_model = ''

        return clearBikeImage()
    }

    if (model === 'carbonwhiteglow') {
        $('select[name="bike_size"]')[0].disabled = true
        $('select[name="bike_style"]')[0].disabled = true

        $('select[name="bike_size"]').html('<option value="fit for 175-195 cm">fit for 175-195 cm</option>')
        $('select[name="bike_style"]').html('<option value="White Glow">White Glow</option>')

        $('.forms form .item input[name="bike_image"]').attr('src', `https://urtopia-de.myshopify.com/cdn/shop/files/1pw_e765a11b-73e6-4503-829c-5a203c15b3d7.png?v=1695624132?v=1700895761&width=400`)
        $('.forms form .item[name="bike_image"]').show()
        $('.forms form .item .tips').html('Free shipping within <span>5 working days</span>')

        // 渲染acc
        $('select[name="accessories"]').html(`{% for product in collections["carbon-1-leasing-acc"].products %}
            <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
        {% endfor %}`)

        window.selectPlugin.sumo.reload()

        $('select[name="partner"]').val() && setTimeout(() => {
            partnerForAccessoriesDisable($('select[name="partner"]').val())
        }, 300)

        current_model = 'carbonwhiteglow'

        return 
    }




    const current = model === 'carbon1' || model === 'carbon1s' ? 'carbon' : 'chord'

    if (current === 'chord') {
        $('select[name="bike_size"]')[0].disabled = true
    } else {
        current_chord_model = ''
    }

    if (current === 'carbon') {
        $('select[name="bike_size"]')[0].disabled = true
    }
    

    const size = $('select[name="bike_size"]').val()
    const style = $('select[name="bike_style"]').val()

    console.log(current, model, size, style)


    current === 'carbon' ? carbonBikeChange(model, 'One Size', style) : chordBikeChange(model, size, style)



    // 如果同一产品 就不用走后面的
    if (current_model === current) {
        return
    }

    current_model = current

    window.selectPlugin.sumo.unSelectAll()

    if (current === 'carbon') {
        // 动态渲染Size
        //$('select[name="bike_size"]').html('<option value="">---</option>' + carbon_size.map(v => {
            //return `<option value="${v}">${v} - ${size_map[v]}</option>`
        //}))

        $('select[name="bike_size"]').html('<option value="One Size">One Size</option>')

        // 动态渲染Style
        $('select[name="bike_style"]').html('<option value="">---</option>' + carbon_style.map(v => {
           

            return `<option value="${v}">${v}</option>`
        }).filter(Boolean))

        // 渲染acc
        $('select[name="accessories"]').html(`{% for product in collections["carbon-1-leasing-acc"].products %}
            <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
        {% endfor %}`)

        
        window.selectPlugin.sumo.reload()

        $('select[name="partner"]').val() && setTimeout(() => {
            partnerForAccessoriesDisable($('select[name="partner"]').val())
        }, 300)
    } else {
        // 动态渲染Size
        $('select[name="bike_size"]').html('<option value="">---</option>' + chord_frame.map(v => {
            return `<option value="${v}">${v} - ${size_map[v]}</option>`
        }))

        // 动态渲染Style
        $('select[name="bike_style"]').html('<option value="">---</option>' + chord_style.map(v => {
            return `<option value="${v}">${v}</option>`
        }))
    }

    $('.forms form .item .tips').show()
}


// 延迟执行一些DOM
setTimeout(() => {
    $('input[name="employer_id"]').closest('.item').hide()
    $('input[name="employer_number"]').closest('.item').hide()
    // 更改 offers label
    $('input[name="offers"]').closest('.item').find('.u24Medium').html(page_infos.form_offers_label)

    // yes or no change
    $('form .multiple-checkbox :input').on('change', e => {
        // 全部重置为默认状态
        $(`form .multiple-checkbox label`).removeClass('active')
        
        $(`form .multiple-checkbox label img`).hide()

        $(`form .multiple-checkbox label[for="${e.currentTarget.id}"]`).addClass('active')
        $(`form .multiple-checkbox label[for="${e.currentTarget.id}"] img`).show()

        // $(`form .change_offers :input`).attr('type', 'hidden')
        // $(`form .change_offers`).hide()
    })

    // model change
    $('select[name="bike_model"]').on('change', changeBikeImage)
    // size change
    $('select[name="bike_size"]').on('change', changeBikeImage)
    // style change
    $('select[name="bike_style"]').on('change', changeBikeImage)


    $('.forms form').on("submit", function (event) {
        const values = mergeValues()

        submit(values)

        // 隐藏form
        $('.forms .centeral-content').css('max-width', '1280px')
        $('.forms .nothankyou').hide()
        $('.forms .thankyou').show()
        
        
        $('.forms .thankyou .sooner').hide()
        $('.forms .thankyou > .u24Medium_v2').html(page_infos.form_thankyou_content)
        

        setTimeout(() => {
            $('html').animate({
                scrollTop: $('.forms').offset().top - (((document.documentElement.clientHeight / 2) + ($('.forms').height() / 2)) / 2)
            }, 300)
        }, 50)

        event.preventDefault();
        return false;
    })


    
    // SELECT 插件
    window.selectPlugin = $('select[name="accessories"]').SumoSelect({
        placeholder: '',
        csvDispCount: 0,
        floatWidth: 768,
    })

    $(function() {
        var cache = {};
        $('input[name="address"]').autocomplete({
        minLength: 1,
        source: function( request, response ) {
            const search = request.term
            fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${search}.json?country=DE&language=de&limit=5&types=postcode,district,place,locality,address,poi&access_token=pk.eyJ1IjoiYW50b25pby1sbGFubyIsImEiOiJjbDV6bzljMXUxZmI0M2Ntbnl0dDQ0cWE0In0.FNFUfT-_bFq_l6Zo36lnAg`).then(r => r.json()).then(r => {
                response(r.features.map(f => {
                    return {
                        label: f.place_name_de,
                        value: f.place_name_de,
                        f
                    }
                }))
            }).catch(e => {
                console.log(e)
            })
          },
          select: function( event, ui ) {
            const city = ui.item.f.context.find(i => i.id.includes('place'))
            const postal_code = ui.item.f.context.find(i => i.id.includes('postcode'))

            if (city) {
                $('input[name="city"]').val(city.text_de)
            } else {
                $('input[name="city"]').val('')
            }

            if (postal_code) {
                $('input[name="postal_code"]').val(postal_code.text_de)
            } else {
                $('input[name="postal_code"]').val('')
            }
          },
          change: function (event, ui) {
            console.log('e', event)
            console.log('ui', ui)
          }
        });
    });

    $('.forms .item .clear').on('click', () => {
            console.log('eeeeee')

            $('input[name="address"]').val('')
    })

    $('input[name="address"]').on('focus', e => {
        e.target.value ? $('.forms .item .clear').show() : $('.forms .item .clear').hide()
    })

    $('input[name="address"]').on('input', e => {
        e.target.value ? $('.forms .item .clear').show() : $('.forms .item .clear').hide()
    })

    $('input[name="address"]').on('blur', () => setTimeout(() => $('.forms .item .clear').hide(), 200))


    /*
    const script = document.getElementById('search-js');
    script.onload = function() {
        mapboxsearch.autofill({
            accessToken: 'pk.eyJ1IjoiaGFya2lyYW43MjM3IiwiYSI6ImNrcGdwaWpoYzJqaGwzMW54ajdrbW0xZjUifQ.qXWqhm4BiHFwMh1UOi69uQ',
            options: { 
                country: 'DE',
                language: 'de',
                limit: 5,
            },
            types: 'country,region,postcode,district,place,locality'
        });
    };

    */


    // url 参数
    const urlSearch = getSearchValues()

    console.log('urlSearch', urlSearch)

    // 如果存在车型参数
    if (urlSearch.bike_style) {
        $(`select[name="bike_model"]`).val(urlSearch.bike_model)

        setTimeout(changeBikeImage)

        setTimeout(() => {
            // 填充size
            $(`select[name="bike_size"]`).val(urlSearch.bike_size)
            // 填充style
            $(`select[name="bike_style"]`).val(urlSearch.bike_style)
            // change bike image
            setTimeout(changeBikeImage, 300)
        }, 300)
    }

    // 如果有 accessories 存在
    if (urlSearch.accessories) {
        for (const acc of urlSearch.accessories.split(',')) {
            window.selectPlugin.sumo.selectItem(acc)
        }
    }
    
}, 100)


// 页面访问key
const visited_key = `${page_infos.page_name}_page_is_visited`
// 页面访问
if (!!!sessionStorage[visited_key]) {
    fetchBuried(page_infos.page_name, 'pageview')
}

// 记录来过这个页面
sessionStorage[visited_key] = visited_key


// 页面退出之前，往服务器提交数据
document.addEventListener('visibilitychange', () => {
    // 如果已提交过，不用再次提交
    if (is_submited) {
        return
    }

    if (document.visibilityState === 'hidden') {
        fetchBuried(page_infos.page_name, 'submitinfo', mergeValues(), true)
    }
})


</script>