{{ 'sumoselect.min.css' | asset_url | stylesheet_tag }}
{{ 'jobrad.scss.css' | asset_url | stylesheet_tag }}


<div class="jobrad">
        <div class="banner">
            <div class="centeral-content">
                <div>
                    <img class="pcHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jr-color_2x_d6424f5f-f299-46a2-8f78-ffd7816f157e.jpg?v=1679970881"
                        alt="">
                    <span class="u48DemiBold_v2">JobRad – <br> lease company e-bikes <br class="mobileHide">from Urtopia</span>
                    <span class="u24Medium_v2">Pay in monthly installments with JobRad - Germany’s largest leasing provider <!-- - and save up to 40% compared to a conventional bicycle purchase.--></span>
                  <!--<span class="u24Medium_v2">Orders via JobRad also benefit from our Father’s Day promotion: 3 free accessories.  You will receive the accessories separately. Act quickly!<br>(Ends on 18th of May)</span>-->
                    <a class="my-button mobileHide" href="#forms">Request on Offer</a>
                    <a class="my-button my-button-black pcHide" href="#forms">Request on Offer</a>
                </div>
                <div class="mobileHide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jr-color.png?v=1679968891" alt="">
                </div>
            </div>
        </div>
        <div class="benefits">
            <div class="centeral-content">
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7287_a0b456dd-7aa8-41ca-a851-4f590a0428c3.jpg?v=1679973968"
                    alt="">
                <div>
                    <span class="u48DemiBold">Your benefits <br class="mobileHide">through JobRad</span>
                    <div>
                        <div class="u24Medium">Deducted from your salary</div>
                        <div class="u17Light">Monthly contributions towards your lease of a Urtopia will be deducted from your gross salary.  A 36 month leasing plan let you split the cost and enjoy the product.</div>
                    </div>
                    <div>
                        <div class="u24Medium">Additional monthly savings</div>
                        <div class="u17Light">If you lease with JobRad, your purchase is tax deductible. You can save up to
                            40% compared to buying a bike with a traditional payment method.</div>
                    </div>
                    <div>
                        <div class="u24Medium">Enjoy it from now, even outside of work</div>
                        <div class="u17Light">Ride away from stress and towards happiness! Request your bike today to take
                            advantage of an enjoyable biking experience both during work hours as well as after.</div>
                    </div>
                    <a class="my-button my-button-black" href="#forms">Request on Offer</a>
                </div>
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7287.jpg?v=1679971555"
                    alt="">
            </div>
        </div>
        <div class="works">
            <div class="centeral-content">
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221018-untitled-8667.jpg?v=1679975453"
                    alt="">
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221018-untitled-8667_332b211b-8db4-41ab-b50f-049eba8c2038.jpg?v=1679981771"
                    alt="">
                <div>
                    <div class="u48DemiBold">How it works</div>
                    <div class="u20Medium">Please ensure that your employer has signed up with JobRad.  <a class="your" style="text-decoration: underline;" href="">Your employer doesn't offer JobRad yet?</a></div>
                    <div class="u17Light">1. Click on the button or filling the form below to start your application with a
                        new form.
                        (Currently only Carbon 1 is available for JobRad) <br><br>2. We will then place an offer for you on
                        the
                        JobRad portal, where you can view and confirm it. <br><br>3.After you approve the offer, 
                      JobRad sends the offer to your employer for approval<br><br>4. Once it’s been approved by your
                        employer, your
                        bike will then be shipped once in stock. <br><br>5. Please be aware that accessories will be shipped
                        separately and might arrive later than the bike.</div>
                    <a class="my-button my-button-black" style="margin-right: 15px;" href="#forms">Request on Offer</a>
                    <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                </div>
            </div>
        </div>
        <div class="calculator">
            <div class="centeral-content jobrad-bike-leasing-calculator"
                id="jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main">
                <div class="u48DemiBold">JobRad Calculator</div>
                <iframe scrolling="no" width="100%" src="https://bike-leasing-calculator.jobrad.org?genericObserve=true"></iframe>
            </div>
        </div>
        <div class="forms" id="forms">
            <div class="centeral-content">
                <div class="u48DemiBold">Join the Ride Today</div>
              <div class="u24Medium" style="font: 300 17px/19px urbane;">Complete the form and we’ll submit the request with your leasing partner. <br>Orders through JobRad also benefit from our Father’s Day promotion: 3 free accessories(bike stand, fenders, water bottle holder).  <br><span class="u20Medium">(Ends on 18th of May)</span></div>
                <!--<div class="u24Medium">Complete the form and we’ll submit the request with your leasing partner.</div>-->
                <form action="" method="post">
                    <div class="item">
                        <div class="mini-item">
                            <div>
                                <div class="u24Medium">First name<i>*</i></div>
                                <input type="text" name="first_name" required>
                            </div>
                            <div>
                                <div class="u24Medium">Last name<i>*</i></div>
                                <input type="text" name="last_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Email<i>*</i></div>
                        <input type="email" name="email" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Phone number<i>*</i></div>
                        <input type="tel" name="phone" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Employer<i>*</i></div>
                        <input type="text" name="employer" required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Delivery address<i>*</i></div>
                        <input type="text" name="address" required>
                    </div>
                    <div class="item">
                        <div class="mini-item">
                            <div>
                                <div class="u24Medium">Postal code<i>*</i></div>
                                <input type="text" name="postal_code" required>
                            </div>
                            <div>
                                <div class="u24Medium">City<i>*</i></div>
                                <input type="text" name="city" required>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Country<i>*</i></div>
                        <input type="text" name="country" value="Deutschland" disabled required>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Bike Model<i>*</i></div>
                        <input type="text" name="bike_model" value="Carbon 1" disabled required>
                    </div>
                    <div class="item">
                        <div class="mini-item">
                            <div>
                                <div class="u24Medium">Bike Size<i>*</i></div>
                                <select name="bike_size" required>
                                    <option value="">---</option>
                                    <!--<option value="M">M - Fit for 170-185 cm</option>                  
                                    <option value="L">L - Fit for 180-195 cm</option>-->
                                </select>
                            </div>
                            <div>
                                <div class="u24Medium">Bike Style<i>*</i></div>
                                <select name="bike_style" required>
                                    <option value="">---</option>
                                    <!--<option>Sirius</option>
                                    <option>Lyra</option>
                                    <option>Midnight in Paris</option>
                                    <option>Vanilla</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="u24Medium">Accessories you would like
                            <br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will not show in your jobrad offer (Ends on 18th of May)</span>
                        </div>
                        <select name="accessories" multiple>
                          {% for collection in collections %}
                              {% if collection.title == 'Carbon 1 leasing acc' %}
                                  {% for product in collection.products %}
                                      <option title="{{product.title}}" value="{{product.id}}">{{product.title}}</option>
                                  {% endfor %}
                              {% endif %}
                            {% endfor %}
                        </select>
                        <!-- <input type="text" name="accessories" placeholder="" > -->
                    </div>
                    <div class="item">
                      <div class="u24Medium">Note</div>
                      <input type="text" name="note">
                    </div>
                    <div class="item">
                        <div class="checkbox">
                            <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                            <label class="u17Light" for="subscribe" style="text-align: left;">I agree to allow Urtopia to store and process my
                                personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                        </div>
                    </div>
                    <div class="item">
                        <div style="display: flex;">
                            <button class="my-button my-button-black" type="submit">Submit</button>
                            <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                        </div>
                    </div>
                    <!-- <div class="item u17Medium">Thank you for submitting the form. <br>Our expert will contact you soon.</div> -->
                </form>
            </div>
        </div>
        <div class="faqs">
            <div class="centeral-content">
                <div class="faq">
                    <div class="titlee">Frequently asked <br class="pcHide">questions about JobRad</div>
                    <div class="swiper swiper-no-swiping faq-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{ 'sumoselect.js' | asset_url | script_tag }}
<script>
  window.addEventListener(
        'message',
        (function () {
            // NOTE: This is how we can support multiple instances in same page.
            var id = 'jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main'

            console.log('message');

            return function (event) {
                if (
                    id === 'jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main' &&
                    event.origin === 'https://bike-leasing-calculator.jobrad.org' &&
                    typeof event.data === 'object' &&
                    'genericState' in event.data &&
                    event.data.genericState.body.outerHeightInPixel > 0
                )
                    window.document.querySelector(
                        '.jobrad-bike-leasing-calculator#jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main iframe'
                    ).style.height =
                        event.data.genericState.body.outerHeightInPixel + 'px'
            }
        })(),
        false
    )


    const size_map = {
        M: 'Fit for 170-185 cm',
        L: 'Fit for 180-195 cm'
      }
    
    const forms = {}
    const ignore = ['submit', 'checkbox']

    const faqs = [
        {
            title: "Your employer doesn't offer JobRad yet?",
            content: `No problem. They can use the <a target="_blank" href="https://www.jobrad.org/kontakt-mittler.html">contact form</a> to get in touch with JobRad quickly and easily and even request contract documents directly. Here you can find the advantages and <a target="_blank" href="https://www.jobrad.org/arbeitgeber.html">further information for employers</a>.<br><br> In order for you to lease a JobRad from us, your employer must offer JobRad. The leasing contract runs through your employer. If your employer does not offer JobRad, it does not matter. She/he can simply sign up. The leasing concept not only offers advantages to you, but also to your employer. <a target="_blank" href="https://www.jobrad.org/arbeitgeber.html">Click here for more information for employers</a>. If you are self-employed, you can also <a target="_blank" href="https://selbststaendige.jobrad.org/">find useful information about tax benefits, requirements and the leasing request form on the JobRad website</a>.`
        },
        {
            title: 'Am I qualified for JobRad?',
            content: 'You are an employee: If your company already works with JobRad, you can order your Urtopia today. If not, you can introduce your employer <a target="_blank" href="https://www.jobrad.org/kontakt.html">here<a/> at JobRad. <br><br> You are self-employed: You can certainly lease one or more Urtopias for your company via JobRad. You can find more practical information <a target="_blank" href="https://www.jobrad.org/kontakt.html">here<a/> .'
        },
        {
            title: 'What is the benefit of leasing a Urtopia through JobRad?',
            content: 'You can save up to 40% compared to a conventional purchase. The monthly installments are simply deducted from your gross salary and the additional tax benefit saves you money.'
        },
        {
            title: 'How does the eSIM service apply to leasing?',
            content: "No, it is not possible to add the eSIM service to the offer.<br><br>The first year is free.<br>After that you can purchase it from Urtopia's official website.<br><br>Outdoor 4G connectivity requires an active eSIM service to ensure constant connectivity and security on the go. It is required for many advanced smart features such as activity tracking, AI voice control, motion alerts, and OTA updates."
        },
        {
            title: 'How do I order a Urtopia via JobRad?',
            content: 'Please fill out this form with your contact details to request a quote. We will then post an offer for you on the JobRad portal. You can view the offer and confirm what you will see in your portal.<br><br> After confirmation, the offer is converted into an order. Your employer and JobRad must approve the order. <br><br>You will receive a confirmation email once your order has been reviewed and approved. Soon you’ll be riding your Urtopia bike!'
        },
        {
            title: 'How long is the lease period?',
            content: 'The leasing period is 36 months. The installments will be deducted from your gross salary monthly until the end of this period.'
        },
        {
            title: 'What happens if I leave my employer?',
            content: 'Depending on the situation, there are different options. It is best to discuss the possibilities with your employer. You can find more information here .'
        },
        {
            title: 'Can I add Urtopia Theft Insurance to my JobRad order?',
            content: 'No, it is not possible to add our theft insurance to the offer. JobRad has its own insurance against theft, accidents and damage, which is included in the leasing package.'
        },
        {
            title: 'Can I add accessories to my JobRad order?',
            content: 'Yes, you can add both the bike and the accessories to your order. The availability is depends on our local stock, our specialist will contact you about your order.'
        },
        {
            title: 'I have already bought a bike from you. Can I use this order for leasing via JobRad?',
            content: 'Unfortunately, no. The only option here would be to cancel your order and place a new order through JobRad.'
        },
        {
            title: 'What happens if I want to return my Urtopia?',
            content: 'Generally this is not possible. When you receive your bike, it is very important that you carefully inspect it for any imperfections or defects. If your bike was delivered damaged, please contact our customer service. An exchange for the same bike is possible in certain cases.'
        },
        {
            title: 'Can I return my JobRad order within the 14 day period?',
            content: 'No. Unfortunately, this is not possible, as you have agreed on a leasing contract with the duration of 36 months with JobRad. If you have questions about the terms of your contract, please contact JobRad.'
        }
    ]

    function gtag_report_conversion(url) {
        var callback = function () {
          if (typeof(url) != 'undefined') {
            window.location = url;
          }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-10876491006/sCHgCIiX55oYEP6pqMIo',
            'event_callback': callback
        });
        return false;
      }


    
    function submit(extras = {}) {
        console.log('extras', extras)

        let search = {}
        const url = new URL(location.href)

        for (const [k, v] of url.searchParams.entries()) {
            search[k] = v
        }

        search = Object.assign(search, extras)

        // 重写bike_size
        search.bike_size = search.bike_size + ' - ' + size_map[search.bike_size]

        fetchBuried('jobrad', 'submit', search)
        // fbq('track', 'Jobrad Submit')
        fbq('track', 'CompleteRegistration', {
            value: 3596,
            currency: 'usd',
        });

        gtag_report_conversion()
    }


    let is_request = false
    $('.forms form :input').on('input', debounce(e => {
        if (is_request) {
            return            
        }

        is_request = true
        const data = {}

        $('.forms form :input').each((i, target) => {
            data[target.name] = target.value
        })

        fetchBuried('jobrad', 'submitinfo', data)
    }, 5000))

    $('.faqs .swiper-slide').html(faqs.map(faq => `
      <div class="faq-item">
         <div class="faq-title">
           <span>${faq.title}</span>
           <i class="faq-content-plus"></i>
         </div>
         <div class="faq-content">${faq.content}</div>
      </div>`).join(''))


    setTimeout(() => {
        $('.faq-title').click(function () {
            $(this)
                .siblings('.faq-content')
                .slideToggle()
                .parent()
                .siblings()
                .find('.faq-content')
                .slideUp();
            $(this).children('i').toggleClass('faq-content-plus');
            $(this)
                .parent()
                .siblings()
                .find('.faq-title')
                .children('i')
                .addClass('faq-content-plus');
        });
    }, 1000)


    if (!sessionStorage.isPreviewJobrad) {
        fetchBuried('jobrad', 'pageview')
    }

    // 记录来过这个页面
    sessionStorage.isPreviewJobrad = 'isPreviewJobrad'


    // url 处理
    const urlSearch = {}
    const urlInstance = new URL(location.href)

    for (const [k, v] of urlInstance.searchParams.entries()) {
        urlSearch[k] = v
    }

    /* 如果bike_style 存在
    if (urlSearch.bike_style) {
        $(`select[name="bike_style"]`).val(urlSearch.bike_style)
    }

    // 如果bike_size 存在
    if (urlSearch.bike_size) {
        $(`select[name="bike_size"]`).val(urlSearch.bike_size)
    }

    */

    $('.works .your').on('click', e => {
        const item = document.querySelector('.faqs .faq-item')
        const title = item.querySelector('.faq-title')
        const content = item.querySelector('.faq-content')

        // 如果是隐藏状态才展开
        if (window.getComputedStyle(content).display === 'none') {
            title.click()
        }
        
        console.log('e', e)
        setTimeout(() => {
            $('html').animate({
                scrollTop: $('.faqs').offset().top - 100
            }, 300)
        })


        e.preventDefault();
        return false;
    })

      // SELECT 插件
      const selectPlugin = $('select[name="accessories"]').SumoSelect({
        placeholder: '',
        csvDispCount: 0,
        floatWidth: 768,
      })

      console.log('selectPlugin', selectPlugin)


          // 如果有 accessories 存在
    if (urlSearch.accessories) {
        for (const s of urlSearch.accessories.split(',')) {
            selectPlugin.sumo.selectItem(s)
        }
    }


    jQuery.getJSON(window.Shopify.routes.root + 'products.json', res => {
        const carbon = res.products.find(p => p.id === 7633738727640)
        const size = carbon.options.find(o => o.name === 'Size')
        const style = carbon.options.find(o => o.name === 'Style')

        console.log(carbon)

        $('select[name="bike_size"]').html('<option value="">---</option>' + size.values.map(v => {
            return `<option value="${v}">${v} - ${size_map[v]}</option>`
        }))

        const fn = value => {
            $('select[name="bike_style"]').html('<option value="">---</option>' + style.values.map(v => {

                let disabled = false
                const find = carbon.variants.find(c => c.title === `${v} / ${value}`)

                // 如果不可用，按钮禁用掉
                if (find) {
                    disabled = !find.available
                }

                return `<option value="${v}" ${disabled ? 'disabled' : ''}>${v}</option>`
            }))
        }


        setTimeout(() => {
            $('select[name="bike_size"]').on('change', e => {
                const value = e.target.value

                if (value) {
                    fn(value)
                } else {
                    $('select[name="bike_style"]').html('<option value="">---</option>')
                }
                
            })


            if (urlSearch.bike_style) {
                $(`select[name="bike_size"]`).val(urlSearch.bike_size)

                fn(urlSearch.bike_size)

                setTimeout(() => {
                    $(`select[name="bike_style"]`).val(urlSearch.bike_style)
                })
            }

            $('.forms form').on("submit", function (event) {
                $('.forms form :input').each((index, target) => {
                    if (ignore.includes(target.type)) {
                        return
                    }

                    // 配件特殊处理
                    if (target.name === 'accessories') {
                        const accessories = []
                        const accessories_id = []
                        
                        // selected
                        $(target).find('option:selected').each((i, target) => {
                            accessories.push(target.title)
                            accessories_id.push(target.value)
                        })

                            
                        forms.accessories = accessories.join()
                        forms.accessories_id = accessories_id.join()
    
                        return
                    }

    
    
    
                    forms[target.name] = target.value
                })

                forms.variant_id = carbon.variants.find(c => c.title === `${forms.bike_style} / ${forms.bike_size}`).id
    
                // 隐藏form
                $('.forms form').hide()
                $('.forms .centeral-content').html(`
                    <div class="u48DemiBold">Thank you!</div>
                    <div class="u24Medium">You have successfully submit the form. Our expert will contact you soon. Feel free to contact us if you have any questions.</div>
                    <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                `)
    
                setTimeout(() => {
                    $('html').animate({
                        scrollTop: $('.forms').offset().top - (document.documentElement.clientHeight / 2) + ($('.forms').height() / 2)
                    }, 300)
    
                    submit(forms)
                })
    
                event.preventDefault();
                return false;
            })
        }, 100)
    })
</script>