{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}

<h1 class="visuallyhidden">Urtopia Ebike - Sleek, Full Carbon, Lightweight, Smart</h1>

{% if settings.show_easter_sale %}
    <style>
        .esssst {
            height: calc(100vh - 106px);
            position: relative;
            overflow-x: hidden;
            background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240316-untitled-7247_2x_e9287892-2ee3-4550-9fb9-43b775accf7b.jpg?v=1711006898') center center/cover no-repeat;
            margin-bottom: 2vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 8vh;
        }
        .esssst .my-button {
            margin-top: 5vh;
        }
        .esssst .u24Medium_v2 {
            margin-bottom: 1vh;
        }
        @media (max-width: 767px) {
            .esssst {
                height: calc(100vh - 102px);
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240316-untitled-7247_2x_3128da50-317b-472c-bb8a-7f7406c2ec72.jpg?v=1711007434');
                padding-top: 13vw;
                margin-bottom: 2.5vw;
            }
            .esssst .u24Medium_v2 {
                font-size: 17px;
                font-weight: 400;
            }
            .esssst .u48Medium_v2 {
                font-size: 30px;
            }
            .esssst .my-button {
                margin-top: 8vw;
            }
        }
    </style>

    <div class="esssst">
        <h3 class="u24Medium_v2">Urtopia Artist Project</h3>
        <h2 class="u48Medium_v2">Enjoy Easter</h2>
        <h2 class="u48Medium_v2">Enjoy Spring</h2>
        <div href="" class="my-button my-button-black" onclick="showVideoDialog('https://www.youtube.com/embed/07kIavzcIoE?autoplay=1&cc_load_policy=1')">Learn more</div>
    </div>
{% endif %}

<div class="banner">
        <h2 class="u60Medium_v2">Carbon 1</h2>
        <h3 class="u20Medium_v2">Sporty and Lightweight</h3>
        <a class="my-button my-button-ghost" href="/products/urtopia-carbon-e-bike" target="_blank">Learn More</a>
    </div>
    <div class="golffffff">
      <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/eeeeaaaa_2x_0fa5b0fe-f3eb-450e-9adc-62c97f27a267.jpg?v=1710382852" alt="">
      <div>
          <div class="u42Medium_v2">Urtopia & Golf</div>
          <div class="u20Light_v2"><span class="u20DemiBold_v2">Event Date: </span>2024/03/25~2024/03/26</div>
          <div class="u20Light_v2"><span class="u20DemiBold_v2">Location: </span>Golfclub Issum-Niederrhein e.V. Pauenweg 68a, 47661 Issum, Germany</div>
          <div class="u17Medium_v2">Welcome All Urtopians Enjoy happy life on the grass and fresh air in Spring. Click to join the event and get some lucky draws!</div>
          <div class="my-button">Sign up</div>
      </div>
  </div>
    <div class="banner chord">
        <h2 class="u60Medium_v2">Chord</h2>
        <h3 class="u20Medium_v2">Comfort and Elegance</h3>
        <a class="my-button my-button-white" href="/pages/lightweight-commuter-ebike-urtopia-chord" target="_blank">Learn More</a>
    </div>
    <div class="banner fusion">
        <h2 class="u60Medium_v2" data-after="{{ 'order_page.comingsoon' | t }}">Fus<span style="color: #A82300;">ion</span></h2>
        <h3 class="u20Medium_v2">Form Follows Emotion</h3>
        <a class="my-button my-button-white" href="/pages/fusion" target="_blank">Learn More</a>
    </div>
    {% render 'home-page-media' %}
    <div class="mind">
        <h2 class="u36Medium_v2">The Bike with a Mind</h2>
        <h3 class="u17Light_v2">An AI-Driven Smartebike, offering you more than riding.</h3>
        <a class="my-button my-button-white" href="/pages/pages-smartest-ebike" target="_blank">Learn More</a>
    </div>
    <div class="smart">
        <div>
            <h2 class="u36Medium_v2">Smart App</h2>
            <h3 class="u17Light_v2">Connect, track, share, achieve - Urtopia app: Your perfect cycling companion!</h3>
        </div>
        <div>
            <h2 class="u36Medium_v2">Sustainability</h2>
            <h3 class="u17Light_v2">Sustainability at the Heart of Urtopia</h3>
            <a class="my-button my-button-white" href="/pages/sustainability-carbon-credit" target="_blank">Learn More</a>
        </div>
    </div>
    <div class="test-ride">
        <div class="centeral-content">
            <div href="/pages/test-ride">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240110-155011.jpg?v=1704873051"
                    alt="" class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240110-155020.jpg?v=1704873050"  class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                    Test Ride Spots
                </h2>
                <h3 class="u17Light_v2">Experience the bike in real</h3>
                <div class="flex-1"></div>
                <a href="/pages/test-ride" target="_blank">Learn more</a>
            </div>
            <div href="/pages/care">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8826_2x_7e43ad38-e398-4728-9ad2-d3ae2d91333d.jpg?v=1704525890"
                    alt="" class="mobileHide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8826_2x_f8ac700e-c86e-4d2f-b37d-177624cf29a9.jpg?v=1704527262" class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                    Peace of Mind
                </h2>
                <h3 class="u17Light_v2">24/7 Support, Full After-Sales</h3>
                <div class="flex-1"></div>
                <a href="/pages/care" target="_blank">Learn more</a>
            </div>
            <div href="/pages/ebike-leasing">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-8655_2x_45235a17-d68a-415e-9b0d-37bd9c86086b.jpg?v=1704525896"
                    alt="" class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-8655_2x_27950ad5-b865-40ee-aced-4e65f9942de7.jpg?v=1704527258" class="pcHide" alt="">
                <h2 class="u36Medium_v2">
                  Leasing
                </h2>
                <h3 class="u17Light_v2">Choose from various leasing providers</h3>
                <div class="flex-1"></div>
                <a target="_blank" href="/pages/ebike-leasing">Learn more</a>
            </div>
        </div>
    </div>
    <div class="blogs">
        <div class="centeral-content">
          {% assign home_page_blogs = settings.home_page_blogs | split: ',' %}
          {% for blog in home_page_blogs %}
            {% for article in blogs.blog.articles %}
                {% if blog == article.handle %}
                  <div href="{{ article.url }}">
                      <img class="lozad" data-src="{{ article.image.src | image_url: width: 400 }}" alt="">
                      <h2 class="u20Medium_v2">{{ article.title }}</h2>
                      <div class="flex-1"></div>
                      <a target="_blank" href="{{ article.url }}">Read more</a>
                  </div>
                {% endif %}
              {% endfor %}
          {% endfor %}

          
            <div class="gotooooooo">
                <span class="u20Medium_v2">To The Blog</span>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23561_2x_128577ad-cda4-49f4-9ce6-16f8947341fb.png?v=1704528452" alt="">
            </div>
        </div>
    </div>

    <dialog id="GolfDialog">
    <div class="golf-container">
        <span class="close">✕</span>
        <div class="booking-shop-content">
          <div class="shop-name">Book a Test Ride</div>
          <img class="shop-img" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19061_2x_5fe7b497-7e57-4051-bc9b-75f293c5d70d.jpg?v=1710395688" alt="Asheville Custom E-Bikes">
          <div class="shop-detail">
            <div class="u30DemiBold">Urtopia & Golf</div>
            <div class="item">
                <label class="u20DemiBold">ADD:</label>
                <span class="u20Medium">Golfclub Issum-Niederrhein e.V. Pauenweg 68a, 47661 Issum, Germany</span>
            </div>
            <div class="item">
                <label class="u20DemiBold">Email:</label>
                <span class="u20Medium">caoqian@newurtopia.com</span>
            </div>             
                    <div class="item">
                        <label class="u20DemiBold">Date:</label>
                        <span class="u20Medium">2024/03/25-2024/03/26 <br>10:00-17:00</span>
                    </div>
                    <div class="item">
                        <label class="u20DemiBold">Note:</label>
                        <span class="u20Medium">After you sign up, you can visit any time during the event period.</span>
                    </div>
                    </div>
            </div>
            <form class="booking-info-form" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
                <div class="form-content">
                    <div class="form-name">
                        <div>Name*</div>
                        <input type="text" name="name" required>
                    </div>
                    <div class="form-phone">
                        <div class="form-title-phone">Phone*</div>
                        <input type="tel" name="phone_number" required>
                    </div>
                    <div class="form-email">
                        <div class="form-title-email">Email*</div>
                        <input type="email" name="email" required>
                    </div>
                    </div>
                    <div class="form-button"><button style="border: none;" class="my-button my-button-origin" type="submit">Confirm Booking</button></div>
                </form>
            </div>
    </div>
</dialog>

    <script>
      $('.gotooooooo').click(() => {
        window.open('/blogs/blog')
      })

      $('.blogs .centeral-content > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })

      $('.test-ride .centeral-content > div[href]').on('click', function () {
        window.open($(this).attr('href'))
      })
    </script>

    <script>
      $('#GolfDialog').find('form').on('submit', function (event) {
          const forms = []
          $('.booking-info-form input').each(function () {
              forms.push($(this).val())
          })

          fetchBuried('testride', 'submit', {
              "test_ride_model": "Chord Size High-step</br>Fit for 5’7’’~6’5’’",
              "name": forms[0],
              "phone": forms[1],
              "email": forms[2],
              "source": "newurtopia.com",
              "book_time": "2024-03-25 10:00-11:00",
              "shop_info": {
                  "name": "Urtopia & Golf",
                  "phone": "110",
                  "email": "caoqian@newurtopia.com",
                  "timezone": "Urtopia & Golf, USA (GMT-7)",
                  "add": "Golfclub Issum-Niederrhein e.V. Pauenweg 68a, 47661 Issum, Germany",
                  "imgUrl": "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Asheville_Custom_E-Bikes.jpg?v=1709124879",
                  "testrideSpot": "Urtopia & Golf",
                  "availableSizes": [
                      "Chord",
                      "Chord X"
                  ],
                  "businessHours": [
                      "",
                      "",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00"
                  ],
                  "country": "USA",
                  "city": "Urtopia & Golf",
                  "avalibaleDate": "14. Mar",
                  "tagsText": [
                      "Shopping And Advising",
                      "Test Bikes",
                      "Repairs And Servicing"
                  ]
              },
              "test_ride_time": "2024-03-25 10:00-11:00",
              "phone_number": forms[1],
              "spot": "Urtopia & Golf",
              "shop_info": {
                  "name": "Urtopia & Golf",
                  "phone": "110",
                  "email": "caoqian@newurtopia.com",
                  "timezone": "Urtopia & Golf, USA (GMT-7)",
                  "add": "Golfclub Issum-Niederrhein e.V. Pauenweg 68a, 47661 Issum, Germany",
                  "imgUrl": "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Asheville_Custom_E-Bikes.jpg?v=1709124879",
                  "testrideSpot": "Urtopia & Golf",
                  "availableSizes": [
                      "Chord",
                      "Chord X"
                  ],
                  "businessHours": [
                      "",
                      "",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00"
                  ],
                  "country": "USA",
                  "city": "Urtopia & Golf",
                  "avalibaleDate": "14. Mar",
                  "tagsText": [
                      "Shopping And Advising",
                      "Test Bikes",
                      "Repairs And Servicing"
                  ]
              },

              "extras": {
                  "spot": "Urtopia & Golf",
                  "userInfo": {
                      "name": forms[0],
                      "phone": forms[1],
                      "email": forms[2],
                      "source": "newurtopia.com",
                      "shop_info": {
                  "name": "Urtopia & Golf",
                  "phone": "110",
                  "email": "caoqian@newurtopia.com",
                  "timezone": "Urtopia & Golf, USA (GMT-7)",
                  "add": "Golfclub Issum-Niederrhein e.V. Pauenweg 68a, 47661 Issum, Germany",
                  "imgUrl": "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Asheville_Custom_E-Bikes.jpg?v=1709124879",
                  "testrideSpot": "Urtopia & Golf",
                  "availableSizes": [
                      "Chord",
                      "Chord X"
                  ],
                  "businessHours": [
                      "",
                      "",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00",
                      "10:00-18:00"
                  ],
                  "country": "USA",
                  "city": "Urtopia & Golf",
                  "avalibaleDate": "14. Mar",
                  "tagsText": [
                      "Shopping And Advising",
                      "Test Bikes",
                      "Repairs And Servicing"
                  ]
                  },
                  "test_ride_model": "Chord Size High-step</br>Fit for 5’7’’~6’5’’",
                  "test_ride_time": "2024-03-25 10:00-11:00"
              }
}
})

        setTimeout(() => {
              $('#GolfDialog .close').click()
        }, 300)
        
          event.preventDefault();
          return false;
      })


      $('.golffffff .my-button').on('click', e => {
          showDialog(document.getElementById('GolfDialog'))
          fetchBuried('testride', 'booknow', { store_name: 'Urtopia & Golf' })
      })
    </script>