{% assign hide_balabalabala = true %}

{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.d095440b.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'carbon-one-outlet.scss.css' | asset_url | stylesheet_tag: preload: true }}


<style>  
  
:root {
          --sale-color1: #FD4B17;
          --sale-color2: #FD4B17;
          --sale-color3: #FD4B17;
          --sale-color4: #FD4B17;
        }
.product .centeral-content .product-panel .options .Model .active {
    border-color: var(--sale-color3);
  }

  .product .centeral-content .product-panel .options .Model>div:after {
    background-color: var(--sale-color3);
  }

  .product .centeral-content [data-price]::after {
      content: attr(data-price);
      font-size: 24px;
      opacity: 0.75;
      text-decoration: line-through;
      margin-left: 5px;
  }

  .product .centeral-content .product-panel .options .Size>div:after,
  .product .centeral-content .product-panel .options .Model>div:after {
    display: none;
  }

  .product .centeral-content .product-panel .options .Model .active,
  .product .centeral-content .product-panel .options .Size .active {
    border-color: #000;
  }

  .product .centeral-content .product-panel .options .Size .active {
    padding: 9px 12px;
  }

  .product .list-payment__item {
    padding: 0.3rem;
  }

  .product .list-payment {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .product .emphasize-list {
    box-shadow: #0000001a 0 0 6px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 0 16px;
    line-height: 1.8em;
  }

  .product .emphasize-list li {
      list-style: none;
      display: flex;
  }

  .product .emphasize-list li > span:first-child {
      color: rgb(253, 75, 23);
      margin-right: 5px;
      transform: translateY(-1px);
      display: inline-block;
  }

  .__pf_lUQL6LKn .pf-685_,
  .__pf_lUQL6LKn .pf-727_,
  .__pf_lUQL6LKn .pf-798_ {
    margin-top: 24px;
  }

  .__pf_lUQL6LKn .pf-808_ .u11Light_v2 {
      font-size: 12px;
      color: #999;
      line-height: 1.5em;
      margin-top: 24px;
  }

  .carry {
    margin-top: 100px;
  }


  .choose {
    font: 300 16px/1.4em urbane;
    text-decoration: underline;
    color: #EB5A2D;
    cursor: pointer;
  }

  .product .centeral-content .product-panel .options div[option="Size"] .u17DemiBold_v2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .product .centeral-content .product-panel .options div[option="Size"] .u17DemiBold_v2 .u17Light_v2 {
    margin-right: 12px;
  }

  @media (max-width: 767px) {
      .__pf_lUQL6LKn .pf-685_,
    .__pf_lUQL6LKn .pf-727_,
    .__pf_lUQL6LKn .pf-798_ {
      margin-top: 0;
    }

    .__pf_lUQL6LKn .pf-808_ .u11Light_v2 {
        margin-top: 0;
    }

    .carry {
      margin-top: 60px;
    }

    .product .centeral-content .product-panel .options .Model>div {
      padding: 10px 12px;
    }

    .product .emphasize-list {
      font-size: 14px;
      margin-top: 6px;
    }
  }



  .product .centeral-content [data-price]::after {
    color: #000;
  }
  
</style>

<style>
   .updatesss {
    margin-top: 100px;
    background-color: #f5f5f5;
    padding: 80px 0;
  }

  .updatesss .centeral-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .updatesss .centeral-content .u17Light_v2 {
    margin: 24px 0 40px;
  }


  .updatesss .emaillllllllllllll {
      display: flex;
      position: relative;
      max-width: 360px;
      width: 100%;
      margin-top: 24px;
  }

  .updatesss .emaillllllllllllll input {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border:2px solid #fd4b17;
        border-right: none;
        flex: 1;
        padding: 0 2.5% 0 5%;
        background-color: transparent;
        color: #000;
  }

  .updatesss .emaillllllllllllll input::placeholder {
    color: #b8b8b8;
  }


  .updatesss .emaillllllllllllll button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border: none;
        padding: 14px 30px;
    }

    .updatesss .emaillllllllllllll .u17DemiBold_v2 {
        position: absolute;
        bottom: 0;
        transform: translate(12.5%, 150%);
        display: none;
    }

    @media (max-width: 767px) {
      .updatesss {
        padding: 12vw 0;
        margin-top: 60px;
      }

      .updatesss .u24DemiBold_v2 {
        font-size: 20px;
      }

      .updatesss .u17Light_v2 {
        font-size: 15px;
      }

        .updatesss .emaillllllllllllll input {
            flex: 1;
            width: 0;
            font-size: 14px;
            border-width: 1px;
            padding-left: 5%;
        }

        .updatesss .emaillllllllllllll button {
        padding: 3vw 6vw;
      }

      .updatesss .emaillllllllllllll .u17DemiBold_v2 {
            font-size: 14px;
            transform: translate(10%, 150%);
        }
    }
</style>

<div class="product" data-pf-type="ProductBox">
    <div class="centeral-content">
        <div class="commonComponent pcHide">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
            </div>
            <div class="u30DemiBold_v2 mb6 emphasize" data-price={{ product.compare_at_price | money }}>{{ product.price | money }}</div>
            <!--<div class="sale mb6" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">
                <div class="u20DemiBold_v2" style="color: var(--sale-color4);">{{ product.price | minus: 0 | money }} NOW</div>
                <div class="u17DemiBold_v2">with {{ settings.sale_name }}</div>
            </div>-->
        </div>
        <div class="featured_image">
            <div class="left-swiper mobileHide">
                <div class="swiper-wrapper">
                </div>
            </div>
            <div class="right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18687.png?v=1688112408&width=700">
                    <div>
                        <span class="u20DemiBold_v2">“Urtopia is an over the top e-bike”</span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18604_2x_dbde7d31-6b13-4fa7-80be-7f7c1ea23c13.png?v=1687188893&width=350">
                    </div>
                  </div>
                </div>
                <div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-pagination pcHide"></div>
                <div class="flex-1 mobileHide pcHide"></div>
                <div class="service mobileHide">
                  <img style="max-width: 53px;" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230811-120544.png?v=1691726759" alt="">
                  <div class="u17DemiBold_v2">
                      <div class="emphasize">Free 1 year connect service included for each bike</div>
                      <div class="text-decoration">{{ all_products['esim-card'].price | money_without_trailing_zeros }}/year</div>
                  </div>
                </div>
                <div class="parameters mobileHide">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
                        <span><span class="u14Light_v2">Carbon Fiber</span><span class="u17DemiBold_v2">15 kg.</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
                        <span><span class="u14Light_v2">Fast & Easy</span><span class="u17DemiBold_v2">90% Assembled</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
                        <span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
                        <span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">100 Km</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
                        <span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
                        <span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
                    </div>
                </div>
            </div>            
        </div>
        <form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
            <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="commonComponent mobileHide" id="sale_acc">
                <div class="u36DemiBold_v2 mb6">{{ product.title }}</div>
                <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                    <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
                </div>
                <div class="u30DemiBold_v2 mb6 emphasize" data-price={{ product.compare_at_price | money }}>{{ product.price | money }}</div>
                <!--<div class="sale mb12" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">
                    <div class="u20DemiBold_v2" style="color: var(--sale-color4);">{{ product.price | minus: 0 | money }} NOW</div>
                    <div class="u17DemiBold_v2">with {{ settings.sale_name }}</div>
                </div>-->
            </div>
            <!--<div class="sale_acc mb12 belt" id="sale_accmb">
                <div class="u14Light_v2" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">And get <span style="font-weight: 600;">  {{ settings.carbon_ebike_free_accessories_price | money_without_trailing_zeros }} </span> Accessories for <span class="u20DemiBold_v2"> Free</span></div>
                {% assign accessories_map = "7633738596568,7633738662104,7884881690840" | split: ',' %}
                <div class="accs">
                    {% for acc in accessories_map %}
                        {% for prod in collections["accessories"].products %}
                            {% if acc contains prod.id %}
                                <div class="acc">
                                    {{ prod.featured_image | image_url: width: 400 | image_tag }}
                                    {% if acc == "7633738662104" %}
                                      <span class="u11Medium_v2">{{ prod.title | truncatewords: 3, "" | replace: "-", "" }}</span>
                                    {% elsif acc == "7924079526104" %}
                                      <span class="u11Medium_v2">{{ prod.title | truncatewords: 2, "" | replace: "-", "" }}</span>
                                    {% else %}
                                      <span class="u11Medium_v2">{{ prod.title }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="u11Light_v2">*Not available with leasing</div>
            </div>-->
            <!--<div class="sale_acc mb12 gear" id="sale_acc">
              <div class="u14Light_v2" style="background-image: linear-gradient(-90deg,var(--sale-color3),var(--sale-color4));">And get <span style="font-weight: 600;">  {{ settings.carbon_ebike_free_accessories_price | money_without_trailing_zeros }} </span> Accessories for <span class="u20DemiBold_v2"> Free</span></div>
                {% assign accessories_map_1s = "7633738596568,7633738662104" | split: ',' %}
                <div class="accs_1s">
                    {% for acc in accessories_map_1s %}
                        {% for prod in collections["accessories"].products %}
                            {% if acc contains prod.id %}
                                <div>
                                    {{ prod.featured_image | image_url: width: 200 | image_tag }}
                                    <div>
                                        {% if acc == "7633738662104" %}
                                          <span class="u11Medium_v2">{{ prod.title | truncatewords: 3, "" | replace: "-", "" }}</span>
                                        {% else %}
                                          <span class="u14Medium_v2">{{ prod.title }}</span>
                                        {% endif %}
                                        <br>
                                        <span class="u17DemiBold_v2">{{ prod.price | money_without_trailing_zeros }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="u11Light_v2">*Not available with leasing</div>
            </div>-->
            <div class="service pcHide mb6" style="flex-direction: row;align-items: center;">
                  <img style="max-width: 53px;" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230811-120544.png?v=1691726759" alt="">
                  <div class="u17DemiBold_v2" style="padding: 0 4vw;text-align: center;font-size: 14px;">
                      <div class="emphasize">Free 1 year connect service <br>included for each bike</div>
                      <div class="text-decoration">{{ all_products['esim-card'].price | money_without_trailing_zeros }}/year</div>
                  </div>
              </div>
              {% unless settings.hide_sale_countdown  %}
              <div class="count-down mb12 mobileHide">
                <div class="u17Medium_v2">End of Promotion</div>
                <img src="http://i.countdownmail.com/37l093.gif">
              </div>
            {% endunless %}
            <ul class="emphasize-list u17Medium_v2">
              <li><span>●</span><span >Store demo ebikes in perfect condition with slight wear or paint imperfections</span></li>
              <li><span>●</span><span>Tested by experts and backed by a 2-year warranty</span></li>
              <li><span>●</span><span>Not avaliable for leasing<a class="my-link" href="/products/urtopia-carbon-e-bike">(check leasing models)</a></span></li>
            </ul>
            <div class="options">
              {% for option in product.options_with_values %}
                  <div class="option" option={{option.name}} position="{{ option.position }}">
                    <div class="u17DemiBold_v2 mb12">{{ option.name }} - <span class="u17Light_v2"></span>
                      {% if option.name == "Size" and settings.show_choose_different_size %}
                        <a href="#choose" class="choose">Choose different size</a>    
                      {% endif %}
                    </div>
                    <div class="{{ option.name }} mb12">
                      {% for value in option.values %}
                        {% case option.name %}
                        {% when "Model" %}
                            <div data-sale="{{ "order_page.sale" | t }}" attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                        {% when "Size" %}
                            <div attribute="{{ value }}" class="{{ value }} u14DemiBold_v2">
                              {% if value == "L" %}Large
                              {% elsif value == "M" %}Medium
                              {% else %}{{value}}{% endif %}
                                </div>
                        {% when "Style" %}
                          <div attribute="{{ value }}" class="{{ value }}"></div>
                        {% else %}
                            <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                        {% endcase %}                     
                      {% endfor %}
                    </div>
                  </div>
              {% endfor %}
            </div>
            <div class="accessories">
                <div class="u17DemiBold_v2 mb12">Accessories</div>
                <div class="navigate">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
                <div class="items mb12">
                    {% for prod in collections['on-page'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 200 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>       
            <div class="buttons">
                <div class="count-down mb12 pcHide">
                  {% unless settings.hide_sale_countdown  %}
                    <div class="u17Medium_v2">End of Promotion</div>
                    <img src="http://i.countdownmail.com/37l093.gif">
                  {% endunless %}
                </div>
                <div
                    data-product-id="{{ product.id }}"
                    class="my-button my-button-origin addToCartBtn"
                    onclick="addAllToCart('atc')"
                    id="addToCart"
                    style="background: #000;"
                    >
                    <i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">Add to Cart</span>
                </div>
                <div
                    class="my-button my-button-origin mb6"
                    onclick="buynow(this)"
                    style="width: 100%;"
                    >
                    <span class="u17DemiBold_v2" style="align-items: center;">Buy Now</span>
                </div>
                  <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn">
                    <img class="twoooo"src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"/>
                    <span><span class="u17DemiBold_v2">0% APR Financing</span><span>24 {{ 'order_page.months' | t }}, <span class="stages">{{ product.price | divided_by: 2400 | ceil | times: 100 | money_without_trailing_zeros }}</span>/month</span></span>
                </div>
            </div>
            <div class="delivery_time mb12">Free shipping <span>within 5 days</span></div>
            <div class="support mb12">
                <a href="#boxs3">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
                    <span class="u11Medium_v2">150+ Spots<br>of Service</span>
                </a>
                <a href="/pages/shipping-and-return" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
                    <span class="u11Medium_v2">Free<br>Shipping</span>
                </a>
                <a href="/pages/warranty" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
                    <span class="u11Medium_v2">2-Year<br>Warranty</span>
                </a>
            </div>
            {% render 'footer__payment' %}
            <div class="dialogs">
                <div class="u17Medium_v2" onclick="showSizesAndSpecs('SizesDialog')">
                    <span>Size & Fit</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2" onclick="showSizesAndSpecs('SpecsDialog')">
                    <span>Technical Specifications</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Support & Service</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>FAQs</span>
                    <span>&gt;</span>
                </div>
            </div>
        </form>
    </div>
</div>

{% if true %}
  <div id="choose">
   <div class="centeral-content ebike-products">
    <div class="u36DemiBold_v2">More Urtopia E-bikes</div>
    <div class="u24Medium_v2"></div>
    <div class="product-grid">
        {% assign productt = all_products["urtopia-carbon-e-bike"] %}
        {% assign product_variants = productt.variants | where: "available" %}
        {% assign product_tags = settings.carbon_ebike_free_accessories_count | append: ' Freebies'   %}
        {% render 'product-card',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L",
            product_name: 'Carbon 1',
            product_description: 'The ultra-light commuter e-bike provides a clean city riding experience.',
            product_discount_price: settings.carbon_ebike_discount_price,
            product_url: productt.url,
        %}
        {% assign productt = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = productt.variants | where: "option1", "L" | where: "available" %}
        {% assign product_discount_price = productt.compare_at_price | minus: productt.price %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Carbon 1 Pro',
            product_description: 'The lightweight gravel e-bike delivers exceptional performance and style.',
            product_url: productt.url,
        %}
      {% assign productt = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = productt.variants | where: "option1", "High-Step" | where: "available" %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Elegantly zip around town for meet-ups, errands, or Sunday fun.',
            product_discount_price: settings.chord_ebike_discount_price,
            product_url: productt.url,
        %}
    </div>
</div>
</div>
<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        // outlet 车型
        if (discount_price === 0) {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(compare_at_price - price, true)} OFF`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
        } else {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price - discount_price, true)).attr('data-price', getPriceFormat(price, true))
            product_card.find('.product_price .u17Light_v2 > span').text(getPriceFormat((price - discount_price) / 24))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(discount_price, true)} OFF`)
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>
{% endif %}



<div id="freedom" class="freedom">
  <div class="centeral-content">
    <div class="u42DemiBold_v2">Smartest and Lightest E-Bike</div>
    <div class="values">
      <div>
        <span class="u36DemiBold_v2">15
          <span class="u17Light_v2">kg</span>
        </span>
        <span class="u17Light_v2">Net Weight</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">100
          <span class="u17Light_v2">km</span>
        </span>
        <span class="u17Light_v2">per charge</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">4
          <span class="u17Light_v2">levels</span>
        </span>
        <span class="u17Light_v2">pedal assist</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">360
          <span class="u17Light_v2">Wh</span>
        </span>
        <span class="u17Light_v2">Battery</span>
      </div>
    </div>
    <div class="values2">
      <div>
        <span class="u17Medium_v2">100%</span>
        <span class="u17Medium_v2">Carbon Fiber</span>
      </div>
      <div>
        <span class="u17Medium_v2">90%</span>
        <span class="u17Medium_v2">Assembled</span>
      </div>
      <div>
        <span class="u17Medium_v2">Anti-theft</span>
        <span class="u17Medium_v2">GPS Tracking</span>
      </div>
      <div>
        <span class="u17Medium_v2">Magnetic</span>
        <span class="u17Medium_v2">Torque Sensor</span>
      </div>
      <div>
        <span class="u17Medium_v2">Removable</span>
        <span class="u17Medium_v2">Samsung Battery</span>
      </div>
      <div>
        <span class="u17Medium_v2">hydraulic</span>
        <span class="u17Medium_v2">Disc Brakes</span>
      </div>
    </div>
  </div>
</div>

<!--<div class="arrial">
  <div class="centeral-content">
    <div class="u36DemiBold_v2">New Arrival</div>
    <div class="u72DemiBold_v2">Carbon 1s</div>
    <div class="u17Light_v2">Uphill riding, downhill thrill. Unleash your sporty riding style. Conquer uphill challenges and experience thrilling speeds, pushing the boundaries of performance and excitement.</div>
    <div class="u36DemiBold_v2">4 X 7</div>
    <div class="u17Light_v2" style="margin:0;">Modes X Gears</div>
  </div>
</div>-->

<!--<div class="boxs">
  <div class="centeral-content">
    <div>
      <div class="u36DemiBold_v2">Carbon 1s</div>
      <div class="u20Light_v2">Next-level adventures with gears</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          250W 45Nm motor</div>
        <div>
          <span class="emphasize">●</span>
          Assist levels x Gears: 4 x 7</div>
        <div>
          <span class="emphasize">●</span>
          Increased ride range</div>
        <div>
          <span class="emphasize">●</span>
          Wider terrain capabilities</div>
      </div>
      <div class="u17Light_v2">Carbon 1s offers the options of pushing a harder gear to get more workout or speed; or riding an easy gear with less stress on the legs. The 45Nm motor with gears makes your ride speedier and easier to travel up the hills.</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u36DemiBold_v2">Carbon 1</div>
      <div class="u20Light_v2">Perfect for urban commuters</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          Gates carbon belt drive</div>
        <div>
          <span class="emphasize">●</span>
          Cleaner, quieter and smoother</div>
        <div>
          <span class="emphasize">●</span>
          30,000 km Maintenance free</div>
      </div>
      <div class="u17Light_v2">Carbon 1 is great for commuters because you’ll never get a grease mark on your nice slacks. If you enjoy quiet rides in the morning while enjoying nature and the birds’ singing, you may want to opt for a belt drive.</div>
    </div>
  </div>
</div>-->

<div class="carry">
  <div class="centeral-content">
    <div>
      <div class="u30DemiBold_v2">Effortless to Carry</div>
      <div class="u20Light_v2">Full Carbon (Only 15kg)</div>
      <div class="u14Light_v2">Literally, an e-bike single-handedly manageable. Just a fraction of the weight compared to peer e-bikes, thanks to a full carbon body of frame, handlebar, seat post, and forks.</div>
    </div>
  </div>
</div>

<div class="updatesss">
  <div class="centeral-content">
    <h2 class="u24DemiBold_v2">Be the first to uncover exciting Urtopia eBike deals and events! </h2>
    <form class="emaillllllllllllll" accept-charset="UTF-8">
          <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
          <button class="my-button my-button-origin" type="submit">Sign up</button>
          <span class="u17DemiBold_v2">Thanks for subscribing!</span>
      </form>
  </div>
</div>

<div class="boxs2">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u36DemiBold_v2">A bike you never lose</div>
      <div class="u17Light_v2"><br>Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the worst scenario of theft, for as long as 30 days. <br><br>We have helped users all over the world to retreat their beloved bike.</div>
    </div>
    <div>
      <div class="u36DemiBold_v2">Navigation without Cellphone</div>
      <div class="u17Light_v2"><br>Bright screen shows navigation clearly under daylight, no more ugly phone holder. <br><br>Let you explore the unknown safe and free.</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u36DemiBold_v2">Integrated with <br>Apple Watch and Strava</div>
      <div class="icons">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230721-134446.png?v=1689918329" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Path_67707_2x_806d4e68-ba1e-4ce8-9b92-3b936a3ec301.png?v=1689909699" alt="">
      </div>
      <div class="u17Light_v2">Urtopia E-Bike allow syncing Apple Watch for Heart Rate Monitoring on Smartbar in real time. Urtopia App also break data barriers, sync with Apple Health, and share to Strava in just one click!</div>
      <div class="my-button my-button-black" onclick="showVideoDialog('https://www.youtube.com/embed/GBt6O-Zw8C8?autoplay=1&cc_load_policy=1')">Watch Video</div>
    </div> 
  </div>
</div>

<div class="mediaaaaa gray-background-color mobileHide" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
  <div class="centeral-content">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Urtopia is an over the top e-bike”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18604_2x_0a53e289-f2f5-4d7b-8024-17cb83aa826d.png?v=1686216700" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Eye-catching styled carbon frame”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18605_2x_f4a10f13-0834-4e4e-8ba4-117f9bb47368.png?v=1686216858" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“The carbon pedelec from Urtopia is also stylish, light and electric.”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18537_2x_513fd62f-3460-43e2-ac3d-8f16fb18545c.png?v=1686216918" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Lightweight, networked and highly secure”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18603_2x_9560f2ca-aafd-482e-b764-98ed676cd195.png?v=1686217006" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“The AI-powered co-pilot adds a new level of intelligence and interactivity”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230913-173450.png?v=1694597715" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Lightweight carbon fiber road e-bike with affordably-price”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18602_2x_12b3eebc-888a-4bd6-bf4c-90881502f123.png?v=1686217108" alt="">
    </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="test-ride">
  <div class="centeral-content">
    <div>
      <div>
        <div class="u36DemiBold_v2">Test ride spots near you</div>
        <div class="u20DemiBold_v2">Experience the bike in real</div>
        <a
          class="my-button my-button-origin"
          href="/pages/test-ride"
          target="_blank">Book a Free Test Ride</a>
      </div>
    </div>
    <div>
      <div style="padding: 0;">
        <div
          id="storepoint-container"
          data-tags="euro"
          data-map-id="162f21804990ff"></div>
      </div>
    </div>
  </div>
</div>

<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496" />1 service center, 150+ service partners</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501" />24hrs service response, App build-in portal</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506" /><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512" />10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a
        class="my-button my-button-black"
        href="/pages/care"
        target="_blank">Learn more</a>
    </div>
    <!--<div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JobRad_Logo_Anthrazit_RGB_4x_2x_62a03d6d-6e43-4033-938d-9af30244ef24.png?v=1705470842&width=200" />
        </div>
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793&width=200" />
        </div>
       <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762&width=200" />
       </div>
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731&width=200" />
        </div>
      </div>
      <a
        class="my-button my-button-black"
        href="/pages/ebike-leasing"
        target="_blank">Lease Now</a>
    </div>
    <div></div>-->
  </div>
</div>

<div class="__pf __pf_lUQL6LKn ever">
    <div
      data-section-id="pf-4046"
      data-pf-type="Section"
      class="sc-fmciRz bheIgq pf-377_">
      <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
        <div
          class="sc-ezbkAF A-dmbO pf-378_ pf-r pf-r-eh"
          style="--s-xs:15px"
          data-pf-type="Row">
          <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-379_">
              <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-380_">
                <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-382_">Smartest E-Bike Ever</span>
              </h3>
            </div>
          </div>
        </div>
        <div
          class="sc-ezbkAF A-dmbO pf-383_ pf-r pf-r-eh"
          style="--s-xs:15px"
          data-pf-type="Row">
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-384_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-385_">
                <div class="component" onclick="openComponent(0)">
                  <div class="img-container">
                    <img
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print-1.jpg?v=1675741851&width=320"
                      class="lozad">
                  </div>
                  <div class="des-container">
                    Anti-glare LED Display
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-386_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-387_">

                <div class="component" onclick="openComponent(1)">
                  <div class="img-container">
                    <img
                      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20477.jpg?v=1678931505&width=320"
                      class="lozad">
                  </div>
                  <div class="des-container">
                    Gamepad Controls
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-388_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-389_">
                <div class="component" onclick="openComponent(2)">
                  <div class="img-container">
                    {% if hide_balabalabala %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/E-Bike119.jpg?v=1678931505" alt="">
                    {% else %}
                        <img
                        data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-175922.jpg?v=1688119198&width=320"
                        class="lozad">
                    {% endif %}

                    
                  </div>
                  <div class="des-container">
                    Quiet Motor
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="sc-ezbkAF A-dmbO pf-390_ pf-r pf-r-eh"
          style="--s-xs:15px"
          data-pf-type="Row">
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-391_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-392_">
                <div class="component" onclick="openComponent(3)">
                  <div class="img-container">
                    <img
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_v2_06e9e228324d4f448d2305cd464dff8g-1668581451333.png?width=320"
                      class="lozad">
                  </div>
                  <div class="des-container">
                    Smart App
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-393_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-394_">
                <div class="component" onclick="openComponent(4)">
                  <div class="img-container">
                    {% if hide_balabalabala %}
                      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss-1.jpg?v=1675741852" alt="">
                    {% else %}
                    <img
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/WechatIMG892_2x_fadbc31b-d3f5-4be5-b6c2-34dc86e4edaa.jpg?v=1687962634&width=320"
                    class="lozad">
                    {% endif %}
                  </div>
                  <div class="des-container">
                    Removable Battery
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-395_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-396_">
                <div class="component" onclick="openComponent(5)">
                  <div class="img-container">
                    <img
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/asset-1.jpg?v=1675741851&width=320"
                      class="lozad">
                  </div>
                  <div class="des-container">
                    Modular Rear Light
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div
          class="sc-ezbkAF A-dmbO pf-397_ pf-r pf-r-eh"
          style="--s-xs:15px"
          data-pf-type="Row">
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-398_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-399_">
                <div class="component" onclick="openComponent(6)">
                  <div class="img-container">

                    <img
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/55555657.jpg?v=1675741851&width=320"
                      class="lozad">
                  </div>
                  <div class="des-container">
                    20 Lux Headlight
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-400_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-401_">
                <div class="component" onclick="openComponent(7)">
                  <div class="img-container">
                    {% if hide_balabalabala %}
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20066.jpg?v=1678931505" alt="">
                    {% else %}
                      <img
                      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_19560_2x_f8348e02-d011-4cd4-992d-db143cd3f381.jpg?v=1687962062&width=320"
                      class="lozad">
                    {% endif %}
                  </div>
                  <div class="des-container">
                    Carbon Belt
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
            <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-402_">
              <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-403_">
                <div class="component" onclick="openComponent(8)">
                  <div class="img-container">
                    {% if hide_balabalabala %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/E-Bike208.jpg?v=1678931505" alt="">
                    {% else %}
                    <img
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/WechatIMG2452_2x_c5786ba7-e1b6-4208-93ea-ee33b1be6b8b.jpg?v=1687962198&width=320"
                    class="lozad"/>
                    {% endif %}
                  </div>
                  <div class="des-container">
                    Torque Sensor
                    <i class="fa fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


{% render 'size-guide-and-specs-template', config: 'carbon_order_page_config' %}


<div class="assembly">
  <div class="centeral-content">
    <div class="gray-background-color">
      <div class="u36DemiBold_v2">90% assembly</div>
      <div class="u17DemiLight_v2">Delight in the convenience of our 90% pre-assembled e-bike package, making assembly a breeze!</div>
    </div>
    <div>
      <img
        onclick="showVideoDialog('https://www.youtube.com/embed/7q-5PuNG3KM?autoplay=1&cc_load_policy=1')"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/openvideo-1667475097262.svg"
        alt="">
    </div>
  </div>
</div>

<div class="stars">
  <div class="centeral-content">
    <div
      data-section-id="pf-03a0"
      data-pf-type="GlobalSection"
      id="3a54e43f-bdd0-48c4-a389-12d1be7e4773"
      class="sc-fpYaaq boGbAB pf-195_">
      {% capture content %}
        {% include 'pf-3a54e43f' %}{% endcapture %}
      {% if content contains "Liquid error" %}
        {% else %}
          {% render 'pf-3a54e43f' %}
      {% endif %}
    </div>
  </div>
</div>

<div class="__pf __pf_lUQL6LKn">
  <div
    data-section-id="pf-e358"
    data-pf-type="Section"
    class="sc-fmciRz bheIgq pf-364_">
    <div style="--cw:1170px" class="sc-gjNHFA gwWIgj">
      <div
        class="sc-ezbkAF A-dmbO pf-365_ pf-r pf-r-eh"
        style="--s-xs:15px"
        data-pf-type="Row">
        <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
          <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-366_">
            <div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-367_">
              <div class="world-title">
                Users Like You, Worldwide
              </div>
              <div id="world-swiper" class="swiper">
                <div class="swiper-wrapper swiper-no-swiping">
                  <div class="swiper-slide slide">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/img_77662x-1672048952210.jpg?width=400" />
                    <div class="description">
                      <span>Karina Schwirtlich</span>
                      “it is much easier to use :) Going uphill is so much easier, I could even read a book while doing this.”
                    </div>
                  </div>
                  <div class="swiper-slide slide">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/screen-shot-20221018-at-72910-pm-1666785985034.jpg?width=400" />
                    <div class="description">
                      <span>Rex Peters</span>
                      “I got 4 other brands and I still learning the Urtopia but so far my favorite e-bike . Look how far technology has come so fast . Happy and safe riding.”
                    </div>
                  </div>
                  <div class="swiper-slide slide">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/072a06992x-1672048952203.jpg?width=400" class="lozad" />
                    <div class="description">
                      <span>v.wrightfitness</span>
                      “The smoothest riding e-bike I have tried! Thank you.”
                    </div>
                  </div>
                  <div class="swiper-slide slide">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/5590a91dd1b546e99f5f381a1c1aa0c4-1666785985022.jpg?width=400" />
                    <div class="description">
                      <span>Chris</span>
                      “Outstanding performance. I love this bike.”
                    </div>
                  </div>
                  <div class="swiper-slide slide">
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/85831919d8ee4553808b75fb1ffc469e-1666785985025.jpg?width=400" />
                    <div class="description">
                      <span>Rino Folisi</span>
                      “Finally Endlich vereint.”
                    </div>
                  </div>
                </div>
              </div>
              <style>
                .world-title {
                  color: #fff;
                  text-align: center;
                  font: normal normal 600 48px / 58px Urbane;
                  margin-bottom: 55px;
                }
                #world-swiper {
                  z-index: 0;
                }

                #world-swiper .slide {
                  width: 30% !important;
                }
                #world-swiper img {
                  width: 80%;
                  height: auto;
                  margin-bottom: 28px;
                }
                #world-swiper .description {
                  color: #fff;
                  font: italic normal 300 16px / 19px Urbane;
                  width: 80%;
                }

                #world-swiper .description span {
                  font-weight: bold;
                }
                #world-swiper .swiper-pagination {
                  position: static;
                  width: auto;
                  display: flex;
                  align-items: flex-end;
                  font-size: 30px;
                  font-weight: 550;
                  color: #161c1f;
                  line-height: 42px;
                }
                #world-swiper .btnWraped {
                  display: flex;
                  width: 900px;
                  margin: 0 auto;
                  transform: translateY(-100%);
                  position: relative;
                  z-index: 2;
                }
                .swiper .swiper-wrapper {
                  -webkit-transition-timing-function: linear !important; /*之前是ease-out*/
                  -moz-transition-timing-function: linear !important;
                  -ms-transition-timing-function: linear !important;
                  -o-transition-timing-function: linear !important;
                  transition-timing-function: linear !important;
                }
                @media screen and (max-width:768px) {
                  #world-swiper .slide {
                    width: 80% !important;
                  }
                  .world-title {
                    font: normal normal 600 36px / 44px Urbane;
                  }
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="__pf __pf_lUQL6LKn">
  <div
    data-section-id="pf-c716"
    data-pf-type="Section"
    class="sc-fmciRz bheIgq pf-368_">
    <div style="--cw:1170px" class="sc-gjNHFA gwWIgj">
      <div
        class="sc-ezbkAF A-dmbO pf-369_ pf-r pf-r-eh"
        style="--s-xs:15px"
        data-pf-type="Row">
        <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
          <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-370_">
            <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-371_">
              <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-373_">Get inspired by more Urtopia riders' stories</span>
            </h3>
            <a
              href="https://www.facebook.com/UrtopiaEbike/"
              target="_blank"
              data-pf-type="Button"
              class="sc-iqseJM fFuGRG pf-374_">
              <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-376_">Join our community</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="__pf __pf_lUQL6LKn">
  <div
    data-section-id="pf-053c"
    id="customer-review"
    data-pf-type="Section"
    class="sc-fmciRz bheIgq pf-825_">
    <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
      <div
        class="sc-ezbkAF A-dmbO pf-826_ pf-r pf-r-eh"
        style="--s-xs:15px"
        data-pf-type="Row">
        <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
          <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-827_">
            <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-828_">
              <div class="pf-judme">{% include "judgeme_widgets", widget_type: "judgeme_review_widget", concierge_install: false %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="__pf __pf_lUQL6LKn">
  <div class="centeral-content">
    <div
      data-section-id="pf-c497"
      data-pf-type="Section"
      class="sc-fmciRz bheIgq pf-829_">
      <div style="--cw:1920px" class="sc-gjNHFA gwWIgj">
        <div
          class="sc-ezbkAF A-dmbO pf-830_ pf-r pf-c-cm pf-r-eh"
          style="--s-xs:15px"
          data-pf-type="Row">
          <div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4">
            <div
              data-href="https://newurtopiahelp.zendesk.com/hc/de"
              data-target="_self"
              data-pf-type="Column"
              class="sc-gUQvok iVVDxu pf-831_">
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-832_">
                <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-833_">
                  <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_designer_girl_re_h54c-1642130420787.png?v=1642130429&width=200"  />
                </div>
              </div>
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-834_">
                <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-835_ pf-gs-heading-5 Title">
                  <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-837_">FAQ</span>
                </h3>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4">
            <div
              data-href="/pages/tutorials"
              data-target="_self"
              data-pf-type="Column"
              class="sc-gUQvok iVVDxu pf-838_">
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-839_">
                <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-840_">
                  <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_biking_kc4f-1642130420783.png?v=1642130425&width=200"/>
                </div>
              </div>
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-841_">
                <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-842_ pf-gs-heading-5 Title">
                  <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-844_">Tutorials</span>
                </h3>
              </div>
            </div>
          </div>
          <div class="pf-c" style="--c-xs:4;--c-md:4;--c-lg:4">
            <div
              data-href="/pages/care"
              data-target="_self"
              data-pf-type="Column"
              class="sc-gUQvok iVVDxu pf-845_">
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-846_">
                <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-847_">
                  <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/undraw_team_spirit_re_yl1v-1642130420780.png?v=1642130422&width=200" />
                </div>
              </div>
              <div data-pf-type="Block" class="sc-cbTzjv cciAhs pf-848_">
                <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-849_ pf-gs-heading-5 Title">
                  <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-851_">CARE</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<img class="toTop" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">
<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;color:var(--sale-color3);">{{ product.price | minus: 0 | money }}</span> <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span></span>
            <span class="u14Light_v2">or as low as {{ product.price | minus: 0 | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="#sale_acc" class="my-button my-button-origin" style="background: var(--sale-color3);">Order Now</a>
    </div>
</div>
<div class="bottom-fixed pcHide">
    <a href="#sale_accmb" class="my-button my-button-origin" style="background: var(--sale-color3);">Order Now</a>
    <div>
        <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;color:var(--sale-color3);">{{ product.price | minus: 0 | money }}</span> <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span></span>
        <span class="u14Light_v2">or as low as {{ product.price | minus: 0 | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
    </div>
</div>

<script>
    // 默认隐藏
    $('.bottom-fixed').hide()
    $('.top-fixed').hide()
    $('.toTop').hide()
    
    const leftSwiper = new Swiper(".product .left-swiper", {
        direction: 'vertical',
        spaceBetween: 8,
        slidesPerView: 8,
        freeMode: true,
        watchSlidesProgress: true,
      })

      const rightSwiper = new Swiper(".product .right-swiper", {
        autoHeight: true,
        navigation: {
          nextEl: ".product .right-swiper .swiper-button-next",
          prevEl: ".product .right-swiper .swiper-button-prev",
        },
        pagination: {el:'.swiper-pagination'},
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        thumbs: {
          swiper: leftSwiper,
        },
      });

    document.addEventListener('onChangeModel', e => {
      $(`.product .product-panel .options > div[option="Model"] .u17DemiBold_v2 .u17Light_v2`).text(`Urtopia Carbon ${e.value === 'Carbon Belt' ? '1' : '1s'}`)
    })

    document.addEventListener('onChangeStyle', e => {
      $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(e.value)
    })

    document.addEventListener('onChangeSize', e => {
      $(`.product .product-panel .options > div[option="Size"] .u17DemiBold_v2 .u17Light_v2`).text(global_config.carbon_order_page_config.size_map[e.value])
    })

    document.addEventListener('onChangeOptions', e => {
            let swiper_arr = []
            swiper_arr = swiper_arr.concat(global_config.carbon_order_page_config.product_images[e.value.Model][e.value.Style], e.value.Style === 'Vanilla' ? [] : global_config.carbon_order_page_config.product_images[e.value.Model]['commonSwiper'])

            $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
                const index = i % 6

                return  `<div class="swiper-slide">
                            <img src="${s}&width=700"/>
                            <div>
                                <span class="u20DemiBold_v2">${global_config.carbon_order_page_config.product_media_images[index].text}</span>
                                <img src="${global_config.carbon_order_page_config.product_media_images[index].img}&width=350">
                            </div>
                        </div>`
              }).join(''))
            $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}&width=700"></div>`).join(''))
            
            // update
            setTimeout(() => {
                rightSwiper.update()
                rightSwiper.slideTo(0, 0)
                
                leftSwiper.update()
                leftSwiper.slideTo(0, 0)
            }, 0)

            $('.product .delivery_time').html(global_config.carbon_order_page_config.ebike_delivery_time[e.value.id] || global_config.carbon_order_page_config.ebike_default_delivery_time)

            const btn =  $('.product .buttons .addToCartBtn')
            if (e.value.available) {
                btn.find('span').text('Add to Cart')
                btn.removeClass('disabled')
                $('.product .buttons .orderTestRideBtn').show()
                $('.product .buttons .my-button-origin[onclick="buynow(this)"]').show()
            } else {
                btn.find('span').text('Sold out')
                btn.addClass('disabled')
                $('.product .buttons .orderTestRideBtn').hide()
                $('.product .buttons .my-button-origin[onclick="buynow(this)"]').hide()
            }

            /*
            const getContent = s => {
                options[1] = s

                const f = variants.find(i => i.title === optionsToTtitle(options))

                if (!f || !f.available) {
                  return '{{ 'order_page.out' | t }}'
                }

                return `{{ 'order_page.only' | t }} ${Math.max(f.inventory_quantity, 2)} {{ 'order_page.stock' | t }}`
            }
          
            setTimeout(() => {
              $(`.product .product-panel .Size > div[attribute="M"]`).attr('data-inventory-quantity', getContent('M'));
              $(`.product .product-panel .Size > div[attribute="L"]`).attr('data-inventory-quantity', getContent('L'));
            }, 0)
            */
    })


    function changeAddToCartText (parse, step = 0) {
        if (step) {
            $(".addToCartBtn i").toggleClass("showi");
            document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
        } else {
            setTimeout(()=>{
                $(".addToCartBtn i").toggleClass("showi");
                document.querySelector(".addToCartBtn span").innerHTML = "Add to Cart";
            }, 800)
        }
    }

    function buynow (e) {

        const t = $(e)

        if (t.hasClass('loading')) {
            return
        }

        console.log(t)

        t.addClass('loading')
        t.html('<i class="fa fa-spinner fa-spin" style="margin-right: 8px;"></i>Processing...')

        const body = { items: [{ id: current_variant_id, quantity: 1 }] }
        $('.product .accessories .items .active').each((i, item) => {
          body.items.push({ 
            id: $(item).attr('variant-id'), 
            quantity: 1
          })
        })

        fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body)
        })
        .then(response => {
            fetchBuried('websiteclick', `outlet-carbon-order-page`, { button: 'buynow' }, true)
            window.location.href="/checkout"
        })
        .catch((error) => {
          t.removeClass('loading')
          t.html('Buy now')

          console.error('Error:', error);
        })
}

    function testRideTrace(type = '', target){

        // 如果已经有按钮 loading ,直接退出来
        if (!type || $('.orderTestRideBtn').hasClass('loading')) {
            return
        }
    
        const t = $(target)
    
        t.addClass('loading')
        // 原本的html 存起来
        const text = t.find('span').html()
        const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...'
    
        // loading
        t.find('span').html(loading)
    
        
    
        if (type === 'lease_on_jobrad') {
            fetchBuried('websiteclick', `outlet-carbon-order-page`, { button: type }, true)
    
            t.removeClass('loading')
            t.find('span').html(text)

            const url = window.sessionStorage.localPathPerfix + `/pages/ebike-leasing?bike_model=${current_variant.option1}&bike_style=${current_variant.option3}&bike_size=${current_variant.option2}&utm_source=order_page#forms`

            return window.open(url)
        }
    
        if (type === 'klarna_check_out') {
            fetchBuried('websiteclick', `outlet-carbon-order-page`, { button: type, action_type: sessionStorage.carbon_one_a_b_test_flag }, true)
            window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button'
    
            setTimeout(() => {
                    t.removeClass('loading')
                    t.find('span').html(text)
                }, 2000)

            // 如果 B test 需要显示 klarna checkout
            window.show_notification_checkout_button = true
            return addToCartInsurance("atc", true)
        }
    
        if (type === 'shop_on_mediamarkt') {
            t.removeClass('loading')
            t.find('span').html(text)
            return window.open('https://www.mediamarkt.de/de/search.html?query=urtopia&filter=carType%3ACitybike')
          
        }
    }



    $('.product .product-panel .accessories .navigate > div').on('click', e => {
        const items = $('.product .product-panel .accessories .items')

        items.animate({
            scrollLeft: $('.product .product-panel .accessories .items').scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)
    })

    $('.product .product-panel .accessories .items .item').on('click', e => {
        const item = $(e.target).closest('.item')
        const icon = item.find('.u11Light_v2')

        if (item.hasClass('active')) {
            item.removeClass('active')
            icon.html('<i class="fa-solid fa-plus"></i>')
            
        } else {
            item.addClass('active')
            icon.html('<i class="fa-solid fa-check"></i>')
        }
    })

    $('.product .product-panel').on("submit", function (event) {

        // 阻止默认行为
        event.preventDefault();
        return false;
    })

    $('.product .dialogs > div').on('click', function(e){
        const m = {
            0: 'one',
            1: 'two',
            2: 'three',
            3: 'four'
        }

      if ($(this).attr('onclick')) {
          return
        }

        $('.product .dialogs > div').each((i, t) => {
            if ($(e.target).closest('.u17Medium_v2')[0] === t) {
                console.log(i)

                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                laybox.className += " dialog-open";
            }
        })
    })

    $('.toTop').on('click', e => {
        $('html').animate({
            scrollTop: 0
        }, 300)
    })


    let currnetScroolTop = 0
    $(document).on('scroll', throttle(e => {
        const top1 = $('#freedom').offset().top
        const top3 = $('.product .addToCartBtn').offset().top
        const top2 = $(e.target).scrollTop()

        const h = window.screen.height

        if (global_config.is_mobile) {
            if (top2 > top3) {
                $('.bottom-fixed').show()
            } else {
                $('.bottom-fixed').hide()
            }
        } else {
            if (top2 > top1) {
                $('.top-fixed').show()
            } else {
                $('.top-fixed').hide()
            }

            if (currnetScroolTop > top2) {
                $('.top-fixed').hide()
            }

            currnetScroolTop = top2
        }

        top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

    }, 300, 100))
</script>
{% render 'product-options', config_name: "carbon_order_page_config" %}


<script>
  (function() {
    var a = document.createElement("script");
    a.type = "text/javascript";
    a.src = "https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    var b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b);
  }());

//
</script>

<script>
  var closeCheck2 = function(e, force) {
    let t = document.querySelector(".componentBox");
    if (force || t && ! e.target.closest(".componentBox")) {
      var mo = function(e) {
        passive : false;
      };
      document.body.style.overflow = "";
      document.removeEventListener("touchmove", mo, false);
      document.removeEventListener("mousedown", closeCheck2);
      $('.overlay').remove()
    }
  };
  var openComponent = function(index) {
    var componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/sectioncustomizedim1-1666927938072_397x.jpg?v=1666927940"
    var componentTit = "Anti-glare LED Display"
    var componentDes = "The dot matrix screen is the Brian of the whole bike works like a removeable computer. You can check your route, speed, and weather information in real time with a quick glance on it at any light. And the ally tuned will react to your every order, change speed or control the light. So you do not need to focus on the screen while riding, throw away your phone with nothing to lose."
    var componentHtml = ""
    var imgStyle = ""
    switch (index) {
      case 0: componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/finger_print.jpg?v=1675741851"
        componentTit = "Anti-glare LED Display";
        componentDes = "The brain of all the smartness, with a face of big dot-matrix display and ears ready for your oral commands. Now, a simple glance captures all essential stats, and mere words control the bike. Who needs a smart phone for a Urtopia ride, anyways?";
        break;
      case 1: componentImg = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20478_1429f804-69cb-43af-9003-e07120a5020e.jpg?v=1678932876"
        componentTit = "Gamepad Controls";
        componentDes = "Inspired by a gamepad, the handlebar control is reduced to only two buttons with intuitive key functions. Riding a bike? Yes! Playing a game? Almost!";
        break;
        imgStyle = "padding:10px";
        break;
      case 2:
        {% if hide_balabalabala %}
        componentImg = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20476.jpg?v=1678931893"
        componentTit = "Quiet Motor";
        componentDes = "Light and compact yet powerful enough, the rear-hub motor is quiet and responsive, offering enough slope-climbing capacity for most urban roads.<div class='quiet-motor'><div><div class='u17DemiBold_v2'>Carbon 1</div><div class='u14Light_v2'>36 V 250 W (rated)</div><div class='u14Light_v2'>35 N⋅m</div></div></div>";
        {% else %}
        componentImg = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-180259.jpg?v=1688119395"
        componentTit = "Quiet Motor";
        componentDes = "Light and compact yet powerful enough, the rear-hub motor is quiet and responsive, offering enough slope-climbing capacity for most urban roads.<div class='quiet-motor'><div><div class='u17DemiBold_v2'>Carbon 1</div><div class='u14Light_v2'>36 V 250 W (rated)</div><div class='u14Light_v2'>35 N⋅m</div></div><div><div class='u17DemiBold_v2'>Carbon 1s</div><div class='u14Light_v2'>36 V 250 W (rated)</div><div class='u14Light_v2'>45 N⋅m</div></div></div>";
        {% endif %}
        break;
        imgStyle = "padding:10px";
        break;
      case 3: componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/group-190132x-1668421098616.jpg"
        componentTit = "Smart App";
        componentDes = "Believing that software brings out true potentials of the hardware, Urtopia pays equal attention to the app that fully connects and controls the e-bike. Real-time locating, route tracking, anti-theft alert, navigation, speaker, community share etc., are all waiting for you to explore.";
        break;
      case 4: componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ssss.jpg?v=1675741851"
        componentTit = "Removable Battery";
        componentDes = "A 360Wh lithium-ion removable battery provides ample energy so a rider can travel up to 100km (40km min.) after a mere 2.5-hr charge.";
        break;
      case 5: componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230117-untitled-4204.jpg?v=1675741851"
        componentTit = "Modular Rear Light";
        componentDes = "Main red light is ambient-sensing to keep you focused on the joy of riding, while turn-indicators are one touch away to warn vehicles approaching from behind. Oh, don’t forget the blinker when braking!";
        break;
      case 6: componentImg = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8952.jpg?v=1675741851"
        componentTit = "20 Lux Headlight";
        componentDes = "Streamlined shape and integrated design, the German road regulation-compliant light is dazzling to look at but never blinding to anyone coming towards you. A well-balanced combination of beauty and safety.";
        break;
      case 7: componentImg = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20063.jpg?v=1678931893"
        componentTit = "";
        {% if hide_balabalabala %}
        componentDes = `<div class="gearing"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20063.jpg?v=1678931893"/><div><div class="u24DemiBold_v2">Carbon 1 <span class="u17Light_v2">- Carbon Belt</span></div><div class="u14Light_v2">An innovative but highly reliable means of power transmission, the Gates carbon belt drive is clean and literally maintenance free. Got dirty? Just rinse with water!</div></div>`;
        {% else %}
        componentDes = `<div class="gearing"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-180237.jpg?v=1688119395"/><div><div class="u24DemiBold_v2">Carbon 1 <span class="u17Light_v2">- Carbon Belt</span></div><div class="u14Light_v2">An innovative but highly reliable means of power transmission, the Gates carbon belt drive is clean and literally maintenance free. Got dirty? Just rinse with water!</div><div class="u24DemiBold_v2">Carbon 1s <span class="u17Light_v2">- Shimano Gear</span></div><div class="u14Light_v2">Gears? Check!While our default carbon belt drive offers maximum peace of mind in cleanness and maintenance, now there is also the option of 7-speed Shimano gears to take on steep hills and flat roads alike, but with higher speed and better efficiency.</div></div>`;
        {% endif %}
        imgStyle = "display:none;"
        break;
      case 8: componentImg = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/E-Bike208_2a0d6cab-96fa-452d-89b2-fec43afb20fe.jpg?v=1678931893"
        componentTit = "Torque Sensor";
        componentDes = "Unlike jerky cadence sensing, proprietary torque sensor enables super-fast speedadaption.";
        break;
    }
    $("body").append('<div class="overlay"><div class="componentBox" id="componentBox"><div class="close" onclick="closeCheck2(this,true)"><i class="fa fa-solid fa-xmark"></i></div><div class="left-container" style="' + imgStyle + '"><img src="' + componentImg + '"/></div><div class="right-container">' + componentHtml + '<div class="title1">' + componentTit + '</div><div class="description">' + componentDes + '</div><div/></div></div>')
    document.addEventListener("mousedown", closeCheck2);
    var mo = function(e) {
      passive : false;
    };
    document.body.style.overflow = "hidden";
    document.addEventListener("touchmove", mo, false);
  }
</script>

<script>
  let slideNo = 0;
  var swiperSectionWorld = new Swiper("#world-swiper", {
    autoplay: {
      delay: 0,
      disableOnInteraction: false
    },
    noSwiping: true,
    freeMode: true,
    loop: true,
    speed: 6000,
    slidesPerView: "auto"
  });
  let nextTransForm = "";

// 轮播图从暂停位置移动到原本应到的位置所用的时间
  let nextTime = 0;
  let slideWidth = 165;
  $("#world-swiper").hover(() => {
    slideWidth = document.querySelector("#world-swiper .swiper-slide.slide").offsetWidth;
    nextTransForm = document.querySelector("#world-swiper .swiper-wrapper").style.transform;

// 轮播图原本应移动到的位置
    let nextTransPosition = -1 * parseInt(document
      .querySelector("#world-swiper .swiper-wrapper")
      .style
      .transform
      .split("translate3d(")[1]
      .split("px")[0]);

// 鼠标悬浮时时轮播图位置
    let nowTransPosition = -1 * parseInt(window.getComputedStyle(document.querySelector("#world-swiper .swiper-wrapper"), false)["transform"].split("1, ")[2].split(",")[0]);
    let nowTransForm = window.getComputedStyle(document.querySelector("#world-swiper .swiper-wrapper"), false)["transform"];
    nextTime = 6000 * ((nextTransPosition - nowTransPosition) / slideWidth);
    document.querySelector("#world-swiper .swiper-wrapper").style.transform = nowTransForm;
    document.querySelector("#world-swiper .swiper-wrapper").style.transitionDuration = "0ms";
    swiperSectionWorld.autoplay.stop();
  }, () => {
    document.querySelector("#world-swiper .swiper-wrapper").style.transform = nextTransForm;
    document.querySelector("#world-swiper .swiper-wrapper").style.transitionDuration = nextTime + "ms";
    swiperSectionWorld.autoplay.start();
  })
</script>





{% render 'carbon-one-extra-code', hide_balabalabala: true, hide_1s: true %}

<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('emailpop', 'submit', { email: $(this).find('input').val(), tag: `DE,outlet-order-page` }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>