{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.9b29433f.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'chord.scss.css' | asset_url | stylesheet_tag: preload: true }}

<style>
  .sale-big-text {
    border-radius: 12px;
    padding: 8px 12px;
    background-image: linear-gradient(90deg, #EE6426, #F4492A);
    color: #fff;
    margin: 6px 0 -6px;
  }

  .sale-big-text .u20DemiBold_v2 {
    font-size: 18px;
  }

  .product .list-payment__item {
    padding: 0.3rem;
  }

  .product .list-payment {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .availableforleasing {
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 8px 12px;
  }

  .availableforleasing .u14Medium_v2 {
    margin: 4px 0 12px;
  }

  .availableforleasing .u14Medium_v2  span {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1%;
  }

  .availableforleasing .images {
    display: flex;
    align-items: center;
  }

  .availableforleasing .images img {
    height: 17px;
    width: auto;
  }

  .availableforleasing .images img + img {
    margin-left: 3%;
  }

  @media (max-width: 767px) { 
    .sale-big-text .u20DemiBold_v2 {
      font-size: 14px;
    }
  }
</style>

<div class="product" data-pf-type="ProductBox">
    <div class="centeral-content">
        <div class="commonComponent pcHide">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
            </div>
            <div class="u14DemiBold_v2 mb6 sale-taggggggg">{{ settings.sale_name }}</div>
            <div class="product-price u30DemiBold_v2" style="margin: 0;" {% unless settings.chord_ebike_discount_price == "0" %}data-price="{{ product.price | money }}"{% endunless %}>{{ product.price | minus: settings.chord_ebike_discount_price | money }}</div>
            <div class="sale-tag mb6">
              <!--<div class="u17Medium_v2">Save Now</div>-->
              <div class="u14Light_v2" style="margin: 0;">incl. VAT. & Free shipping.</div>
            </div>
            <div class="adwarsssss"></div>
            <!--<div class="sale-big-text mb6">
              <div class="u20DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!</div>
              <div class="u11Light_v2">For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you will get a refund for the difference.</div>
            </div>-->
        </div>
        <div class="featured_image">
            <div class="swiper left-swiper mobileHide">
                <div class="swiper-wrapper">
                </div>
            </div>
            <div class="swiper right-swiper" style="--swiper-navigation-color: #fff;--swiper-theme-color: #000;--swiper-pagination-color: #000;">
                <div class="adwarsssss mobileHide"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18757.png?v=1689237250&width=700">
                        <div>
                            <span class="u20DemiBold_v2">“The smoothest and cleanest look”</span>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18675_2x_75c49337-c9e2-4f36-8d62-bf676477342b.png?v=1699861700&width=350">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev mobileHide"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-button-next mobileHide"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
                <div class="swiper-pagination pcHide"></div>
                <div class="flex-1 mobileHide"></div>
                <div class="fenders mobileHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <span class="u17DemiBold_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</span>
                  <span class="u17Light_v2" style="text-decoration: line-through;">{{ 17900 | money }}</span>
                  <span class="u17DemiBold_v2">FREE</span>
                </div>
                <div class="parameters mobileHide">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_833c8995-fa19-4297-af29-678ac4064d0c.png?v=1687176385"/>
                        <span><span class="u14Light_v2">Torque</span><span class="u17DemiBold_v2">45 NM</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_e118ab7b-18ca-4612-afb3-20758874d9c7.png?v=1687177181"/>
                        <span><span class="u14Light_v2">Modes X Gears</span><span class="u17DemiBold_v2">4 x 8</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_2e6c6230-7ed1-4c3d-99ad-54ba48fa57b4.png?v=1687177370"/>
                        <span><span class="u14Light_v2">Adaptive</span><span class="u17DemiBold_v2">Torque Sensor</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_c102facd-9087-4028-8f97-34a7af31b1f6.png?v=1687177414"/>
                        <span><span class="u14Light_v2">Range</span><span class="u17DemiBold_v2">120 Km</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_50383af6-61df-4632-9cbc-531630580f61.png?v=1687177242"/>
                        <span><span class="u14Light_v2">Phone App</span><span class="u17DemiBold_v2">iOS, Android</span></span>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_791e060a-ed39-42c5-9cf0-965d7e5110bb.png?v=1687177232"/>
                        <span><span class="u14Light_v2">Anti-theft</span><span class="u17DemiBold_v2">GPS Tracking</span></span>
                    </div>
                </div>
            </div>            
        </div>
        <form method="post" accept-charset="UTF-8" action="/cart/add" class="product-panel pf-product-form" data-productid={{ product.id }} id="product_form_{{ product.id }}" enctype="multipart/form-data">
            <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="commonComponent mobileHide" id="sale_acc">
                <div class="u36DemiBold_v2 mb6">{{ product.title }}</div>
                <div data-pf-type="JudgeMe" class="sc-eZhRLC gtfCKx pf-25_ order-djs mb6">
                    <div class="pf-judme">{% render "judgeme_widgets", widget_type: "judgeme_preview_badge", jm_style: "", concierge_install: false, product: product %}</div>
                </div>
                <div class="u14DemiBold_v2 mb6 sale-taggggggg">{{ settings.sale_name }}</div>
                <div class="product-price u30DemiBold_v2" style="margin: 0;" {% unless settings.chord_ebike_discount_price == "0" %}data-price="{{ product.price | money }}"{% endunless %}>{{ product.price | minus: settings.chord_ebike_discount_price | money }}</div>
                <div class="sale-tag mb12">
                  <!--<div class="u17Medium_v2">Save Now</div>-->
                  <div class="u14Light_v2" style="margin: 0;">incl. VAT. & Free shipping.</div>
                </div>
            </div>
            <div class="fenders pcHide">
                  <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230307-201732.jpg?v=1678191479" alt="">
                  <div>
                    <span class="u17DemiBold_v2" style="background-color: #263B55; color: #fff;border-radius: 7px;padding: 3px 12px;">FREE</span>
                    <span class="u17DemiBold_v2" style="text-decoration: line-through;">{{ 17900 | money }}</span>
                    <div class="u17Light_v2">Free Fenders, Kickstand, <br>1-Year Connect Service Included</div>
                  </div>
            </div>
            {% unless settings.hide_sale_countdown %}
                <div class="count-down mb12 mobileHide">
                    <div class="u17Medium_v2">Promotion Ends in:</div>
                    <img src="http://i.countdownmail.com/37l093.gif">
                </div>
            {% endunless %}
            <div class="options">
                {% for option in product.options_with_values %}
                  <div class="option" option={{option.name}} position="{{ option.position }}">
                    <div class="u17DemiBold_v2 mb12">{{ option.name }} - <span class="u17Light_v2"></span></div>
                    <div class="{{ option.name }} mb12">
                      {% for value in option.values %}
                        {% case option.name %}
                        {% when "Style" %}
                          <div attribute="{{ value }}" class="{{ value }}"></div>
                        {% else %}
                            <div attribute="{{ value }}" class="{{ value }}">{{ value }}</div>
                        {% endcase %}                     
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
            </div>
            <div class="accessories">
                <div class="u17DemiBold_v2 mb12">Accessories</div>
                <div class="navigate">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
                <div class="items mb12 chord-accessories">
                    {% for prod in collections['chord-accessories'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="items mb12 chord-accessories-1">
                    {% for prod in collections['chord-accessories-1'].products %}
                        {% if prod.available %}
                            {% assign variant = prod.variants | first %}
                            <div class="item" variant-id="{{ variant.id }}">
                              <div class="u11Medium_v2">{{ prod.title }}</div>
                              <div>
                                <div>
                                  <span class="u17DemiBold_v2">{{ prod.price | money }}</span>
                                  <span class=u11Light_v2>
                                    <i class="fa-solid fa-plus"></i>
                                  </span>
                                </div>
                                {{ prod.featured_image | image_url: width: 400 | image_tag }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
                <div class="count-down mb12 pcHide">
                  {% unless settings.hide_sale_countdown %}
                    <div class="u17Medium_v2">Promotion Ends in:</div>
                    <img src="http://i.countdownmail.com/37l093.gif">
                  {% endunless %}
              </div>
                <div
                    data-product-id="{{ product.id }}"
                    class="my-button my-button-black addToCartBtn"
                    onclick="addAllToCart('atc')"
                    id="addToCart"
                    >
                    <i class="fa fa-spinner fa-spin"></i><span data-pf-type="Text" class="addToCartText u17DemiBold_v2">{{ 'products.product.add_to_cart' | t }}</span>
                </div>
                <div onclick="testRideTrace('lease_on_jobrad', this)" class="orderTestRideBtn jobrad">
                    <img class="oneeee" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JobRad_Logo_Anthrazit_RGB_4x_2x_4d61b30b-1ef4-492f-a670-734913ec7b54.png?v=1705477646"/>
                    <span><span class="u17DemiBold_v2">Lease Now</span><span>36 {{ 'order_page.months' | t }}, €30{{ 'checkout_klarna.month' | t }}</span></span>
                  </div>
                <div onclick="testRideTrace('klarna_check_out', this)" class="orderTestRideBtn">
                    <img class="twoooo"src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230530-121400.png?v=1685420054"/>
                    <span><span class="u17DemiBold_v2">0% APR Financing</span><span>24 {{ 'order_page.months' | t }}, <span class="stages">{{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}</span>/month</span></span>
                </div>
            </div>
            <div class="delivery_time mb12">Free shipping <span>within 5 days</span></div>
            <div class="support mb12">
                <a href="#boxs3">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230621-005713.png?v=1687280264"/>
                    <span class="u11Medium_v2">150+ Spots<br>of Service</span>
                </a>
                <a href="/pages/shipping-and-return" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_cff00041-4dce-479b-b87d-55b1cb89cd7a.png?v=1687161086"/>
                    <span class="u11Medium_v2">14-Day<br>Returns</span>
                </a>
                <a href="/pages/warranty" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_1e776f09-0686-4672-a22f-b29d2df3898d.png?v=1687161098"/>
                    <span class="u11Medium_v2">2-Year<br>Warranty</span>
                </a>
            </div>
            {% render 'footer__payment' %}
            {% render 'leasing-logo' %}
            <div class="dialogs">
                <div class="u17Medium_v2">
                    <span>Size & Fit</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Technical Specifications</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>Support & Service</span>
                    <span>&gt;</span>
                </div>
                <div class="u17Medium_v2">
                    <span>FAQs</span>
                    <span>&gt;</span>
                </div>
            </div>
        </form>
    </div>
</div>
{% if true %}
  <div id="choose">
   <div class="centeral-content ebike-products">
    <div class="u36DemiBold_v2">More Urtopia E-bikes</div>
    <div class="u24Medium_v2"></div>
    <div class="product-grid">
        {% assign productt = all_products["urtopia-carbon-e-bike"] %}
        {% assign product_variants = productt.variants | where: "available" %}
        {% assign product_tags = settings.carbon_ebike_free_accessories_count | append: ' Freebies'   %}
        {% render 'product-card',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L",
            product_name: 'Carbon 1',
            product_description: 'The ultra-light commuter e-bike provides a clean city riding experience.',
            product_discount_price: settings.carbon_ebike_discount_price,
            product_url: productt.url,
        %}
        {% assign productt = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = productt.variants | where: "option1", "L" | where: "available" %}
        {% assign product_discount_price = productt.compare_at_price | minus: productt.price %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Carbon 1 Pro',
            product_description: 'The lightweight gravel e-bike delivers exceptional performance and style.',
            product_url: productt.url,
        %}
      <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22829_2x_82531e4b-8b9c-40c7-822f-c58f9db7d477.jpg?v=1695625176">Full Carbon Lightweight Sporty</div>
    </div>
</div>
</div>
<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        // outlet 车型
        if (discount_price === 0) {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(compare_at_price - price, true)} OFF`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
        } else {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price - discount_price, true)).attr('data-price', getPriceFormat(price, true))
            product_card.find('.product_price .u17Light_v2 > span').text(getPriceFormat((price - discount_price) / 24))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(discount_price, true)} OFF`)
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>
{% endif %}
<div class="maksim-big-banner lozad" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23286_2x_96bb433e-b8f4-4f93-a765-376f6baaffaf.jpg?v=1699928706">
    <div class="centeral-content">
        <div>
            <div class="u36Medium_v2">Design Inspired <br>from Piano</div>
            <div class="u17Light_v2">Chord, like a beautiful piano piece, bringing unprecedented smoothness and passion
                to the realm of bike, has won broad applause such as the German Design Award.</div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231114-233206_2x_b057955c-2082-4a23-a9ea-daed62b2f13e.png?v=1700012494&width=200"
                alt="">
        </div>
        <div>
            <div class="u24Medium_v2">Maksim Mrvica</div>
            <div class="u17Light_v2">World’s fastest pianist from Croatia, who blends classical grace with vibrant
                contemporary style. As the concept designer, he extends his aesthetic to the Chord, where elegance and
                comfort interwine seamlessly.</div>
            <div class="my-button my-button-ghost" onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')">Watch video</div>
        </div>
    </div>
</div>
<div class="gray-background-color swiperrrrr">
    <div class="centeral-content">
        <div>
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="--bg-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23217_2x_fad69088-980d-4d97-be93-f78d1f4b74ed.jpg?v=1699950381');--bg-image-mb: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/chord_2x_8d52dbc8-959d-4da6-ab38-a067d7b0d171.jpg?v=1699960654&width=500');"></div>
                <div class="swiper-slide" style="--bg-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23216_2x_eb135a16-9a6a-4835-9cb5-171cb27e6d83.jpg?v=1699950385');--bg-image-mb: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/chord_2x_cd81b463-1d38-48bc-abcf-7ad667556fa8.jpg?v=1699960659&width=500');"></div>
                <div class="swiper-slide" style="--bg-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23215_2x_a626490b-314f-4f01-92bd-be79160fb110.jpg?v=1699950391');--bg-image-mb: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/chord_2x_9e9ca0c8-2127-4d35-b86f-9584415ad074.jpg?v=1699960665&width=500');"></div>
            </div>
        </div>
        <div class="swiper-button-prev mobileHide"></div>
        <div class="swiper-button-next mobileHide"></div>
        <div class="swiper-pagination pcHide"></div>
        <div class="texts">
            <div class="u24Medium_v2">Artisanal Grace from <br>Superior Craftsmanship</div>
            <div class="u17Light_v2 active">
                <span></span>
                <span>No weld scar, Liquid Forging technology makes a seamless frame with perfect curve</span>
            </div>
            <div class="u17Light_v2">
                <span></span>
                <span>Water-based Multi-layer Paint shines quietly and touches as exquisite as a piano</span>
            </div>
            <div class="u17Light_v2">
                <span></span>
                <span>Removable Battery on the top tube completes the entire design like a piano key</span>
            </div>
        </div>
    </div>
</div>
<div class="gray-background-color boxs3645">
    <div class="centeral-content">
        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF1274_2x_a038e18c-81bf-48d1-b223-a3765d74e332.jpg?v=1721973628&width=800"
            alt="">
        <div>
            <div class="u24Medium_v2">A Comfortable Cruiser <br>to Levitate Your Ride</div>
            <div class="u17Light_v2">The upright riding position, with ergonomic handlebar and adjustable stem, ensures
                ultimate comfort for the rider. The proprietary sensing and driving system gives intuitive power
                assistance and makes every pedal as light as wind.</div>
        </div>
        <div>
            <div class="u24Medium_v2">A Considerate Mate <br>to Meet Your Need</div>
            <div class="u17Light_v2">With a superb 120km range, you can simply forget about battery anxiety. Abundant
                accessories and reliable gears make the bike always practical, whether you are cruising in old towns,
                navigating in modern cities or travelling through countryside. Chord is a perfect mate for a cozy and
                loose lifestyle.</div>
        </div>
        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF1992_2x_470c2e19-f48a-4f2c-af82-ec35889cd5f2.jpg?v=1699942729&width=800"
            alt="">
    </div>
</div>
<div class="gray-background-color easy">
    <div></div>
    <div>
        <div class="u36Medium_v2">Easy life , Smart fun</div>
        <div class="u17Light_v2">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18337_2x_9eb33291-ec3e-4492-ba99-2562cc1eccae.png?v=1699944156&width=50"
                alt="">
            <span>Finger-print unlock and GPS anti-theft provide unparalleled security for a carefree ride </span>
        </div>
        <div class="u17Light_v2">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231115-093430.png?v=1700012088&width=50"
                alt="">
            <span>Daylight-bright screen and built-in navigation show routes clearly in all weather conditions. Put your
                cell phone in your pocket and never worry about accidental drop or battery drain.</span>
        </div>
    </div>
</div>
<div class="yourself">
    <div class="centeral-content">
        <div>
            <div class="u36Medium_v2">Be Yourself, Have Fun</div>
            <div class="u17Light_v2">
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18340_2x_c05ffbf0-9c05-4ef6-a375-ce54c68069df.png?v=1699946828&width=50"
                    alt="">
                <span>Smartbar plays your music like a musicbox. Let your rhythm resonate with Chord</span>
            </div>
            <div class="u17Light_v2">
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18342_2x_5ccf7f37-a1b9-4fe7-949e-52c71f08b44c.png?v=1699946832&width=50"
                    alt="">
                <span>Smart App tracks your journey and health. Get on the bike and share your thrilling moments with
                    your friends and family.</span>
            </div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231115-093417.png?v=1700012084&width=300"
                alt="">
        </div>
    </div>
</div>
    <!--<div class="centeral-content smartest">
        <div class="u42DemiBold_v2">Smartest E-Bike Ever</div>
        <div class="boxss">
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22127_2x_0054733d-7211-4a90-8015-b42dc42dc886.jpg?v=1696737459"
                    alt="">
                <div class="u24DemiBold_v2">Anti-glare LED Display</div>
                <div class="u17Light_v2">Urtopia’s smart core: Dot-matrix display, voice commands. Vital info and bike
                    control, no smartphone required for your ride!</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22125_2x_4ae748d1-1ad5-47fd-b05b-cab45d65377e.jpg?v=1696743871"
                    alt="">
                <div class="u24DemiBold_v2">Portable Battery</div>
                <div class="u17Light_v2">A 352.8 Wh lithium-ion removable battery provide sample energy so a rider can
                    travel up to 120km (50km min.) after a mere 3-hr charge.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22126_2x_824cb3a5-4b55-4341-83fe-8d2b911062fb.jpg?v=1696743879"
                    alt="">
                <div class="u24DemiBold_v2">20 Lux HeadLight</div>
                <div class="u17Light_v2">20 Lux Headlight with German road regulation-compliant design: a well-balanced
                    combination of beauty and safety.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22130_2x_0d904ceb-205a-4450-a858-228909539c66.jpg?v=1696743892"
                    alt="">
                <div class="u24DemiBold_v2">Fenders & Kickstand</div>
                <div class="u17Light_v2">Navigate rough terrains and any weather conditions with our pre-installed fenders
                    and kickstand included in the package.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22128_2x_abb6496d-8f8f-48be-945a-b0bb08cdd8ce.jpg?v=1696743899"
                    alt="">
                <div class="u24DemiBold_v2">Tektro Hydraulic Disc Brake</div>
                <div class="u17Light_v2">It provide reliable and consistent stopping power in any weather condition,
                    ensuring a safe and smooth ride.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22129_2x_6c5b4cfe-d578-4394-a7d0-f5b41ac9532b.jpg?v=1696743907"
                    alt="">
                <div class="u24DemiBold_v2">8-Speed Shimano Gearing</div>
                <div class="u17Light_v2">Experience seamless gear shifts and tackle different terrain with the versatile
                    8-speed Shimano gearing system.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22131_2x_a8a7e189-e540-4ec8-a21e-f5b8b212c64c.jpg?v=1696743914"
                    alt="">
                <div class="u24DemiBold_v2">Customized Motor</div>
                <div class="u17Light_v2">The 250W intelligent motor delivers a quiet and smooth ride while also being
                    energy-efficient, allowing riders to travel further.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22132_2x_96c0d8ea-eb92-4361-a15c-5ac90b800d43.jpg?v=1696743920"
                    alt="">
                <div class="u24DemiBold_v2">Torque Sensor</div>
                <div class="u17Light_v2">Unlike jerky cadence sensing, proprietary torque sensor enables super-fast speed
                    adaption.</div>
            </div>
            <div>
                <img class="lozad"
                    data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22133_2x_775a37f8-99de-4243-892f-86eccd1c0914.jpg?v=1696743926"
                    alt="">
                <div class="u24DemiBold_v2">Smart App</div>
                <div class="u17Light_v2">Urtopia’s app maximizes e-bike potential: Real-time locating, route tracking,
                    anti-theft alert, navigation, speaker, and more. Explore the possibilities!</div>
            </div>
        </div>
    </div>-->
    <div class="test-ride">
  <div class="centeral-content">
    <div>
      <div>
        <div class="u36DemiBold_v2">Test ride spots near you</div>
        <div class="u20DemiBold_v2">Experience the bike in real</div>
        <a
          class="my-button my-button-origin"
          href="/pages/test-ride"
          target="_blank">Book a Free Test Ride</a>
      </div>
    </div>
    <div>
      <div style="padding: 0;">
        <div
          id="storepoint-container"
          data-tags="euro"
          data-map-id="162f21804990ff"></div>
      </div>
    </div>
  </div>
</div>

<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496" />1 service center, 150+ service partners</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501" />24hrs service response, App build-in portal</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506" /><span>Spare parts available locally, ships in 3 days.</span>
        </div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512" />10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a
        class="my-button my-button-black"
        href="/pages/care"
        target="_blank">Learn more</a>
    </div>
    <div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JobRad_Logo_Anthrazit_RGB_4x_2x_62a03d6d-6e43-4033-938d-9af30244ef24.png?v=1705470842&width=200" />
        </div>
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/dd-logo-dark-yellow_2x_dc64f478-e88b-49ff-9b97-69e638066ea1.png?v=1709188458&width=200" />
        </div>
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793&width=200" />
        </div>
       <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762&width=200" />
       </div>
       <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Wordmark__leaseabike_transparent_2x_b12d66b8-8cce-4ca1-abe4-3c88a26cdc96.png?v=1709188055&width=200" />
        </div>
        <div>
          <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731&width=200" />
        </div>
        
      </div>
      <a
        class="my-button my-button-black"
        href="/pages/ebike-leasing"
        target="_blank">Lease Now</a>
    </div>
    <div></div>
  </div>
</div>



<img class="toTop lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21049.svg?v=1687267470">

<div class="top-fixed mobileHide">
    <div class="centeral-content">
        <span class="u20DemiBold_v2">{{ product.title }}</span>
        <span class="flex-1"></span>
        <div>
            <span class="u17Light_v2"><span class="u20DemiBold_v2 emphasize" style="font-weight: 600;color:var(--sale-order-page-text-color);">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span>
              {% unless settings.chord_ebike_discount_price == "0" %}<span style="text-decoration: line-through;margin-left: 4px;">{{ product.price | money }}</span>{% endunless %}
            </span>
            <span class="u14Light_v2">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
        </div>
        <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    </div>
</div>

<div class="bottom-fixed pcHide">
    <a href="#product_form_{{ product.id }}" class="my-button my-button-origin">Order Now</a>
    <div>
        <span class="u14Light_v2"><span class="emphasize" style="font-weight: 600;color:var(--sale-order-page-text-color);">{{ product.price | minus: settings.chord_ebike_discount_price | money }}</span>
            {% unless settings.chord_ebike_discount_price == "0" %}<span style="text-decoration: line-through;margin-left: 4px;">{{ product.price | money }}</span>{% endunless %}
        </span>
        <span class="u14Light_v2 pppppp">or as low as {{ product.price | minus: settings.chord_ebike_discount_price | divided_by: 24 | money_without_trailing_zeros }}/Month</span>
    </div>
</div>

<script>
      // 默认隐藏
    $('.bottom-fixed').hide();
    $('.top-fixed').hide();
    $('.toTop').hide();

    ((awards = []) => {
        if (!awards.length) {
            return $('.adwarsssss').hide()
        }

        $('.adwarsssss').html(awards.map(a => `<img src="${a}"/>`).join('')).css('height', global_config.is_mobile ? '30px' : '50px')

        if (global_config.is_pc) {
            $('.product .centeral-content .featured_image').css('grid-template-rows', '900px')
        }

    })(global_config.chord_order_page_config.awards);
    
    const leftSwiper = new Swiper(".product .left-swiper", {
        direction: 'vertical',
        spaceBetween: 8,
        slidesPerView: 8,
        freeMode: true,
        watchSlidesProgress: true,
      })

      const rightSwiper = new Swiper(".product .right-swiper", {
        autoHeight: true,
        navigation: {
          nextEl: ".product .right-swiper .swiper-button-next",
          prevEl: ".product .right-swiper .swiper-button-prev",
        },
        pagination: {el:'.swiper-pagination'},
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        thumbs: {
          swiper: leftSwiper,
        },
      });

      document.addEventListener('onChangeStyle', e => {
        $(`.product .product-panel .options > div[option="Style"] .u17DemiBold_v2 .u17Light_v2`).text(e.value)
      })

      document.addEventListener('onChangeFrame', e => {
            if (e.value === "High-Step") {
                $(`.product .product-panel .accessories .chord-accessories-1 .active`).click()
                $(`.product .product-panel .accessories .chord-accessories`).show()
                $(`.product .product-panel .accessories .chord-accessories-1`).hide()
                $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord - ${global_config.chord_order_page_config.size_map[e.value]}`)
                $('.product .product-panel .jobrad').show()
                $('.product .product-panel .leasing-logo').show()
            } else {
                $(`.product .product-panel .accessories .chord-accessories .active`).click()
                $(`.product .product-panel .accessories .chord-accessories`).hide()
                $(`.product .product-panel .accessories .chord-accessories-1`).show()
                $(`.product .product-panel .options > div[option="Frame"] .u17DemiBold_v2 .u17Light_v2`).text(`Chord X - ${global_config.chord_order_page_config.size_map[e.value]}`)
                $('.product .product-panel .jobrad').hide()
                $('.product .product-panel .leasing-logo').hide()
            }

            $(`.product .product-panel .accessories .items`).animate({
                scrollLeft: 0
            }, 300)
      })

      document.addEventListener('onChangeOptions', e => {
        console.log(e)

        $('.product-price').attr('data-price', getPriceFormat(e.value.price))

        if (e.value.Frame === 'High-Step') {
            $('.product-price').text(getPriceFormat(e.value.price - {{ settings.chord_ebike_discount_price }})).attr('data-price', getPriceFormat(e.value.price))

            $('.top-fixed .u17Light_v2 .emphasize').text(getPriceFormat(e.value.price - {{ settings.chord_ebike_discount_price }}))
            $('.top-fixed .u17Light_v2 :not(.emphasize)').text(getPriceFormat(e.value.price))

            $('.top-fixed .u14Light_v2').text(`or as low as ${getPriceFormat((e.value.price - {{ settings.chord_ebike_discount_price }}) / 24) }/Month`)

            $('.bottom-fixed .u14Light_v2 .emphasize').text(getPriceFormat(e.value.price - {{ settings.chord_ebike_discount_price }}))
            $('.bottom-fixed .u14Light_v2 :not(.emphasize)').text(getPriceFormat(e.value.price))

            $('.bottom-fixed .pppppp').text(`or as low as ${getPriceFormat((e.value.price - {{ settings.chord_ebike_discount_price }}) / 24) }/Month`)

            $('.orderTestRideBtn:not(.jobrad) .stages').text(getPriceFormat((e.value.price - {{ settings.chord_ebike_discount_price }}) / 24))
            $('.sale-taggggggg').show()
            $('.count-down').show()
        } else {
            $('.product-price').text(getPriceFormat(e.value.price)).attr('data-price', '')

            $('.top-fixed .u17Light_v2 .emphasize').text(getPriceFormat(e.value.price))
            $('.top-fixed .u17Light_v2 :not(.emphasize)').text('')

            $('.top-fixed .u14Light_v2').text(`or as low as ${getPriceFormat(e.value.price / 24) }/Month`)

            $('.bottom-fixed .u14Light_v2 .emphasize').text(getPriceFormat(e.value.price))
            $('.bottom-fixed .u14Light_v2 :not(.emphasize)').text('')

            $('.bottom-fixed .pppppp').text(`or as low as ${getPriceFormat((e.value.price) / 24) }/Month`)

            $('.orderTestRideBtn:not(.jobrad) .stages').text(getPriceFormat(e.value.price / 24))
            $('.sale-taggggggg').hide()
            $('.count-down').hide()
        }


        const swiper_arr = global_config.chord_order_page_config.product_images[e.value.Frame][e.value.Style].concat(global_config.chord_order_page_config.product_images[e.value.Frame]['commonSwiper'])

        $('.product .right-swiper .swiper-wrapper').html(swiper_arr.map((s, i) => {
            const index = i % 6

            return `<div class="swiper-slide">
                            <img src="${s}&width=700"/>
                            <div>
                                <span class="u20DemiBold_v2">${global_config.chord_order_page_config.product_media_images[index].text}</span>
                                <img src="${global_config.chord_order_page_config.product_media_images[index].img}&width=350">
                            </div>
                    </div>`
          }).join(''))
        $('.product .left-swiper .swiper-wrapper').html(swiper_arr.map(s => `<div class="swiper-slide"><img src="${s}"></div>`).join(''))
        $('.product .delivery_time').html(global_config.chord_order_page_config.ebike_delivery_time[e.value.id] || global_config.chord_order_page_config.ebike_default_delivery_time)
        
        // update
        setTimeout(() => {
            rightSwiper.update()
            rightSwiper.slideTo(0, 0)
            
            leftSwiper.update()
            leftSwiper.slideTo(0, 0)
        }, 0)

        const btn =  $('.product .buttons .addToCartBtn')
        if (e.value.available) {
            btn.find('span').text('{{ 'products.product.add_to_cart' | t }}')
            btn.removeClass('disabled')
            $('.product .buttons .orderTestRideBtn').show()
        } else {
            btn.find('span').text('Sold out')
            btn.addClass('disabled')
            $('.product .buttons .orderTestRideBtn').hide()
        }
      })


    function changeAddToCartText (parse, step = 0) {
        if (step) {
            $(".addToCartBtn i").toggleClass("showi");
            document.querySelector(".addToCartBtn span").innerHTML = "Adding...";
        } else {
            setTimeout(()=>{
                $(".addToCartBtn i").toggleClass("showi");
                document.querySelector(".addToCartBtn span").innerHTML = "{{ 'products.product.add_to_cart' | t }}";
            }, 800)
        }
    }

    function testRideTrace(type = '', target){

        // 如果已经有按钮 loading ,直接退出来
        if (!type || $('.orderTestRideBtn').hasClass('loading')) {
            return
        }
    
        const t = $(target)
    
        t.addClass('loading')
        // 原本的html 存起来
        const text = t.find('span').html()
        const loading = '<i class="fa fa-spinner fa-spin"></i>Processing...'
    
        // loading
        t.find('span').html(loading)
    
        
    
        if (type === 'lease_on_jobrad') {
            fetchBuried('websiteclick', `chord-order-page`, { button: type }, true)
    
            t.removeClass('loading')
            t.find('span').html(text)

            const bike_model = current_variant_options.Frame === 'High-Step' ? 'chord' : 'chordx'

            const url = window.sessionStorage.localPathPerfix + `/pages/ebike-leasing?bike_model=${bike_model}&bike_size=${current_variant_options.Frame}&bike_style=${current_variant_options.Style}&utm_source=chord_order_page#forms`

            return window.open(url)
        }
    
        if (type === 'klarna_check_out') {
            fetchBuried('websiteclick', `chord-order-page`, { button: type }, true)
            window.sessionStorage.clicked_klarna_checkout_button = 'clicked_klarna_checkout_button'
    
            setTimeout(() => {
                    t.removeClass('loading')
                    t.find('span').html(text)
                }, 2000)

            // 如果 B test 需要显示 klarna checkout
            window.show_notification_checkout_button = true
            return addToCartInsurance("atc", true)
        }
    }

    $('.accessories .navigate > div').on('click', e => {
        const items1 = $('.product .accessories .chord-accessories')
        const items2 = $('.product .accessories .chord-accessories-1')

        items1.animate({
            scrollLeft: items1.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)

        items2.animate({
            scrollLeft: items2.scrollLeft() + ($(e.target).hasClass('next') ? 180 : -180)
        }, 300)
    })

    $('.accessories .items .item').on('click', e => {
        const item = $(e.target).closest('.item')
        const icon = item.find('.u11Light_v2')

        if (item.hasClass('active')) {
            item.removeClass('active')
            icon.html('<i class="fa-solid fa-plus"></i>')
            
        } else {
            item.addClass('active')
            icon.html('<i class="fa-solid fa-check"></i>')
        }
    })

    $('.product .product-panel').on("submit", function (event) {

        // 阻止默认行为
        event.preventDefault();
        return false;
    })

    $('.product .dialogs > div').on('click', e => {
        const m = {
            0: 'one',
            1: 'two',
            2: 'three',
            3: 'four'
        }

        $('.product .dialogs > div').each((i, t) => {
            if ($(e.target).closest('.u17Medium_v2')[0] === t) {
                console.log(i)

                const layer = document.querySelector(`.order-modal-${m[i]}`);
                const laybox = document.querySelector(`.order-modal-layer-${m[i]}`);
                layer.style.display = "flex";
                laybox.className += " dialog-open";
            }
        })
    })

    $('.toTop').on('click', e => {
        $('html').animate({
            scrollTop: 0
        }, 300)
    })

    let currnetScroolTop = 0
    $(document).on('scroll', throttle(e => {
        const top1 = $('.maksim-big-banner').offset().top
        const top3 = $('.product .addToCartBtn').offset().top
        const top2 = $(e.target).scrollTop()

        const h = window.screen.height

        if (global_config.is_mobile) {
            if (top2 > top3) {
                $('.bottom-fixed').show()
            } else {
                $('.bottom-fixed').hide()
            }
        } else {
            if (top2 > top1) {
                $('.top-fixed').show()
            } else {
                $('.top-fixed').hide()
            }

            if (currnetScroolTop > top2) {
                $('.top-fixed').hide()
            }

            currnetScroolTop = top2
        }

        top2 > (h * 2) ? $('.toTop').show() : $('.toTop').hide()

    }, 300, 100))
</script>
{% render 'product-options', config_name: 'chord_order_page_config' %}
{% render 'chord-size-and-specs' %}

<div class="assembly">
		<div class="centeral-content" style="box-sizing: content-box;">
			<div class="gray-background-color">
				<div class="u36DemiBold_v2">90% assembly</div>
				<div class="u17DemiLight_v2">Delight in the convenience of our 90% pre-assembled e-bike package, making assembly a breeze!</div>
			</div>
			<div>
				<img onclick="showVideoDialog('https://www.youtube.com/embed/meJBiIp32E0?autoplay=1&amp;cc_load_policy=1')" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/openvideo-1667475097262.svg" alt="">
			</div>
		</div>
	</div>

<div class="centeral-content">{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}</div>

{% render 'chord-extra-code' %}

<script>
  global_config.is_mobile && new Swiper('.mediaaaaa .centeral-content', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.mediaaaaa .swiper-pagination' },
        speed: 300
    })
</script>

<script>
    const swiperrrrr = new Swiper('.swiperrrrr .centeral-content > div:first-child', {
        loop: true,
        speed: 1000,
        direction: global_config.is_mobile ? 'vertical' : 'horizontal',
        navigation: {
            nextEl: '.swiperrrrr .centeral-content .swiper-button-next',
            prevEl: '.swiperrrrr .centeral-content .swiper-button-prev',
        },
        on: {
            slideChange: function () {
                $('.swiperrrrr .texts .u17Light_v2').removeClass('active')
                $($('.swiperrrrr .texts .u17Light_v2')[this.realIndex]).addClass('active')
            },
        },
        pagination: {
           el:'.swiperrrrr .centeral-content .swiper-pagination'
         },
    })


    $('.swiperrrrr .texts .u17Light_v2').on('click', function (e) {
        $(this).closest('.texts').find('.u17Light_v2').removeClass('active')
        $(this).addClass('active')

        // console.log('index', )

        swiperrrrr.slideTo($(this).index())
    })
</script>

<script src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js" defer></script>